﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="TenantRenewalApproval.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_TenantRenewalApproval" MaintainScrollPositionOnPostback="true" %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%-- Works only in IE, Loads the page without any flickering on dropdon selected index change --%>
    <%--<meta http-equiv="Page-Enter" content="Alpha(opacity=99)">
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=0)">
    <meta http-equiv="Page-Exit" content="blendTrans(Duration=0)">--%>

    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    <%--<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
     <link href="../../../BlurScripts/BlurCss/vendor-3bab2c9961.css" rel="stylesheet" />
    <link href="../../../BlurScripts/BlurCss/app-b2b3cfd0e7.css" rel="stylesheet" />
    <link href="../../../BlurScripts/BlurCss/NonAngularScript.css" rel="stylesheet" />
    --%>





    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->
</head>
<script type="text/javascript">
    function setup(id) {
        $('#' + id).datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true
        });
    };
</script>
<body>
    <script type="text/javascript">
        function setup(id) {
            $('#' + id).datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true
            });
        };
    </script>
    <div class="animsition">
        <div class="al-content">
            <%-- <div class="widgets">
                <div ba-panel ba-panel-title="Add Tenant" ba-panel-class="with-scroll">
                    <div class="panel">
                        <div class="panel-heading" style="height: 41px;">
                            <h3 class="panel-title">Tenant Renewal Approve / Reject</h3>
                        </div>
                        <div class="panel-body" style="padding-right: 10px;">--%>
            <div class="widgets">
                <h3>Tenant Renewal Approve / Reject</h3>
            </div>
            <div class="card">
                <form id="form1" runat="server">
                    <asp:ValidationSummary ID="ValidationSummary1" runat="server" CssClass="alert alert-danger" ForeColor="Red" ValidationGroup="Val1" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="row">
                                    <asp:Label ID="lblMsg" runat="server" CssClass="col-md-12 control-label" ForeColor="Red">
                                    </asp:Label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="Tr1" runat="server" visible="false">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-5 control-label">Lease Type<span style="color: red;">*</span></label>
                                    <div class="col-md-7">
                                        <asp:DropDownList ID="ddlLtype" runat="Server" CssClass="form-control" data-live-search="true" AutoPostBack="True"></asp:DropDownList>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="row">
                                    <%--<label class="col-md-8 control-label">Search by Employee ID<span style="color: red;">*</span></label>--%>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <asp:TextBox ID="txtempid" runat="server" Visible="false" CssClass="form-control" MaxLength="15"></asp:TextBox>
                                        <asp:RequiredFieldValidator ID="rfvTxtEmpId" runat="server" ControlToValidate="txtempid" Display="None"
                                            ErrorMessage="Please Enter Employee ID"></asp:RequiredFieldValidator>
                                        <%--ValidationGroup="Val1"--%>
                                    </div>
                                    <div class="col-md-5">
                                        <asp:Button ID="btnsubmit" runat="server" Visible="false" CssClass="btn btn-primary custom-button-color" ValidationGroup="Val1" Text="Submit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <asp:HiddenField ID="hdnSNO" runat="server" />
                    <div class="row">
                        <div class="col-md-12">
                            <asp:GridView ID="gvLDetails_Lease" runat="server" AutoGenerateColumns="False" AllowSorting="True"
                                AllowPaging="True" PageSize="5" EmptyDataText="No Records Found." CssClass="table GridStyle" GridLines="none"
                                Style="font-size: 12px;">
                                <PagerSettings Mode="NumericFirstLast" />
                                <Columns>
                                    <asp:TemplateField HeaderText="Property Name">
                                        <ItemTemplate>
                                            <asp:Label ID="lblpname" runat="server" Text='<%#Eval("PM_PPT_NAME")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Location">
                                        <ItemTemplate>
                                            <asp:Label ID="lblLoc" runat="server" Text='<%#Eval("LCM_NAME")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Tenant Start Date">
                                        <ItemTemplate>
                                            <asp:Label ID="lblsdate" runat="server" Text='<%#Eval("PM_RT_START_DT")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Tenant Expiry Date">
                                        <ItemTemplate>
                                            <asp:Label ID="lblEdate" runat="server" Text='<%#Eval("PM_RT_END_DT")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>

                                    <asp:TemplateField HeaderText="Renewal Requested From date">
                                        <ItemTemplate>
                                            <asp:Label ID="lblRewFromdt" runat="server" Text='<%#Eval("REQUESTED_DATE")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Renewal Requested To date">
                                        <ItemTemplate>
                                            <asp:Label ID="lblRewTodt" runat="server" Text='<%#Eval("REQUESTED_TO_DATE")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>

                                    <asp:TemplateField HeaderText="Tenant">
                                        <ItemTemplate>
                                            <asp:Label ID="lblten" runat="server" Text='<%#Eval("TENANT")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>

                                    <asp:TemplateField HeaderText="Renewal Requested By">
                                        <ItemTemplate>
                                            <asp:Label ID="Lbluser" runat="server" Text='<%#Eval("REQUESTED_BY")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>

                                    <asp:TemplateField HeaderText="View Details">
                                        <ItemTemplate>
                                            <a href="#" onclick="showPopWin('<%# Eval("SNO") %>')">
                                                <asp:Label ID="lbltencode" runat="server" Text="View Details"></asp:Label>
                                            </a>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                </Columns>
                                <HeaderStyle BackColor="#366599" ForeColor="#E2E2E2" />
                                <PagerStyle CssClass="pagination-ys" />
                            </asp:GridView>
                        </div>
                    </div>
                    <br />
                </form>
            </div>
        </div>
        <%--  </div>
            </div>
        </div>--%>
    </div>
    <div class="modal fade" id="myModal" tabindex='-1'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="align-items-center justify-content-between">
                        <h5 class="modal-title" id="H1">View Tenant Renewal Details</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modelcontainer">
                    <iframe id="modalcontentframe" src="#" width="100%" height="450px" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>

    <script>
        function showPopWin(id) {
            var type = 1;
            $("#modalcontentframe").attr("src", "../../PropertyManagement/Views/TenantRenew.aspx?Renewal=" + id + "&Type=" + type);
            $("#myModal").modal('show');
        }
    </script>
</body>
</html>
