<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="AssetMovementReportDtls.aspx.vb" Inherits="FAM_FAM_Webfiles_AssetMovementReportDtls"
   Title="Asset Movement Report Details" %>

<%@ Register Src="../../Controls/AssetMovementReportDtls.ascx" TagName="AssetMovementReportDtls"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:AssetMovementReportDtls ID="AssetMovementReportDtls1" runat="server" />
</asp:Content>
