﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DisposalApprovedReport.aspx.cs" Inherits="FAM_FAM_Webfiles_DisposalApprovedReport" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>


<!DOCTYPE html>

<html lang="en">
<head runat="server">
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    <link href="../../BlurScripts/BlurCss/vendor-3bab2c9961.css" rel="stylesheet" />
    <link href="../../BlurScripts/BlurCss/app-b2b3cfd0e7.css" rel="stylesheet" />
    <link href="../../BlurScripts/BlurCss/NonAngularScript.css" rel="stylesheet" />
    <link href='http://localhost:58331/fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->

   
</head>
<body>
     <div class="animsition">
          <div class="al-content">
               <div class="widgets">
                    <div ba-panel ba-panel-title="Country Master" ba-panel-class="with-scroll">
                        <div class="panel">
                            <div class="panel-heading" style="height: 41px;">
                            <h3 class="panel-title">Dispose Report</h3>
                        </div>
                               <div class="panel-body" >
                            <form id="form1" runat="server">
                                 <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
                                 <div class="row table table table-condensed table-responsive">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <rsweb:ReportViewer ID="ReportViewer1" runat="server" Width="100%"  ></rsweb:ReportViewer>
                                    </div>
                                </div>
                                     </div>
                            </form>
                        </div>
                        </div>
                    </div>
               </div>
          </div>
     </div>
      <script src="../../Scripts/moment.min.js"></script>
    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>
</body>
    </html>