<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="Edit_Maintain_Schedule.aspx.vb" Inherits="FAM_FAM_Webfiles_Edit_Maintain_Schedule"
    Title="Edit Maintenance Schedule Details" %>

<%@ Register Src="../../Controls/Edit_Maintain_Schedule.ascx" TagName="Edit_Maintain_Schedule"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:Edit_Maintain_Schedule ID="Edit_Maintain_Schedule1" runat="server" />
</asp:Content>
