<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAssetRejectRequisitions.aspx.vb" Inherits="FAM_FAM_Webfiles_frmAssetRejectRequisitions" title="Untitled Page" %>

<%@ Register Src="../../Controls/AssetRejectRequisitions.ascx" TagName="AssetRejectRequisitions"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AssetRejectRequisitions ID="AssetRejectRequisitions1" runat="server" />
</asp:Content>

