<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/MasterPage.master" CodeFile="frmAssetLocation.aspx.vb"
    Inherits="frmAssetLocation" %>

<%@ Register Src="~/Controls/ucAssetLocation.ascx" TagName="ucAssetLocation" TagPrefix="uc3" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

            <uc3:ucAssetLocation ID="ucAssetLocation" runat="server" />
       
    </asp:Content>




