<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAdmITApproval.aspx.vb" Inherits="FAM_FAM_Webfiles_frmAdmITApproval" title="Admin/IT Approval" %>

<%@ Register Src="../../Controls/AdmITApproval.ascx" TagName="AdmITApproval" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AdmITApproval ID="AdmITApproval1" runat="server" />
</asp:Content>

