<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAssetDisposalReport.aspx.vb" Inherits="FAM_FAM_Webfiles_frmAssetDisposalReport" title="Asset Disposal Report" %>

<%@ Register Src="../../Controls/AssetDisposalReport.ascx" TagName="AssetDisposalReport"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AssetDisposalReport ID="AssetDisposalReport1" runat="server" />
</asp:Content>

