<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAddSpace.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmAddSpace" title="Masters" %>

<%@ Register Src="../../Controls/AddSpace.ascx" TagName="AddSpace" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AddSpace id="AddSpace1" runat="server">
    </uc1:AddSpace>
</asp:Content>

