﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmConsumableItemIssuance.aspx.vb" Inherits="FAM_FAM_Webfiles_frmConsumableItemIssuance" %>

<%@ Register Src="~/Controls/ConsumableItemIssuance.ascx" TagPrefix="uc1" TagName="ConsumableItemIssuance" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:ConsumableItemIssuance runat="server" ID="ConsumableItemIssuance" />
</asp:Content>

