<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmComapreAssets.aspx.vb" Inherits="FAM_FAM_Webfiles_frmComapreAssets" title="Cpmapre Asset Barcode Data" %>

<%@ Register Src="../../Controls/ComapreAssets.ascx" TagName="ComapreAssets" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:ComapreAssets ID="ComapreAssets1" runat="server" />
</asp:Content>

