<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmEditSpace.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmEditSpace" title="Masters" %>

<%@ Register Src="../../Controls/EditSpace.ascx" TagName="EditSpace" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:EditSpace id="EditSpace1" runat="server">
    </uc1:EditSpace>
</asp:Content>

