<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="frmEditAssetPrices.aspx.vb" Inherits="FAM_FAM_Webfiles_frmEditAssetPrices"
    Title="Edit Asset Price" %>

<%@ Register Src="../../Controls/EditAssetPrices.ascx" TagName="EditAssetPrices"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:EditAssetPrices ID="EditAssetPrices1" runat="server" />
</asp:Content>
