﻿<%@ Page Language="VB" %>

<%@ Register Src="~/Controls/GenerateIssuePrint.ascx" TagPrefix="uc1" TagName="GenerateIssuePrint" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Print PO Details</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <uc1:GenerateIssuePrint runat="server" ID="GenerateIssuePrint" />
        </div>
    </form>
</body>
</html>
