<%@ Page Language="VB" %>

<%@ Register Src="../../Controls/GeneratePOPrint.ascx" TagName="GeneratePOPrint"
    TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Print PO Details</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <uc1:GeneratePOPrint ID="GeneratePOPrint1" runat="server" />
    
    </div>
    </form>
</body>
</html>
