<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmInterMovReq.aspx.vb" Inherits="FAM_FAM_Webfiles_frmInterMovReq" title="Inter Movement Requisition" %>

<%@ Register Src="../../Controls/InterMovementReq.ascx" TagName="InterMovementReq"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:InterMovementReq ID="InterMovementReq1" runat="server" />
</asp:Content>

