<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmItemRequisitionDetails.aspx.vb" Inherits="FAM_FAM_Webfiles_frmItemRequisitionDetails" title="Untitled Page" %>

<%@ Register Src="../../Controls/ItemRequisitionDetails.ascx" TagName="ItemRequisitionDetails"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:ItemRequisitionDetails ID="ItemRequisitionDetails1" runat="server" />
</asp:Content>

