<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmModifyStockItems.aspx.vb" Inherits="FAM_FAM_Webfiles_frmModifyStockItems" title="Modify Asset" %>

<%@ Register Src="../../Controls/ModifyStockItems.ascx" TagName="ModifyStockItems"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:ModifyStockItems id="ModifyStockItems1" runat="server">
    </uc1:ModifyStockItems>
</asp:Content>

