<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmMaintenanceSummaryReport.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmMaintenanceSummaryReport" title="Maintenance Summary Report" %>

<%@ Register Src="../../Controls/MaintenanceSummaryReport.ascx" TagName="MaintenanceSummaryReport"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:MaintenanceSummaryReport ID="MaintenanceSummaryReport1" runat="server" />
</asp:Content>

