<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmProblemAssetsRMApproval.aspx.vb" Inherits="FAM_FAM_Webfiles_frmProblemAssetsRMApproval" title="Rm Approval" %>

<%@ Register Src="../../Controls/ProblemAssetsRMApproval.ascx" TagName="ProblemAssetsRMApproval"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:ProblemAssetsRMApproval ID="ProblemAssetsRMApproval1" runat="server" />
</asp:Content>

