<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmRaiseMaintenanceRequest.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmRaiseMaintenanceRequest" %>

<%@ Register Src="../../Controls/RaiseMaintenanceRequest.ascx" TagName="RaiseMaintenanceRequest"
    TagPrefix="uc1" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:RaiseMaintenanceRequest ID="RaiseMaintenanceRequest1" runat="server" />
   
</asp:Content>

