<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="frmRequesitionReport.aspx.vb" Inherits="FAM_FAM_Webfiles_frmRequesitionReport"
    Title="Requisition Report" %>

<%@ Register Src="../../Controls/RequesitionReport.ascx" TagName="RequesitionReport"
    TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:RequesitionReport ID="RequesitionReport1" runat="server" />
</asp:Content>
