<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmRejectAsset.aspx.vb" Inherits="FAM_FAM_Webfiles_frmRejectAsset" title="Untitled Page" %>

<%@ Register Src="../../Controls/RejectAsset.ascx" TagName="RejectAsset" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:RejectAsset ID="RejectAsset1" runat="server" />
</asp:Content>

