<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/MasterPage.master"  CodeFile="frmStockReport.aspx.vb"
    Inherits="frmStockReport" %>

<%@ Register Src="~/Controls/StockReport.ascx" TagName="ucStockReport" TagPrefix="uc5" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

            <uc5:ucStockReport ID="ucStockReport" runat="server" />
    </asp:content>
     
