<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmUpdateMaintenanceSchedule.aspx.vb" Inherits="FAM_FAM_Webfiles_frmUpdateMaintenanceSchedule" title="Update Maintenance Schedule" %>

<%@ Register Src="../../Controls/UpdateMaintenanceSchedule.ascx" TagName="UpdateMaintenanceSchedule"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:UpdateMaintenanceSchedule ID="UpdateMaintenanceSchedule1" runat="server" />
</asp:Content>

