<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Showpopup.aspx.vb" Inherits="Showpopup" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>

    <script type="text/javascript" src="js1/modal/common.js"></script>

    <script type="text/javascript" src="js1/modal/subModal.js"></script>

    <link href="js1/modal/subModal.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <span><a href="#" title="Name" onclick="showPopWin('frmAstLocationSummary.aspx',850,338,'')">test</a>
            </span>
            
        </div>
        

    </form>
</body>
</html>
