<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="UpdateConsumablesstock.aspx.vb" Inherits="FAM_FAM_Webfiles_UpdateConsumablesstock"
    Title="Update Consumable Asset Stock" %>

<%@ Register Src="../../Controls/UpdateConsumablesstock.ascx" TagName="UpdateConsumablesstock"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:UpdateConsumablesstock ID="UpdateConsumablesstock1" runat="server" />
</asp:Content>
