﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin Panel</title>
    <link href="../../BootStrapCSS/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="../../BootStrapCSS/bootstrap-select.min.css" rel='stylesheet' type='text/css' />
    <link href="../../BootStrapCSS/amantra.min.css" rel='stylesheet' type='text/css' />
    <link href="../../BootStrapCSS/font-awesome/css/font-awesome.min.css" rel='stylesheet' type='text/css' />
    <link href="../../BootStrapCSS/datepicker.min.css" rel='stylesheet' type='text/css' />


    
    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
        <div id="page-wrapper" class="row">
            <div class="row form-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Admin panel 
                            </legend>
                        </fieldset>
                        <form id="form1" class="form-horizontal" runat="server">
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="CountrywiseCustomers">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div id="Customerwiseemployeecount"></div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-primary" data-container="body" data-toggle="popoverprop" data-placement="left"
                                        style="width: 150px; text-align: left">
                                        <i style="text-align: right">
                                            <img src="../../Dashboard/Images/property_icon.png" style="height: 35px; width: 26px" /></i>&nbsp;&nbsp;&nbsp;Property&nbsp;&nbsp;&nbsp;
                                            <span class="badge">
                                                <label for="lblpropertycount"></label>
                                            </span>
                                    </button>
                                    <br />
                                    <br />
                                    <button type="button" class="btn btn-warning" data-container="body" data-toggle="popoverspace" data-placement="left"
                                        style="width: 150px; text-align: left">
                                        <i>
                                            <img src="../../Dashboard/Images/sapce_icon.png" style="height: 35px; width: 26px" /></i> &nbsp;&nbsp;&nbsp;Space&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span class="badge">
                                            <label for="lblspacecount"></label>
                                        </span>
                                    </button>
                                    <br />
                                    <br />
                                    <button type="button" class="btn btn-danger" data-container="body" data-toggle="popoverasset" data-placement="left"
                                        style="width: 150px; text-align: left">
                                        <i>
                                            <img src="../../Dashboard/Images/asset_icon.png" style="height: 35px; width: 26px" /></i> &nbsp;&nbsp;&nbsp;Asset &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span class="badge">
                                            <label for="lblassetcount"></label>
                                        </span>
                                    </button>
                                    <br />
                                    <br />
                                    <button type="button" class="btn btn-info" data-container="body" data-toggle="popovermaintenance" data-placement="left"
                                        style="width: 150px; text-align: left">
                                        <i>
                                            <img src="../../Dashboard/Images/maintenance_icon.png" style="height: 35px; width: 26px" /></i>Maintenance
                                        <span class="badge">
                                            <label for="lblmaintenancecount"></label>
                                        </span>
                                    </button>
                                    <br />
                                    <br />
                                    <button type="button" class="btn btn-success" data-container="body" data-toggle="popoverhelpdesk" data-placement="left"
                                        style="width: 150px; text-align: left">
                                        <i class="fa fa-support"></i>&nbsp;&nbsp;&nbsp;&nbsp;Help Desk&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span class="badge">
                                            <label for="lblhelpdeskcount"></label>
                                        </span>
                                    </button>
                                    <br />
                                    <br />
                                    <button type="button" class="btn btn-warning" data-container="body" data-toggle="popoverconference" data-placement="left"
                                        style="width: 150px; text-align: left">
                                        <i>
                                            <img src="../../Dashboard/Images/conference_icon.png" style="height: 35px; width: 26px" /></i>&nbsp;Conference&nbsp;&nbsp;
                                        <span class="badge">
                                            <label for="lblconferencecount"></label>
                                        </span>
                                    </button>
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Licence extension</h3>
                                        </div>
                                        <div class="panel-body">
                                            <table id="tblCustomerexpirydata" class="table table-condensed table-bordered table-hover table-striped">
                                                <tr>
                                                    <th>Customers</th>
                                                    <th>Country</th>
                                                    <th>Start Date</th>
                                                    <th>Expiry Date</th>
                                                    <th>Extend To</th>
                                                    <th>Update</th>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Employee extension</h3>
                                        </div>
                                        <div class="panel-body">
                                            <table id="tblcustomerwiseemplimit" class="table table-condensed table-bordered table-hover table-striped">
                                                <tr>
                                                    <th>Country</th>
                                                    <th>Customer</th>
                                                    <th>Employee Limit</th>
                                                    <th>Extend UpTo</th>
                                                    <th>Update</th>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Customer wise transaction count</h3>
                                        </div>
                                        <div class="panel-body">
                                            <table id="tblcutomertransactioncount" class="table table-condensed table-bordered table-hover table-striped">
                                                <tr>
                                                    <th>Customers</th>
                                                    <th>Transaction</th>
                                                    <th>Count</th>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-4">
                                    <a href="#" id="AncTotalCust">
                                        <div class="alert alert-info" data-toggle="modal" data-target="#totalcustomers">
                                            <span class="glyphicon glyphicon-tree-conifer" style="padding-right: 15px;"></span>Total Customers
                                            <label for="lbltotalcust" style="padding-left: 111px;"></label>
                                        </div>
                                    </a>
                                    <a href="#" id="Anc14daystrialcustomer">
                                        <div class="alert alert-success" role="alert" data-toggle="modal" data-target="#14daystrialcustomermodal">
                                            <span class="glyphicon glyphicon-thumbs-up" style="padding-right: 15px;"></span>14-Days Trial Customers                                            
                                            <label for="lbl14daystc" style="padding-left: 65px;"></label>
                                        </div>
                                    </a>
                                    <a href="#" id="Anc14daystrialexpiredcustomer">
                                        <div class="alert alert-danger" role="alert" data-toggle="modal" data-target="#14daystrialexpiredcustomermodal">
                                            <span class="glyphicon glyphicon-thumbs-down" style="padding-right: 15px;"></span>14-Days Trial Expired Customers
                                            <label for="lbl14daystexpc" style="padding-left: 15px;"></label>
                                        </div>
                                    </a>

                                    <a href="#" id="AncSubscribedCust">
                                        <div class="alert alert-warning" role="alert" data-toggle="modal" data-target="#subscribedcustomers">
                                            <span class="glyphicon glyphicon-star-empty" style="padding-right: 15px;"></span>Subscribed Active Customers
                                            <label for="lblsubscust" style="padding-left: 37px;"></label>
                                        </div>
                                    </a>

                                    <a href="#" id="AncSubscribedInactiveCust">
                                        <div class="alert" style="background-color: silver" role="alert" data-toggle="modal" data-target="#subscribedinactivecustomers">
                                            <span class="glyphicon glyphicon-star-empty" style="padding-right: 15px;"></span>Subscribed InActive Customers
                                            <label for="lblsubsinactivecust" style="padding-left: 28px;"></label>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="modal fade" id="msgpopup">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="text-center">
                                            <label for="lblmessage"></label>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->

                            <div class="modal fade" id="14daystrialcustomermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">14-Days Trial Customers</h4>
                                        </div>
                                        <div class="modal-body">
                                            <table id="tbl14trialcust" class="table table-condensed table-bordered table-hover table-striped">
                                                <tr>
                                                    <th>Tenant</th>
                                                    <th>Country</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Modules</th>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="14daystrialexpiredcustomermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="H1">14-Days Trial Expired customers</h4>
                                        </div>
                                        <div class="modal-body">
                                            <table id="tbl14daystrialexpcust" class="table table-condensed table-bordered table-hover table-striped">
                                                <tr>
                                                    <th>Tenant</th>
                                                    <th>Country</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Modules</th>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="totalcustomers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="H2">Total No Of Customers</h4>
                                        </div>
                                        <div class="modal-body">
                                            <table id="tbltotalcust" class="table table-condensed table-bordered table-hover table-striped">
                                                <tr>
                                                    <th>Tenant</th>
                                                    <th>Country</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Modules</th>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="subscribedcustomers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="H3">Subscribed Active Customers</h4>
                                        </div>
                                        <div class="modal-body">
                                            <table id="tblsubscust" class="table table-condensed table-bordered table-hover table-striped">
                                                <tr>
                                                    <th>Tenant</th>
                                                    <th>Country</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Modules</th>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="subscribedinactivecustomers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="H4">Subscribed InActive Customers</h4>
                                        </div>
                                        <div class="modal-body">
                                            <table id="tblsubsinactivecust" class="table table-condensed table-bordered table-hover table-striped">
                                                <tr>
                                                    <th>Tenant</th>
                                                    <th>Country</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Modules</th>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="../../BootStrapCSS/Scripts/jquery.min.js"></script>
<script src="../../BootStrapCSS/Scripts/bootstrap.min.js"></script>
<script src="../../BootStrapCSS/Scripts/bootstrap-select.min.js"></script>

<!--cleardates function-->
<script src="../../BootStrapCSS/Scripts/bootstrap-datepicker.min.js"></script>
<!--<script src="../../BootStrapCSS/Scripts/ObjectKeys.min.js"></script>-->
<script src="../../BootStrapCSS/Scripts/wz_tooltip.min.js"></script>
<!--<script src="../../BootStrapCSS/Scripts/bootstrap.file-input.js"></script>
<script src="../../BootStrapCSS/Scripts/fileuploadJS.js"></script>
<script src="../../BootStrapCSS/Scripts/modernizr.min.js"></script>-->
<script src="../../Dashboard/C3/d3.v3.min.js"></script>
<script src="../../Dashboard/C3/c3.min.js"></script>
<link href="../../Dashboard/C3/c3.css" rel="stylesheet" />


<script>
    $(document).ready(function () {

        //#region graphs
        funfillCountrywiseCustomersgraph();
        funfillCustomerwiseemployeecountgraph();
        //# graphs endregion

        //Customers Count Module Wise
        fnfillTotalCustomersModuleWise();

        //Customers Count Module Wise end region


        //Module wise Customers on Popover 
        GetCustomersByModulespopover();

        //Module wise Customers on Popover end region   

        //total Customers Count/Details
        funfilltotalcustomers();
        //total Customers Count/Details end region

        //14days trial Customers Count/Details
        funfill14daystrialcust();
        //14days trial Customers Count/Details end region

        //14days trial Expired Customers Count/Details
        funLoad14daystrialexpCustomers();
        //14days trial Expired Customers Count/Details end region

        //Subscribed Active Customers Count/Details 
        funfillsubscribedcust();
        //Subscribed Active Customers Count/Details end region

        //Subscribed Active Customers Count/Details 
        funfillsubscribedInactcust();
        //Subscribed Active Customers Count/Details  end Region

        //Licence extension
        fillExdt();
        Licenceextensionupdate();
        //Licence extension end region

        //Cust count 
        fillCustomersEmpcount();
        customerwiseemplimitupdate();
        //Cust count end region


        //Customer transcation count
        funfillCustomertranscationcount();
        //Customer transcation count end region


        function customerwiseemplimitupdate() {
            $('#tblcustomerwiseemplimit').on('click', 'button[type="button"]', function (e) {

                var count = $($(this).closest('tr').find('td:eq(3)').children()).val();
                var tenName = $(this).closest('tr').find('td:eq(1)').text();
                var updatebtn = $(this);

                var prevcount = $(this).closest('tr').find('td:eq(2)');
                var countval = $($(this).closest('tr').find('td:eq(3)').children());

                var Model = { 'TenName': tenName, 'ExtCount': count };

                if (count != "") {
                    $("#msgpopup").modal('hide');

                    $.ajax({
                        type: "POST",
                        url: '../../api/GlobalAdminPanelAPI/UpdateCustEmployeeCount',
                        async: true,
                        cache: false,
                        data: Model,
                        dataType: "json",
                        beforeSend: function () {
                            $(updatebtn).html("Updating..").delay(5000);
                        },
                        success: function (msg) {

                            prevcount.html(Model.ExtCount);
                            countval.val('');
                            $(updatebtn).html("Updated");
                            func(updatebtn);
                        },
                        failure: function (response) {
                        }
                    });
                }
                else {
                    $("label[for='lblmessage']").html("Enter Count");
                    $("#msgpopup").modal('show');

                }
            });
        }

        //Licence extension data binding
        function fillExdt() {
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/GettotalCustDetails',
                data: {},
                contentType: "application/json; charset=utf-8",
                type: "get",
                success: function (data) {
                    var table = $('#tblCustomerexpirydata');
                    for (var i = 0; i < data.length; i++) {
                        table.append("<tr>" +
                            "<td>" + data[i].TENANT_NAME + "</td>" +
                            "<td>" + data[i].TENANT_COUNTRY + "</td>" +
                            "<td>" + data[i].TENANT_START_DT + "</td>" +
                            "<td>" + data[i].TENANT_END_DT + "</td>" +
                            "<td><div class='input-group date datepicker' id='extdate" + i + "'><input name='txtextdate' type=text id='txtextdate'  class=form-control required/><span class=input-group-addon><span class='fa fa-calendar' onclick=setup('extdate" + i + "')></span></span></div></td>" +
                            "<td><button type='button' class='btn btn-primary'> Update</button></td>" +
                            //"<td><button type='button' class='btn btn-lg btn-warning' data-target='#divmsg'><span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span> Loading...</button></td>"+
                            "</tr>");
                    }
                }
            });
        }

        //14-days Trial Customers Count/Details
        function funfill14daystrialcust() {
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/Get14DaysTrialCustDetails',
                data: {},
                contentType: "application/json; charset=utf-8",
                type: "get",
                success: function (data) {
                    $("label[for='lbl14daystc']").html(data.length);
                    var table = $('#tbl14trialcust');
                    for (var i = 0; i < data.length; i++) {
                        table.append("<tr>" +
                            "<td>" + data[i].TENANT_NAME + "</td>" +
                            "<td>" + data[i].TENANT_COUNTRY + "</td>" +
                            "<td>" + data[i].TENANT_START_DT + "</td>" +
                            "<td>" + data[i].TENANT_END_DT + "</td>" +
                            "<td>" + data[i].MODULES + "</td>" +
                            "</tr>");
                    }
                    if (data.length == 0) {
                        table.append("<tr>" + "<td colspan='5' align='center'> No Trial Customers </td>" + "</tr>");
                    }
                }
            });
        }

        function funLoad14daystrialexpCustomers() {
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/Get14daystrialexpcustDetails',
                data: {},
                contentType: "application/json; charset=utf-8",
                type: "get",
                success: function (data) {
                    $("label[for='lbl14daystexpc']").html(data.length);
                    var table = $('#tbl14daystrialexpcust');
                    for (var i = 0; i < data.length; i++) {
                        table.append("<tr>" +
                            "<td>" + data[i].TENANT_NAME + "</td>" +
                            "<td>" + data[i].TENANT_COUNTRY + "</td>" +
                            "<td>" + data[i].TENANT_START_DT + "</td>" +
                            "<td>" + data[i].TENANT_END_DT + "</td>" +
                            "<td>" + data[i].MODULES + "</td>" +
                            "</tr>");
                    }
                    if (data.length == 0) {
                        table.append("<tr>" + "<td colspan='5' align='center'> No Trial Expired Customers </td>" + "</tr>");
                    }
                }
            });
        }

        //14DaysTrial customers Count
        function funfill14dtrialcustCount() {
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/Get14DaysTrialCustDetails',
                data: {},
                contentType: "application/json; charset=utf-8",
                type: "get",
                success: function (data) {
                    $("label[for='lbl14daystc']").html(data.length);
                }
            });
        }

        //Subscribed Active Customers Details/Count
        function funfillsubscribedcust() {
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/GetSubscribedCustDetails',
                data: {},
                contentType: "application/json; charset=utf-8",
                type: "get",
                success: function (data) {
                    $("label[for='lblsubscust']").html(data.length);
                    var table = $('#tblsubscust');
                    for (var i = 0; i < data.length; i++) {
                        table.append("<tr>" +
                            "<td>" + data[i].TENANT_NAME + "</td>" +
                            "<td>" + data[i].TENANT_COUNTRY + "</td>" +
                            "<td>" + data[i].TENANT_START_DT + "</td>" +
                            "<td>" + data[i].TENANT_END_DT + "</td>" +
                            "<td>" + data[i].MODULES + "</td>" +
                            "</tr>");
                    }
                    if (data.length == 0) {
                        table.append("<tr>" + "<td colspan='5' align='center'> No Subscribed Active Customers </td>" + "</tr>");
                    }
                }
            });
        }


        //Subscribed InActive Customers Details/Count
        function funfillsubscribedInactcust() {
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/GetSubscribedInactCustDetails',
                data: {},
                contentType: "application/json; charset=utf-8",
                type: "get",
                success: function (data) {
                    $("label[for='lblsubsinactivecust']").html(data.length);
                    var table = $('#tblsubsinactivecust');
                    for (var i = 0; i < data.length; i++) {
                        table.append("<tr>" +
                            "<td>" + data[i].TENANT_NAME + "</td>" +
                            "<td>" + data[i].TENANT_COUNTRY + "</td>" +
                            "<td>" + data[i].TENANT_START_DT + "</td>" +
                            "<td>" + data[i].TENANT_END_DT + "</td>" +
                            "<td>" + data[i].MODULES + "</td>" +
                            "</tr>");
                    }
                    if (data.length == 0) {
                        table.append("<tr>" + "<td colspan='5' align='center'> No Subscribed InActive Customers </td>" + "</tr>");
                    }
                }
            });
        }

        //Subscribed Active Customers Count
        function funfillsubscribedcustCount() {
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/GetSubscribedCustDetails',
                data: {},
                contentType: "application/json; charset=utf-8",
                type: "get",
                success: function (data) {
                    $("label[for='lblsubscust']").html(data.length);
                }
            });
        }

        //Subscribed InActive Customers Count
        function funfillsubscribedInactcustCount() {
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/GetSubscribedInactCustDetails',
                data: {},
                contentType: "application/json; charset=utf-8",
                type: "get",
                success: function (data) {
                    $("label[for='lblsubsinactivecust']").html(data.length);
                }
            });
        }

        //14 days exp count
        function funfill14daysexpcount() {
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/Get14daystrialexpcustDetails',
                data: {},
                contentType: "application/json; charset=utf-8",
                type: "get",
                success: function (data) {
                    $("label[for='lbl14daystexpc']").html(data.length);
                }
            });
        }

        function fillCustomersEmpcount() {
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/GetCustomeremplimit',
                data: {},
                contentType: "application/json; charset=utf-8",
                type: "get",
                success: function (data) {
                    var table = $('#tblcustomerwiseemplimit');
                    for (var i = 0; i < data.length; i++) {
                        table.append("<tr>" +
                            "<td>" + data[i].COUNTRY + "</td>" +
                            "<td>" + data[i].CUSTOMER_NAME + "</td>" +
                            "<td>" + data[i].EMPLIMIT + "</td>" +
                            "<td><input name=txtextemplimit type=text id=txtextemplimit class=form-control /></td>" +
                            "<td><button type='button' class='btn btn-primary' data-toggle='modal' data-target='.bs-example-modal-sm'>Update</button></td>" +
                            "</tr>");
                    }
                }
            });
        }

        //Total Customers
        function funfilltotalcustomers() {
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/GettotalCustDetails',
                data: {},
                contentType: "application/json; charset=utf-8",
                type: "get",
                success: function (data) {
                    $("label[for='lbltotalcust']").html(data.length);
                    var table = $('#tbltotalcust');
                    for (var i = 0; i < data.length; i++) {
                        table.append("<tr>" +
                            "<td>" + data[i].TENANT_NAME + "</td>" +
                            "<td>" + data[i].TENANT_COUNTRY + "</td>" +
                            "<td>" + data[i].TENANT_START_DT + "</td>" +
                            "<td>" + data[i].TENANT_END_DT + "</td>" +
                            "<td>" + data[i].MODULES + "</td>" +
                            "</tr>");
                    }
                    if (data.length == 0) {
                        table.append("<tr>" + "<td colspan='5' align='center'> No Customers </td>" + "</tr>");
                    }
                }
            });
        }


        function funfillCustomertranscationcount() {
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/GetCustomertranscationcount',
                data: {},
                contentType: "application/json; charset=utf-8",
                type: "get",
                dataType: 'json',
                success: function (data) {
                    var table = $('#tblcutomertransactioncount');
                    for (var i = 0; i < data.length; i++) {
                        table.append("<tr>" +
                            "<td>" + data[i].CUSTOMER + "</td>" +
                            "<td>" + data[i].C_TABLENAME + "</td>" +
                            "<td>" + data[i].CNT + "</td>" +
                            "</tr>");
                    }
                }
            });
        }

        //Country wise Customers graph
        function funfillCountrywiseCustomersgraph() {
            var CountrywiseCustomers = c3.generate({
                data: {
                    columns: [],
                    type: 'donut',
                    onclick: function (d, i) { console.log("onclick", d, i); },
                    onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                    onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                },
                donut: {
                    title: "Country wise customers"
                },
                axis: {
                    x: {
                        position: 'outer-center',
                    },
                }
            });


            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/GetAllCountryCustomers',
                type: 'get',
                success: function (result) {

                    CountrywiseCustomers.load({ columns: result });
                }
            });
            $("#CountrywiseCustomers").append(CountrywiseCustomers.element);
        }

        //Customer wise employeecount graph
        function funfillCustomerwiseemployeecountgraph() {

            var Customerwiseemployeecount = c3.generate({
                data: {
                    columns: [],
                    type: 'bar',
                    //onclick: function (d, i) { console.log("onclick", d, i); },
                    //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                    //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                },
                axis: {
                    x: {
                        type: 'category',
                        categories: ["Customers"],
                    },
                    y: {
                        show: true,
                        label: {
                            text: 'Employees Count',
                            position: 'outer-middle',
                        }
                    }
                },
                bar: {
                    title: "Country wise customers"
                }
            });
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/GetCustomerwiseempcount',
                type: 'get',
                success: function (result) {
                    Customerwiseemployeecount.load({ columns: result });
                }
            });
            $("#Customerwiseemployeecount").append(Customerwiseemployeecount.element);
        }

        //pop over customers count
        function fnfillTotalCustomersModuleWise() {
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/GetTotalCustomersModuleWise',
                data: {},
                contentType: "application/json; charset=utf-8",
                type: "get",
                dataType: 'json',
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].T_MODULE == "Asset") {
                            $("label[for='lblassetcount']").html(data[i].MODCOUNT);
                        }
                        else if (data[i].T_MODULE == "Conference") {
                            $("label[for='lblconferencecount']").html(data[i].MODCOUNT);
                        }
                        else if (data[i].T_MODULE == "Helpdesk") {
                            $("label[for='lblhelpdeskcount']").html(data[i].MODCOUNT);
                        }
                        else if (data[i].T_MODULE == "Maintenance") {
                            $("label[for='lblmaintenancecount']").html(data[i].MODCOUNT);
                        }
                        else if (data[i].T_MODULE == "Property") {
                            $("label[for='lblpropertycount']").html(data[i].MODCOUNT);
                        }
                        else if (data[i].T_MODULE == "Space") {
                            $("label[for='lblspacecount']").html(data[i].MODCOUNT);
                        }
                    }
                }
            });
        }

        //Customers ByModules popover
        function GetCustomersByModulespopover() {
            $.ajax({
                url: '../../api/GlobalAdminPanelAPI/GetCustomersByModules',
                data: {},
                contentType: "application/json; charset=utf-8",
                type: "get",
                dataType: 'json',
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].T_MODULE == "Asset") {
                            //$("[data-toggle=popoverasset]").popover();
                            $("[data-toggle=popoverasset]").popover().attr('data-content', data[i].CUSTOMERS);
                        }
                        else if (data[i].T_MODULE == "Conference") {
                            $("[data-toggle=popoverconference]").popover().attr('data-content', data[i].CUSTOMERS);
                        }
                        else if (data[i].T_MODULE == "Helpdesk") {
                            $("[data-toggle=popoverhelpdesk]").popover().attr('data-content', data[i].CUSTOMERS);
                        }
                        else if (data[i].T_MODULE == "Maintenance") {
                            $("[data-toggle=popovermaintenance]").popover().attr('data-content', data[i].CUSTOMERS);
                        }
                        else if (data[i].T_MODULE == "Property") {
                            $("[data-toggle=popoverprop]").popover().attr('data-content', data[i].CUSTOMERS);
                        }
                        else if (data[i].T_MODULE == "Space") {
                            $("[data-toggle=popoverspace]").popover().attr('data-content', data[i].CUSTOMERS);
                        }
                    }
                }
            });
        }

        //Licence extension date update click 
        function Licenceextensionupdate() {
            $('#tblCustomerexpirydata').on('click', 'button[type="button"]', function (e) {
                var currdate = $($(this).closest('tr').find('td:eq(4)').children()).datepicker('getDate');
                var date = new Date(currdate);
                var exdate = ((date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear());
                var tenName = $(this).closest('tr').find('td:eq(0)').text();
                var updatebtn = $(this);
                var Model = { 'TenName': tenName, 'ExtDate': exdate };

                var prevdate = $(this).closest('tr').find('td:eq(3)');
                var currdateval = $($(this).closest('tr').find('td:eq(4)').children(".date"));

                if (exdate != "1/1/1970") {
                    $("#msgpopup").modal('hide');
                    $.ajax({
                        type: "POST",
                        url: '../../api/GlobalAdminPanelAPI/UpdatetrialversExpCustDetails',
                        async: true,
                        cache: false,
                        data: Model,
                        dataType: "json",
                        beforeSend: function () {
                            $(updatebtn).html("Updating..").delay(5000);
                        },
                        success: function (msg) {
                            funfill14dtrialcustCount();
                            funfill14daysexpcount();
                            funfillsubscribedcustCount();
                            funfillsubscribedInactcustCount();

                            prevdate.html(Model.ExtDate);
                            $(".datepicker").datepicker('clearDates');
                            $(updatebtn).html("Updated");
                            func(updatebtn);
                        },
                        failure: function (response) {
                            $(updatebtn).html("Update Failed");
                        },
                        complete: function (response) {

                        }
                    });
                } else {
                    $("label[for='lblmessage']").html("Enter Date");
                    $("#msgpopup").modal('show');
                    //alert("ext date invalid");
                }
            });
        }
        function func(btn) {
            setTimeout(function () { $(btn).html("Update"); }, 3000);
        }

        $('#tblcustomerwiseemplimit').on('keyup', 'input[type="text"]', function (e) {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });

        //14 days trial Customers Anchor click
        $("#Anc14daystrialcustomer").on("click", function (e) {
            e.preventDefault();
            $('#tbl14trialcust td').remove();
            funfill14daystrialcust();
        });

        //14 days trial expired Customers Anchor click
        $("#Anc14daystrialexpiredcustomer").on("click", function (e) {
            e.preventDefault();
            $('#tbl14daystrialexpcust td').remove()
            funLoad14daystrialexpCustomers();
        });

        //Total Customers Anchor Click        
        $("#AncTotalCust").on("click", function (e) {
            e.preventDefault();
            $('#tbltotalcust td').remove()
            funfilltotalcustomers();
        });

        //Subscribed Active Customers Anchor Click        
        $("#AncSubscribedCust").on("click", function (e) {
            e.preventDefault();
            $('#tblsubscust td').remove()
            funfillsubscribedcust();
        });

        //Subscribed Active Customers Anchor Click        
        $("#AncSubscribedInactiveCust").on("click", function (e) {
            e.preventDefault();
            $('#tblsubsinactivecust td').remove()
            funfillsubscribedInactcust();
        });


        return false;
    });
    //date control
    function setup(id) {
        $('#' + id).datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true

        });
    };

</script>

