﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SearchMappedAssetStatus.aspx.vb" Inherits="FAM_FAM_Webfiles_Exports_SearchMappedAssetStatus" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
