﻿<%@ Master Language="VB" CodeFile="KotakMasterPage.master.vb" Inherits="KotakMasterPage" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="93729296875-t61jnp8chpjq3744625lab367o2sgn06.apps.googleusercontent.com" />
    <link rel="shortcut icon" href="~/BootStrapCSS/images/favicon1.ico" />
    <title>QuickFMS :: Total Infrastructure Control</title>

    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    <link href="BootStrapCSS/menu/css/metismenu.min.css" rel="stylesheet" />
    <link href="BlurScripts/BlurCss/Master.css" rel="stylesheet" />
    

    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->
   <style>
        .nav > li > a:focus, .nav > li > a:hover {
               background-color: transparent;
        }
    </style>  
</head>
<body>
    <div id="wrapper">
        <form id="form1" runat="server">
            <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
            <main>
                <page-top>                    
                    <div class="page-top" scroll-position="scrolled" max-height="50">
                    <nav class="navbar-static-top" role="navigation">
                        <div id="1" style="background-color:red">
                            <a href="frmDetailsKotak.aspx" class="al-logo"><span>QuickFMS</span></a>
                            <a href="#" class="collapse-menu-link" ba-sidebar-toggle-menu=""> <i class="fa fa-bars" aria-hidden="true"></i></a>
                            </div>
                        <!-- /.navbar-header -->
                        <div ><ul  style="display: -webkit-inline-box; float: right; padding-right: 5%;" id='Head-details'class="nav navbar-right navbar-nav">
                            <li id="logo">
                                <a>
                                    <asp:Image id="logoimg" runat="server" class="ie8-pngcss" Height="50px" />
                                </a>
                                <asp:HiddenField ID="rolehf" runat="server" />
                            </li>
                          
                            <li class="al-user-profile dropdown" style="float:right; position:relative;">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <asp:Image ID="img" class="ie9-pngcss" runat="server"   style="height:40px;width:40px"/>
                                </a>
                                <ul class="dropdown-menu dropdown-user" style="float:right; background-color:#ffffff; position:initial ">
                                    <li>
                                        <a href="#"><i class="fa fa-user fa-fw"></i>
                                        <asp:Label ID="lbluser" runat="server" Style="color: Black"></asp:Label>  
                                            </a>
                                    </li>
                                   <%-- <li>
                                        <a onclick="setFrameSource('<%=Page.ResolveUrl("~/Masters/Mas_Webfiles/frmEditProfile.aspx")%>')" title="User Profile" href="#"><i class="fa fa-credit-card fa-fw"></i>
                                            User Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="setFrameSource('<%=Page.ResolveUrl("~/frmChangePassword.aspx")%>')" title="Change Password" href="#"><i class="fa fa-lock fa-fw"></i>
                                            Change Password
                                        </a>
                                    </li>--%>
                                    <li class="divider"></li>
                                    <li>
                                        <asp:LinkButton ID="lbtnLogOut" runat="server" OnClientClick="updateintercomlogout()" Text="Logout" CausesValidation="false">
                                        <i class="fa fa-sign-out fa-fw"></i>
                                        Logout
                                        </asp:LinkButton>
                                        <asp:Timer id="Timer1" runat="server" Interval="120000" OnTick="Timer_Tick" Enabled="true"/>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                            </div>
                    </nav>
                    </div>
                </page-top>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </main>
        </form>
    </div>
    <div class="modal fade" id="myModal" tabindex='-1' data-backdrop="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Upload Image</h4>
                </div>
                <div class="modal-body" id="modelcontainer">
                    <%-- Content loads here --%>
                    <iframe id="modalcontentframe" width="100%" frameborder="0" style="border: none"></iframe>
                </div>
            </div>
        </div>
    </div>
    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>
    <script src="../BootStrapCSS/menu/scripts/metismenu.min.js"></script>
    <script src="BlurScripts/BlurJs/api.js"></script>
    
 <noscript>Your browser does not support JavaScript!</noscript>
    <script>
        $(function () {
            $('#menu').metisMenu();
        });
    </script>
    <script>
        function showPopWin() {
            $("#modalcontentframe").attr("src", "Logo.aspx");
            $("#myModal").modal('show');
            return false
        }
    </script>
    <script type="text/javascript">
        $(".close").click(function () {
            window.location = "frmDetailsKotak.aspx"
        });
        /*This is in link with master page; showPopWin(); is in master page. Logo Update PopUp*/
        $(document).ready(function () {
            if ($("#ctl00_rolehf").val() == 1) {
                $("#ctl00_logoimg").click(function () {
                    showPopWin();
                });
            };
        });
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
        function updateintercomlogout() {
            //window.intercomSettings = {
            //    app_id: "vxapky4y"
            //};
            var auth2 = gapi.auth2.getAuthInstance();
            console.log(auth2);
            auth2.signOut().then(function () {
                window.location.href = "/Kotaklogin.aspx";
            });
            Intercom('shutdown');
        }
    </script>
</body>
</html>
