﻿<table>
    <tr>
        <td colspan="20" align="left" style="margin-left: 35%; background-color: #209e91;color: white;">Lease, Escalation, Rental, Sub Lease Reports Data</td>
    </tr>
</table>
<table>
    <thead>
        <tr>
            <th colspan="{{object.columnDefs.length}}" align="left" style="color:red;">Lease Report</th>
        </tr>
        <tr>
            <th data-ng-repeat="col in object.columnDefs">
                {{col.headerName}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in object.GridOptionsArr">
            <td data-ng-repeat="col in object.columnDefs">
                <label data-ng-if="col.template">
                    {{row[col.field] | date:"dd MMM, yyyy"}}
                </label>
                <label data-ng-if="!col.template">
                    {{row[col.field]}}
                </label>
            </td>

        </tr>
        <tr><td colspan="{{object.columnDefs.length}}"></td></tr>
        <tr><td colspan="{{object.columnDefs.length}}"></td></tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th colspan="{{object.columnDefs2.length}}" align="left" style="color:red;">Lease Escalation Report</th>
        </tr>
        <tr>
            <th data-ng-repeat="col in object.columnDefs2">
                {{col.headerName}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in object.EscalationGridOptionArr">
            <td data-ng-repeat="col in object.columnDefs2">

                <label data-ng-if="col.template">
                    {{row[col.field] | date:"dd MMM, yyyy"}}
                </label>
                <label data-ng-if="!col.template">
                    {{row[col.field]}}
                </label>
            </td>
        </tr>
        <tr><td colspan="{{object.columnDefs2.length}}"></td></tr>
        <tr><td colspan="{{object.columnDefs2.length}}"></td></tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th colspan="{{object.columnDefs1.length}}" align="left" style="color:red;">Lease Rental Report</th>
        </tr>
        <tr>
            <th data-ng-repeat="col in object.columnDefs1">
                {{col.headerName}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in object.RentalGridOptionArr">
            <td data-ng-repeat="col in object.columnDefs1">

                <label data-ng-if="col.template">
                    {{row[col.field] | date:"dd MMM, yyyy"}}
                </label>
                <label data-ng-if="!col.template">
                    {{row[col.field]}}
                </label>
            </td>
        </tr>
        <tr><td colspan="{{object.columnDefs1.length}}"></td></tr>
        <tr><td colspan="{{object.columnDefs1.length}}"></td></tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th colspan="{{object.columnDefs3.length}}" align="left" style="color:red;">Sub Lease Report</th>
        </tr>
        <tr>
            <th data-ng-repeat="col in object.columnDefs3">
                {{col.headerName}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in object.SubLeaseGridOptionArr">
            <td data-ng-repeat="col in object.columnDefs3">

                <label data-ng-if="col.template">
                    {{row[col.field] | date:"dd MMM, yyyy"}}
                </label>
                <label data-ng-if="!col.template">
                    {{row[col.field]}}
                </label>
            </td>
        </tr>
        <tr><td colspan="{{object.columnDefs3.length}}"></td></tr>
        <tr><td colspan="{{object.columnDefs3.length}}"></td></tr>
    </tbody>
</table>