﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Logcdesso.aspx.vb" Inherits="Logcdesso" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <div class="row">
                        <div class="form-group">
                            <div class="row">
                                <asp:Label ID="lbl1" runat="server" CssClass="col-md-12" ForeColor="Red" Style="padding-left: 45px;"></asp:Label>
                            </div>
                        </div>
                    </div>
</body>
</html>
