﻿<%@ Master Language="VB" CodeFile="MasterPage.master.vb" Inherits="MasterPage" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="817305281174-8k1t7lombpfpo0gij169s90fcqo6imsq.apps.googleusercontent.com" />
    <link rel="shortcut icon" href="~/BootStrapCSS/images/favicon1.ico" />
    <title>QuickFMS :: Total Infrastructure Control</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    <link href="BootStrapCSS/menu/css/metismenu.min.css" rel="stylesheet" />
    <link href="BootStrapCSS/FMS_UI/css/flaticon.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->
    <style>
        .dropdown-menu {
            min-height: 110px !important;
            transform: translate3d(0px, 64px, 0px) !important;
        }

        a, a:not([href]):not([tabindex]) {
            display: block;
        }

        .navbar__items-container .logo img {
            max-height: 60px;
        }

        .modal-header {
            position: relative; 
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <form id="form1" runat="server">
            <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
            <div class="header">
                <div class="logo form-inline">
                    <a href="frmDetails.aspx" class="al-logo">
                        <asp:Image ID="Image1" ImageUrl="~/BootStrapCSS/assets/img/quickfms 1.png" runat="server" />
                        <asp:HiddenField ID="HiddenField1" runat="server" />
                    </a>
                    <a href="javascript:void(0)" class="sidebar__toggler" style="margin-left: 15px;">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="togglers navbar-light">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#custom-navbar-collipisable" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="custom__navbar" id="custom-navbar-collipisable">
                    <%--<ul class="navbar__items-container mr-auto">
                        <li class="nav__item dropdown">
                            <a href="javascript:void(0)" class="nav__link">
                                <div class="company__info">
                                    <img src="/assets/img/GMR-company.png" alt="">
                                    <div>
                                        <h5 class="mb-0 text-title">GMR</h5>
                                        <span class="text-muted">Manager</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>--%>
                    <ul class="navbar__items-container ml-auto">
                        <li class="logo" style="margin-left: 100px">
                            <asp:Image ID="logoimg" ImageUrl="~/BootStrapCSS/assets/img/quickfms 1.png" runat="server" />
                            <asp:HiddenField ID="rolehf" runat="server" />
                        </li>
                        <li class="nav__item">
                            <a href="javascript:void(0)" class="nav__link">Last Login Time :
                                <br />
                                <asp:Label ID="lblLogTime" runat="server"></asp:Label>
                            </a>
                        </li>
                        <li class="nav__item dropdown">
                            <a href="javascript:void(0)" class="nav__link" data-toggle="dropdown">
                                <div class="user__info dropdown-toggle">
                                    <asp:Image ID="img" class="ie9-pngcss" runat="server" />
                                    <span class="user__name">
                                        <asp:Label ID="lbluser" runat="server"></asp:Label></span>
                                </div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="javascript:void(0)" title="User Profile" onclick="setFrameSource('<%=Page.ResolveUrl("~/Masters/Mas_Webfiles/frmEditProfile.aspx")%>')">User Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)" title="Change Password" onclick="setFrameSource('<%=Page.ResolveUrl("~/frmChangePassword.aspx")%>')">Change Password</a>
                                <div class="dropdown-divider"></div>
                                <asp:LinkButton ID="lbtnLogOut" CssClass="dropdown-item" runat="server" OnClientClick="updateintercomlogout()" Text="Logout" CausesValidation="false">Logout
                                </asp:LinkButton>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </form>
    </div>
    <div class="modal fade" id="myModal" tabindex='-1' data-backdrop="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="align-items-center justify-content-between">
                        <h5 class="modal-title" id="H1">Upload Image</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modelcontainer" style="height: 200px; background-color: none;">
                    <%-- Content loads here --%>
                    <iframe id="modalcontentframe" frameborder="0" style="border: none; max-height: 140px;"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal1" tabindex='-1'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close1" data-dismiss="modal" aria-label="Close1"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">View PO Details</h4>
                </div>
                <div class="modal-body" id="modelcontainer1">
                    <%-- Content loads here --%>
                    <iframe id="modalcontentframe1" width="100%" height="500px" style="border: none"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex='-1'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close1" data-dismiss="modal" aria-label="Close1"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">View Dispose</h4>
                </div>
                <div class="modal-body" id="modelcontainer2">
                    <%-- Content loads here --%>
                    <iframe id="modalcontentframe2" width="100%" height="500px" style="border: none"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal3" tabindex='-1'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close1" data-dismiss="modal" aria-label="Close1"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">View Transfer Form</h4>
                </div>
                <div class="modal-body" id="modelcontainer3">
                    <%-- Content loads here --%>
                    <iframe id="modalcontentframe3" width="100%" height="500px" style="border: none"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal4" tabindex='-1'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Consumable Stock Request Summary</h4>
                </div>
                <div class="modal-body" id="modelcontainer4">
                    <iframe id="modalcontentframe4" width="100%" height="500px" style="border: none"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade my_popup" id="myModal6" tabindex='-1'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                   
                    <h4 class="modal-title">Asset Requisition Details</h4>
                     <button type="button" class="close2" data-bs-dismiss="myModal6" aria-label="Close2" style="position: absolute; right: 15px; top: 15px;"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <iframe id="modalcontentframe6" style="border: none; min-height: 380px; width: 100%"></iframe>
                </div>
            </div>
        </div>
    </div>

    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>
    <script src="../BootStrapCSS/menu/scripts/metismenu.min.js"></script>
    <script src="../BlurScripts/BlurJs/api.js"></script>
    <noscript>Your browser does not support JavaScript!</noscript>
    <script>
        $(function () {
            $('#menu').metisMenu();
        });
    </script>
    <script>

        function showPopWin() {
            $("#modalcontentframe").attr("src", "Logo.aspx");
            $("#myModal").modal('show');
            return false
        }
        function showPopWin1(id) {
            console.log(id);
            //$("#modalcontentframe").attr("src", "frmGeneratePODetails.aspx?id=" + id);
            $("#modalcontentframe1").attr("src", "/FAM/FAM_Webfiles/ExportPO.aspx?rid=" + id);
            $("#myModal1").modal('show');
            return false;
        }
        function showPopWin2(id) {
            console.log(id);
            //$("#modalcontentframe").attr("src", "frmGeneratePODetails.aspx?id=" + id);
            $("#modalcontentframe2").attr("src", "/FAM/FAM_Webfiles/DisposalApprovedReport.aspx?rid=" + id);
            $("#myModal2").modal('show');
            return false;
        }
        function showPopWin3(id) {
            console.log(id);
            //$("#modalcontentframe").attr("src", "frmGeneratePODetails.aspx?id=" + id);
            $("#modalcontentframe3").attr("src", "/FAM/FAM_Webfiles/AssetTransferReport.aspx?rid=" + id);
            $("#myModal3").modal('show');
            return false;
        }
        function showPopWin4(id) {
            $("#modalcontentframe4").attr("src", "/AssetManagement/Reports/frmConsumableStockRequestSummary.aspx?Prd_id=" + id);
            $("#myModal4").modal('show');
            return false;
        }
        function showPopWin6(id) {
            $("#myModal6").modal('show');
            $("#modalcontentframe6").attr("src", "/AssetManagement/Reports/frmAssetReqReportDtls.aspx?reqid=" + id);
            //$("#modalcontentframe").load("frmAssetReqReportDtls.aspx?reqid=" + id, function (responseTxt, statusTxt, xhr) {
            //    $("#myModal1").modal('show');
            //});
        }
    </script>
    <script type="text/javascript">
        $(".close").click(function () {
            window.location = "frmDetails.aspx"
        });
        $(".close2").click(function () {
            $('#myModal6').modal('hide');
        });
        $(".close1").click(function () {

            var s = $("<a href='AssetManagement/Reports/frmViewPOSVendorWiseReport.aspx/'>");
        });
        /*This is in link with master page; showPopWin(); is in master page. Logo Update PopUp*/
        $(document).ready(function () {
            var tenant_id = '<%=Session("TENANT")%>';
            if (tenant_id == "Flipkart.dbo") {

                $("#pass").hide();
            }
            if ($("#ctl00_rolehf").val() == 1) {
                $("#ctl00_logoimg").click(function () {
                    showPopWin();
                });
            };
        });
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
        function updateintercomlogout() {
            //window.intercomSettings = {
            //    app_id: "vxapky4y"
            //};
            var auth2 = gapi.auth2.getAuthInstance();
            console.log(auth2);
            auth2.signOut().then(function () {
                window.location.href = "/login.aspx";
            });
            Intercom('shutdown');
        }
    </script>
</body>
</html>
