<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmLessorDetails.aspx.vb" Inherits="PropertyManagement_Reports_frmLessorDetails" title="Lessor Details" %>

<%@ Register Src="Controls/LessorDetails.ascx" TagName="LessorDetails" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:LessorDetails ID="LessorDetails1" runat="server" />
</asp:Content>

