<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmPremise_Details.aspx.vb" Inherits="PropertyManagement_Reports_frmPremise_Details" title="Premise Details" %>

<%@ Register Src="Controls/Premise_Details.ascx" TagName="Premise_Details" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:Premise_Details ID="Premise_Details1" runat="server" />
</asp:Content>

