<%@ Page Language="VB" AutoEventWireup="false" CodeFile="frmAMCfinalpage.aspx.vb" Inherits="MaintenanceManagement_AMC_frmAMCfinalpage" %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
   <%-- <link href="../../BlurScripts/BlurCss/vendor-3bab2c9961.css" rel="stylesheet" />
    <link href="../../BlurScripts/BlurCss/app-b2b3cfd0e7.css" rel="stylesheet" />
    <link href="../../BlurScripts/BlurCss/NonAngularScript.css" rel="stylesheet" />
    --%>

    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->
</head>
<body>
    <div class="animsition">
        <div class="al-content">
            <div class="widgets">
                <%--<div ba-panel ba-panel-title="Maintenance Management" ba-panel-class="with-scroll" style="padding-right: 45px;">
                    <div class="panel">
                        <div class="panel-heading" style="height: 41px;">--%>
                            <h3 class="panel-title">Maintenance Management</h3>
                        </div>
                         <div class="card">
                      <%--  <div class="panel-body" style="padding-right: 50px;">--%>
                            <form id="form1" runat="server">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group text-center">
                                            <div class="row">
                                                <asp:Label ID="lblmsg" runat="server" ForeColor="#209e91" CssClass="col-md-12 control-label"></asp:Label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
               <%-- </div>
            </div>--%>
        </div>
  <%--  </div>--%>

    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>
</body>
</html>

