﻿<%@ Page Language="C#" AutoEventWireup="true" %>

<!DOCTYPE html>

<html lang="en" data-ng-app="QuickFMS">
<head id="Head1" runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    <link href="../../../BootStrapCSS/Bootstrapswitch/css/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="../../../BootStrapCSS/Bootstrapswitch/css/highlight.css" rel="stylesheet" />
    <script defer type="text/javascript">
        function maxLength(s, args) {
            if (args.Value.length >= 500)
                args.IsValid = false;
        }
        function setup(id) {
            $('#' + id).datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true,
                todayHighlight: true
            });
        };
    </script>
    <style>
        #pageRowSummaryPanel {
            display: none;
        }

        /* .grid-align {
            text-align: center;
        }

        a:hover {
            cursor: pointer;
        }

        .ag-header-cell-filtered {
            background-color: #4682B4;
        }
*/
        #word {
            color: #4813CA;
        }

        #pdf {
            color: #FF0023;
        }

        #excel {
            color: #2AE214;
        }

        /*  .ag-header-cell-filtered {
            background-color: #4682B4;
        }


        .ag-header-cell-menu-button {
            opacity: 1 !important;
            transition: opacity 0.5s, border 0.2s;
        }*/
         .ag-blue .ag-cell:first-of-type {
            justify-content: left;
        }
    </style>
</head>
<body data-ng-controller="SpaceOccupancyReportController" onload="setDateVals()" class="amantra">
    <div class="animsition" ng-cloak>
        <div class="al-content">
            <div class="widgets">
                <%--<div ba-panel ba-panel-title="Space Allocation" ba-panel-class="with-scroll">
                    <div class="panel">
                        <div class="panel-heading" style="height: 41px;">--%>
                <h3 class="panel-title">Space Occupancy Report</h3>
            </div>
            <div class="card">
                <%--  <div class="card-body" style="padding-right: 10px;">--%>
                <form id="form1" name="frmSpaceOccupancy" data-valid-submit="LoadData()" runat="server">
                    <%-- <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
                    <asp:UpdatePanel ID="CityPanel1" runat="server">
                        <ContentTemplate>--%>

                    <div class="clearfix row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="txtcode">Select Range</label>
                                <br />
                                <select id="ddlRange" data-ng-model="selVal" data-ng-change="rptDateRanges()" class="selectpicker">
                                    <option value="SELECT">Select Range</option>
                                    <option value="TODAY">Today</option>
                                    <option value="YESTERDAY">Yesterday</option>
                                    <option value="7">Last 7 Days</option>
                                    <option value="30">Last 30 Days</option>
                                    <option value="THISMONTH">This Month</option>
                                    <option value="LASTMONTH">Last Month</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label for="txtcode">From Date</label>
                                <div class="input-group date" id='fromdate'>
                                    <input type="text" class="form-control" data-ng-model="SpaceAllocation.FromDate" id="FromDate" name="FromDate" required="" placeholder="mm/dd/yyyy" data-ng-readonly="true" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" onclick="setup('fromdate')"></i>
                                    </span>
                                </div>
                                <span class="error" data-ng-show="frmSpaceOccupancy.$submitted && frmSpaceOccupancy.FromDate.$invalid" style="color: red;">Please Select From Date</span>
                            </div>
                        </div>

                        <div class="col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label for="txtcode">To Date</label>
                                <div class="input-group date" id='todate'>
                                    <input type="text" class="form-control" data-ng-model="SpaceAllocation.ToDate" id="ToDate" name="ToDate" required="" placeholder="mm/dd/yyyy" data-ng-readonly="true" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" onclick="setup('todate')"></i>
                                    </span>
                                </div>
                                <span class="error" data-ng-show="frmSpaceOccupancy.$submitted && frmSpaceOccupancy.ToDate.$invalid" style="color: red;">Please Select To Date</span>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12" data-ng-show="CompanyVisible==0">
                            <div class="form-group">
                                <label class="control-label">Company</label>
                                <div isteven-multi-select data-input-model="Company" data-output-model="SpaceOccupancy.CNP_NAME" button-label="icon CNP_NAME" data-is-disabled="EnableStatus==0"
                                    item-label="icon CNP_NAME" tick-property="ticked" data-on-select-all="" data-on-select-none="" data-max-labels="1" selection-mode="single">
                                </div>
                                <input type="text" data-ng-model="SpaceOccupancy.CNP_NAME" name="CNP_NAME" style="display: none" required="" />
                                <span class="error" data-ng-show="frmSpaceOccupancy.$submitted && frmSpaceOccupancy.Company.$invalid" style="color: red">Please Select Company </span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group" data-ng-class="{'has-error': frmSpaceOccupancy.$submitted && frmSpaceOccupancy.Cost_Center_Code.$invalid}">
                                <label class="control-label">Cost Centers <span style="color: red;">*</span></label>
                                <div isteven-multi-select data-input-model="Cost" data-output-model="SpaceOccupancy.Cost" data-button-label="icon Cost_Center_Code"
                                    data-item-label="icon Cost_Center_Code maker" data-on-select-all="CostChangeAll()"
                                    data-tick-property="ticked" data-max-labels="1">
                                </div>
                                <input type="text" data-ng-model="SpaceOccupancy.Cost[0]" name="Cost_Center_Code" style="display: none" required="" />
                                <span class="error" data-ng-show="frmSpaceOccupancy.$submitted && frmSpaceOccupancy.Cost_Center_Code.$invalid" style="color: red">Please Select Cost Centers </span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12" style="padding-top: 32px;">
                            <input type="button" value="Search" class="btn btn-primary custom-button-color" data-ng-click="Search()" />
                        </div>

                    </div>

                    <div class="row" style="padding-left: 18px">
                        <div class="col-md-6">
                            <label>View In : </label>
                            <input id="viewswitch" type="checkbox" checked data-size="small"
                                data-on-text="<span class='fa fa-table'></span>"
                                data-off-text="<span class='fa fa-bar-chart'></span>" />
                            <%--  <div class="col-md-12">
                                    &nbsp;
                                </div>--%>
                        </div>
                        <div class="col-md-6" id="table2" data-ng-show="GridVisiblity2">
                            <br />
                            <a data-ng-click="GenReport(SpaceOccupancy,'doc')"><i id="word" data-toggle="tooltip" data-ng-show="DocTypeVisible==0" title="Export to Word" class="fa fa-file-word-o fa-2x pull-right"></i></a>
                            <a data-ng-click="GenReport(SpaceOccupancy,'xlsx')"><i id="excel" data-toggle="tooltip" title="Export to Excel" class="fa fa-file-excel-o fa-2x pull-right"></i></a>
                            <a data-ng-click="GenReport(SpaceOccupancy,'pdf')"><i id="pdf" data-toggle="tooltip" title="Export to Pdf" class="fa fa-file-pdf-o fa-2x pull-right"></i></a>
                        </div>
                    </div>
                    <%-- </form>

                            <form id="form2">--%>
                    <div id="Tabular" data-ng-show="GridVisiblity">
                        <%-- <div class="row">
                                    <a data-ng-click="GenReport(SpaceOccupancy,'doc')"><i id="word" data-toggle="tooltip" data-ng-show="DocTypeVisible==0" title="Export to Word" class="fa fa-file-word-o fa-2x pull-right"></i></a>
                                    <a data-ng-click="GenReport(SpaceOccupancy,'xls')"><i id="excel" data-toggle="tooltip" title="Export to Excel" class="fa fa-file-excel-o fa-2x pull-right"></i></a>
                                    <a data-ng-click="GenReport(SpaceOccupancy,'pdf')"><i id="pdf" data-toggle="tooltip" title="Export to Pdf" class="fa fa-file-pdf-o fa-2x pull-right"></i></a>
                                </div>--%>
                        <input type="text" class="form-control" id="filtertxt" placeholder="Filter by any..." style="width: 25%" />
                        <div class="row">
                            <%--<div class="input-group" style="width: 20%">
                                            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="filtertxt">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary custom-button-color" type="submit">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </div>
                                        </div>--%>

                            <div class="col-md-12">
                                <div data-ag-grid="gridOptions" class="ag-blue" style="height: 400px; width: auto"></div>
                            </div>
                        </div>


                    </div>
                    <div id="Graphicaldiv" data-ng-show="GridVisiblity">
                                <div id="OccupGraph">&nbsp</div>
                            </div>
                      <%--  </ContentTemplate>
                    </asp:UpdatePanel>--%>
                </form>
            </div>
        </div>
    </div>
    <%--  </div>
        </div>
    </div>--%>
    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>
    <script defer src="../../../Dashboard/C3/d3.v3.min.js"></script>
    <script defer src="../../../Dashboard/C3/c3.min.js"></script>
    <link href="../../../Dashboard/C3/c3.css" rel="stylesheet" />
    <script defer src="../../../BootStrapCSS/Bootstrapswitch/js/bootstrap-switch.min.js"></script>
    <script defer src="../../../BootStrapCSS/Bootstrapswitch/js/highlight.js"></script>
    <script defer src="../../../BootStrapCSS/Bootstrapswitch/js/main.js"></script>
    <script defer src="../../../Scripts/jspdf.min.js"></script>
    <script defer src="../../../Scripts/jspdf.plugin.autotable.src.js"></script>
    <script defer src="../../../Scripts/DropDownCheckBoxList/isteven-multi-select.js"></script>
    <script defer src="../../../Scripts/Lodash/lodash.min.js"></script>
    <script defer>
        var app = angular.module('QuickFMS', ["agGrid", "isteven-multi-select"]);
    </script>
    <script defer src="../Js/SpaceOccupancy_Report.js"></script>
    <script defer src="../../Utility.min.js"></script>
    <script defer src="../../../Scripts/moment.min.js"></script>
    <script defer type="text/javascript">
        var CompanySession = '<%= Session["COMPANYID"]%>';
        function setDateVals() {
            $('#FromDate').datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true,
                todayHighlight: true
            });
            $('#ToDate').datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true,
                todayHighlight: true
            });
            $('#FromDate').datepicker('setDate', new Date(moment().subtract(29, 'days').format('MM/DD/YYYY')));
            $('#ToDate').datepicker('setDate', new Date(moment().format('MM/DD/YYYY')));
        }
    </script>
</body>
</html>
