<%@ Page Language="VB" AutoEventWireup="false" CodeFile="AssetUnderAMCDetails.aspx.vb" Inherits="MaintenanceManagement_AMC_Reports_AssetUnderAMCDetails" %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    

    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->
    <script type="text/javascript" defer>
        function setup(id) {
            $('#' + id).datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true
            });
        };
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="page-wrapper" class="row">
            <div class="row form-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Assets Under Maintenance Contract
                            </legend>
                        </fieldset>
                        <form id="form1" runat="server">
                            <div class="col-md-12">
                                <asp:GridView ID="grdViewAssets" runat="server" AutoGenerateColumns="False" EmptyDataText="No Asset AMC Details Found."
                                    AllowSorting="True" PageSize="5" AllowPaging="True" CssClass="table table-condensed table-bordered table-hover table-striped">
                                    <Columns>
                                        <asp:BoundField DataField="AMN_PLAN_ID" HeaderText="Plan ID">
                                            <HeaderStyle CssClass="clsTblHead"></HeaderStyle>
                                        </asp:BoundField>
                                        <%--<asp:BoundField DataField="ASSET_VENDOR" HeaderText="Asset Vendor">
                                                <HeaderStyle CssClass="clsTblHead"></HeaderStyle>
                                            </asp:BoundField>--%>
                                       <%-- <asp:BoundField DataField="AGT_NAME" HeaderText="Asset Group Type">
                                            <HeaderStyle CssClass="clsTblHead"></HeaderStyle>
                                        </asp:BoundField>--%>
                                        <%--<asp:BoundField DataField="AAM_NAME" HeaderText="Asset Model">
                                            <HeaderStyle CssClass="clsTblHead"></HeaderStyle>
                                        </asp:BoundField>--%>
                                        <asp:BoundField DataField="AVR_NAME" HeaderText="AMC Vendor">
                                            <HeaderStyle CssClass="clsTblHead"></HeaderStyle>
                                        </asp:BoundField>
                                        <asp:BoundField DataField="LCM_NAME" HeaderText="Location">
                                            <HeaderStyle CssClass="clsTblHead"></HeaderStyle>
                                        </asp:BoundField>
                                       <%-- <asp:BoundField DataField="AAP_AMC_FROMDT" HeaderText="From Date" DataFormatString="{0:d}">
                                            <HeaderStyle CssClass="clsTblHead"></HeaderStyle>
                                        </asp:BoundField>
                                        <asp:BoundField DataField="AAP_AMC_TODT" HeaderText="To Date" DataFormatString="{0:d}">
                                            <HeaderStyle CssClass="clsTblHead"></HeaderStyle>
                                        </asp:BoundField>--%>
                                        <asp:TemplateField HeaderText="Assets">
                                            <HeaderStyle Width="50%" CssClass="clsTblHead"></HeaderStyle>
                                            <ItemTemplate>
                                                <asp:ListBox ID="lstAssets" runat="server" Width="100%"></asp:ListBox>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <%--<asp:BoundField DataField="AMN_COMMENTS" HeaderText="AMC Generated By">
                                                <HeaderStyle CssClass="clsTblHead"></HeaderStyle>
                                            </asp:BoundField>--%>
                                    </Columns>
                                    <HeaderStyle BackColor="#366599" ForeColor="#E2E2E2" />
                                    <PagerStyle CssClass="pagination-ys" />
                                </asp:GridView>
                            </div>

                            <div class="col-md-12 text-right">
                                <div class="form-group">
                                    <asp:Button ID="cmdExcel" OnClick="cmdExcel_Click" runat="server" CssClass="btn btn-primary custom-button-color" Text="Export to Excel"></asp:Button>
                                    <asp:Button ID="btnBack" OnClick="btnBack_Click" runat="server" CssClass="btn btn-primary custom-button-color" Text="Back"></asp:Button>
                                    <asp:Button ID="btnprint" runat="server" CssClass="btn btn-primary custom-button-color" Text="Print" Visible="False"></asp:Button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>
</body>
</html>




