﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Skabpowerbi1.aspx.cs" Inherits="Dashboard_Skabpowerbi1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
 <iframe width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiMTJlZTY2YTUtMmYwMy00MmY3LTg3YTUtNmQwY2VlYzdhYjNlIiwidCI6IjA2YWI3Njc5LTU4ZmYtNDAwZi1iOWM1LWRiZTk3OTgzN2ZhZCJ9" frameborder="0" allowFullScreen="true"></iframe>

        </div>
    </form>
</body>
</html>
