﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Skabpowerbi2.aspx.cs" Inherits="Dashboard_Skabpowerbi2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
<iframe width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiNWFjNDk5NjEtMmYyMC00OTg4LTk2MjMtYjk5NTcxMWU4YTEzIiwidCI6IjA2YWI3Njc5LTU4ZmYtNDAwZi1iOWM1LWRiZTk3OTgzN2ZhZCJ9" frameborder="0" allowFullScreen="true"></iframe>

        </div>
    </form>
</body>
</html>
