header {background-color: #208acd;background-image:url(../images/bg_blue.png) }
::selection {background-color:#208acd;color:white; }
.profile_pic{border: 5px solid #208acd; }
.user_name{background-color:#192b44; border-color:#0e1c2f;}
.top_icons .nav_toggle_icon, .top_icons .theme_toggle_icon {background-color: #13679c; }
footer {color: #208acd}

.u-vmenu>ul>li>ul>li a:hover {
    border-left: 3px solid #208acd;
}
.nav-tabs li.active {
    background: #1e3a60;
}

.nav-tabs a {
    color: #208acd;
}

h3,h4,h5{color: #208acd}
.panel-title > a.collapsed {
    background-color: #ccc;
}

.panel-title > a {   
    background: #208acd;
}

.table>thead>tr>th {
    background-color: #208acd;   
    color: white;    
    border-color: #366310;
    
}

.p_heading{background-color: #208acd;}

.pagination > li > a, .pagination > li > span{ color: #208acd}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
	border-color: #208acd;
}

.fms_form_group input[type=text]:focus, .fms_form_group select:focus, .fms_form_group textarea:focus, .chosen-choices:focus {
	 border-color:#2196F3;

}

.fms_form_group input[type=text]:focus+label, select:focus+label, textarea:focus+label{
	color: #2196F3;
}