	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/05/2016 09:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 16px;
  font-style: normal;

}

.flaticon-add:before { content: "\f100"; }
.flaticon-admin-with-cogwheels:before { content: "\f101"; }
.flaticon-apartments:before { content: "\f102"; }
.flaticon-businessmen-having-a-group-conference:before { content: "\f103"; }
.flaticon-down-arrow:before { content: "\f104"; }
.flaticon-gold:before { content: "\f105"; }
.flaticon-home:before { content: "\f106"; }
.flaticon-life-preserver:before { content: "\f107"; }
.flaticon-minus:before { content: "\f108"; }
.flaticon-newspaper:before { content: "\f109"; }
.flaticon-office:before { content: "\f10a"; }
.flaticon-paint:before { content: "\f10b"; }
.flaticon-people:before { content: "\f10c"; }
.flaticon-settings-work-tool:before { content: "\f10d"; }
.flaticon-sign-out-option:before { content: "\f10e"; }
.flaticon-tool:before { content: "\f10f"; }
.flaticon-lightning-electric-energy:before { content: "\f100"; }