header {background-color: #1fa65c;background-image:url(../images/bg_green.png) }
::selection {background-color:#1fa65c;color:white; }
.profile_pic{border: 5px solid #1fa65c; }
.user_name{background-color:#192b44; border-color:#0e1c2f;}
.top_icons .nav_toggle_icon, .top_icons .theme_toggle_icon {background-color:#1b8c4e; }
footer {color: #1fa65c}

.u-vmenu>ul>li>ul>li a:hover {
    border-left: 3px solid #1fa65c;
}
.nav-tabs li.active {
    background: #1e3a60;
}

.nav-tabs a {
    color: #1fa65c;
}

h3,h4,h5{color: #1fa65c}
.panel-title > a.collapsed {
    background-color: #ccc;
}

.panel-title > a {   
    background: #1fa65c;
}

.table>thead>tr>th {
    background-color: #1fa65c;   
    color: white;    
    border-color: #366310;
    
}


.p_heading{background-color: #1fa65c;}

.pagination > li > a, .pagination > li > span{ color: #1fa65c}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
	border-color: #1fa65c;
}
.fms_form_group input[type=text]:focus, .fms_form_group select:focus, .fms_form_group textarea:focus, .chosen-choices:focus {
	 border-color:#1fa65c;
}
.fms_form_group input[type=text]:focus+label, select:focus+label, textarea:focus+label{
	color: #1fa65c;
}