.u-vmenu{
	margin-top: 15px;
}
.u-vmenu > ul > li > a {
    font-size: 14px !important;
}

.u-vmenu>ul>li>ul {
    background-color: #14243a;
}

.u-vmenu>ul>li>ul>li>ul {
    background-color: #0e1c30;
}
.u-vmenu>ul>li>a {	 
	 
    border-top: 1px dashed rgba(255, 255, 255, 0.18);
    text-shadow: 1px 1px 1px #2d2d2d;
}
.u-vmenu>ul>li:last-child{ border-bottom: 1px dashed rgba(255, 255, 255, 0.18);}
.u-vmenu ul ul{
	display: none;
}
.u-vmenu>ul>li>ul>li a{transition: all .1s ease-in-out;}
.u-vmenu ul li a {
	color: #e8e8e8;
	height: 30px;
	line-height: 30px;
	display: block;
	font-size:14px;    
	text-decoration: none;
	outline: none;
	padding: 0 10px;
}
.u-vmenu ul li a:hover, .u-vmenu ul li a:focus {
    color: white; 
    text-decoration: none;
}
.u-vmenu > ul > li > a {
	height: 42px;
	line-height: 42px;
	 
}
.u-vmenu > ul > li > ul > li > a {
	padding-left: 15px;
}
.u-vmenu > ul > li > ul > li > ul > li > a {
	padding-left: 35px;
}
.u-vmenu > ul > li > ul > li > ul > li > ul > li > a {
	padding-left: 55px;
}
.u-vmenu ul li a[data-option='on']{
	background: url(../images/vmenu/on.png) 97% center no-repeat;
	background-color: #192b44;
}
.u-vmenu ul li a[data-option='off'] {
	background: url(../images/vmenu/off.png) 97% center no-repeat;
}
