﻿
/** Messenger styling */

/* line 4, ../../src/sass/messenger.sass */

ul.messenger {
    margin: 0;
    padding: 0;
}

    /* line 8, ../../src/sass/messenger.sass */

    ul.messenger li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* line 14, ../../src/sass/messenger.sass */

    ul.messenger.messenger-empty {
        display: none;
    }

    /* line 17, ../../src/sass/messenger.sass */

    ul.messenger .messenger-message {
        overflow: hidden;
        *zoom: 1;
    }

        /* line 20, ../../src/sass/messenger.sass */

        ul.messenger .messenger-message.messenger-hidden {
            display: none;
        }

        /* line 23, ../../src/sass/messenger.sass */

        ul.messenger .messenger-message .messenger-phrase, ul.messenger .messenger-message .messenger-actions a {
            padding-right: 5px;
        }

        /* line 26, ../../src/sass/messenger.sass */

        ul.messenger .messenger-message .messenger-actions {
            float: right;
        }

            /* line 29, ../../src/sass/messenger.sass */

            ul.messenger .messenger-message .messenger-actions a {
                cursor: pointer;
                text-decoration: underline;
            }

    /* line 33, ../../src/sass/messenger.sass */

    ul.messenger.messenger-fixed {
        position: fixed;
        z-index: 10000;
    }

        /* line 37, ../../src/sass/messenger.sass */

        ul.messenger.messenger-fixed .messenger-message {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            min-width: 0;
        }

        /* line 42, ../../src/sass/messenger.sass */

        ul.messenger.messenger-fixed .message .messenger-actions {
            float: left;
        }

        /* line 45, ../../src/sass/messenger.sass */

        ul.messenger.messenger-fixed.messenger-on-top {
            top: 20%;
        }

        /* line 48, ../../src/sass/messenger.sass */

        ul.messenger.messenger-fixed.messenger-on-bottom {
            bottom: 20px;
        }

        /* line 51, ../../src/sass/messenger.sass */

        ul.messenger.messenger-fixed.messenger-on-top, ul.messenger.messenger-fixed.messenger-on-bottom {
            left: 50%;
            margin-left: -400px;
            width: 800px;
        }

@media (max-width: 960px) {
    /* line 51, ../../src/sass/messenger.sass */
    ul.messenger.messenger-fixed.messenger-on-top, ul.messenger.messenger-fixed.messenger-on-bottom {
        left: 10%;
        margin-left: 0px;
        width: 80%;
    }
}

/* line 61, ../../src/sass/messenger.sass */

ul.messenger.messenger-fixed.messenger-on-top.messenger-on-right, ul.messenger.messenger-fixed.messenger-on-bottom.messenger-on-right {
    left: auto;
    right: 20px;
}

/* line 65, ../../src/sass/messenger.sass */

ul.messenger.messenger-fixed.messenger-on-top.messenger-on-left, ul.messenger.messenger-fixed.messenger-on-bottom.messenger-on-left {
    left: 20px;
    margin-left: 0px;
}

/* line 69, ../../src/sass/messenger.sass */

ul.messenger.messenger-fixed.messenger-on-right, ul.messenger.messenger-fixed.messenger-on-left {
    width: 350px;
}

    /* line 72, ../../src/sass/messenger.sass */

    ul.messenger.messenger-fixed.messenger-on-right .messenger-actions, ul.messenger.messenger-fixed.messenger-on-left .messenger-actions {
        float: left;
    }

/* line 75, ../../src/sass/messenger.sass */

ul.messenger .messenger-spinner {
    display: none;
}

@-webkit-keyframes ui-spinner-rotate-right {
    /* line 64, ../../src/sass/messenger-spinner.scss */
    0% {
        -webkit-transform: rotate(0deg);
    }
    /* line 65, ../../src/sass/messenger-spinner.scss */
    25% {
        -webkit-transform: rotate(180deg);
    }
    /* line 66, ../../src/sass/messenger-spinner.scss */
    50% {
        -webkit-transform: rotate(180deg);
    }
    /* line 67, ../../src/sass/messenger-spinner.scss */
    75% {
        -webkit-transform: rotate(360deg);
    }
    /* line 68, ../../src/sass/messenger-spinner.scss */
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes ui-spinner-rotate-left {
    /* line 72, ../../src/sass/messenger-spinner.scss */
    0% {
        -webkit-transform: rotate(0deg);
    }
    /* line 73, ../../src/sass/messenger-spinner.scss */
    25% {
        -webkit-transform: rotate(0deg);
    }
    /* line 74, ../../src/sass/messenger-spinner.scss */
    50% {
        -webkit-transform: rotate(180deg);
    }
    /* line 75, ../../src/sass/messenger-spinner.scss */
    75% {
        -webkit-transform: rotate(180deg);
    }
    /* line 76, ../../src/sass/messenger-spinner.scss */
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes ui-spinner-rotate-right {
    /* line 80, ../../src/sass/messenger-spinner.scss */
    0% {
        -moz-transform: rotate(0deg);
    }
    /* line 81, ../../src/sass/messenger-spinner.scss */
    25% {
        -moz-transform: rotate(180deg);
    }
    /* line 82, ../../src/sass/messenger-spinner.scss */
    50% {
        -moz-transform: rotate(180deg);
    }
    /* line 83, ../../src/sass/messenger-spinner.scss */
    75% {
        -moz-transform: rotate(360deg);
    }
    /* line 84, ../../src/sass/messenger-spinner.scss */
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes ui-spinner-rotate-left {
    /* line 88, ../../src/sass/messenger-spinner.scss */
    0% {
        -moz-transform: rotate(0deg);
    }
    /* line 89, ../../src/sass/messenger-spinner.scss */
    25% {
        -moz-transform: rotate(0deg);
    }
    /* line 90, ../../src/sass/messenger-spinner.scss */
    50% {
        -moz-transform: rotate(180deg);
    }
    /* line 91, ../../src/sass/messenger-spinner.scss */
    75% {
        -moz-transform: rotate(180deg);
    }
    /* line 92, ../../src/sass/messenger-spinner.scss */
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes ui-spinner-rotate-right {
    /* line 96, ../../src/sass/messenger-spinner.scss */
    0% {
        transform: rotate(0deg);
    }
    /* line 97, ../../src/sass/messenger-spinner.scss */
    25% {
        transform: rotate(180deg);
    }
    /* line 98, ../../src/sass/messenger-spinner.scss */
    50% {
        transform: rotate(180deg);
    }
    /* line 99, ../../src/sass/messenger-spinner.scss */
    75% {
        transform: rotate(360deg);
    }
    /* line 100, ../../src/sass/messenger-spinner.scss */
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ui-spinner-rotate-left {
    /* line 104, ../../src/sass/messenger-spinner.scss */
    0% {
        transform: rotate(0deg);
    }
    /* line 105, ../../src/sass/messenger-spinner.scss */
    25% {
        transform: rotate(0deg);
    }
    /* line 106, ../../src/sass/messenger-spinner.scss */
    50% {
        transform: rotate(180deg);
    }
    /* line 107, ../../src/sass/messenger-spinner.scss */
    75% {
        transform: rotate(180deg);
    }
    /* line 108, ../../src/sass/messenger-spinner.scss */
    100% {
        transform: rotate(360deg);
    }
}

/* line 116, ../../src/sass/messenger-spinner.scss */

.messenger-spinner {
    border-radius: 100%;
    position: relative;
}

/* line 120, ../../src/sass/messenger-spinner.scss */

ul.messenger.messenger-spinner-active .messenger-spinner .messenger-spinner {
    display: block;
}

/* line 124, ../../src/sass/messenger-spinner.scss */

.messenger-spinner .messenger-spinner-side {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 50%;
}

    /* line 130, ../../src/sass/messenger-spinner.scss */

    .messenger-spinner .messenger-spinner-side .messenger-spinner-fill {
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        -o-animation-iteration-count: infinite;
        -o-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        border-radius: 999px;
        height: 100%;
        position: absolute;
        width: 100%;
    }

/* line 140, ../../src/sass/messenger-spinner.scss */

.messenger-spinner .messenger-spinner-side-left {
    left: 0;
}

    /* line 143, ../../src/sass/messenger-spinner.scss */

    .messenger-spinner .messenger-spinner-side-left .messenger-spinner-fill {
        -moz-animation-name: ui-spinner-rotate-left;
        -moz-transform-origin: 0 50%;
        -ms-animation-name: ui-spinner-rotate-left;
        -ms-transform-origin: 0 50%;
        -o-animation-name: ui-spinner-rotate-left;
        -o-transform-origin: 0 50%;
        -webkit-animation-name: ui-spinner-rotate-left;
        -webkit-transform-origin: 0 50%;
        animation-name: ui-spinner-rotate-left;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        left: 100%;
        transform-origin: 0 50%;
    }

/* line 152, ../../src/sass/messenger-spinner.scss */

.messenger-spinner .messenger-spinner-side-right {
    left: 50%;
}

    /* line 155, ../../src/sass/messenger-spinner.scss */

    .messenger-spinner .messenger-spinner-side-right .messenger-spinner-fill {
        -moz-animation-name: ui-spinner-rotate-right;
        -moz-transform-origin: 100% 50%;
        -ms-animation-name: ui-spinner-rotate-right;
        -ms-transform-origin: 100% 50%;
        -o-animation-name: ui-spinner-rotate-right;
        -o-transform-origin: 100% 50%;
        -webkit-animation-name: ui-spinner-rotate-right;
        -webkit-transform-origin: 100% 50%;
        animation-name: ui-spinner-rotate-right;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        left: -100%;
        transform-origin: 100% 50%;
    }

@-webkit-keyframes ui-spinner-rotate-right {
    /* line 64, ../../src/sass/messenger-spinner.scss */
    0% {
        -webkit-transform: rotate(0deg);
    }
    /* line 65, ../../src/sass/messenger-spinner.scss */
    25% {
        -webkit-transform: rotate(180deg);
    }
    /* line 66, ../../src/sass/messenger-spinner.scss */
    50% {
        -webkit-transform: rotate(180deg);
    }
    /* line 67, ../../src/sass/messenger-spinner.scss */
    75% {
        -webkit-transform: rotate(360deg);
    }
    /* line 68, ../../src/sass/messenger-spinner.scss */
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes ui-spinner-rotate-left {
    /* line 72, ../../src/sass/messenger-spinner.scss */
    0% {
        -webkit-transform: rotate(0deg);
    }
    /* line 73, ../../src/sass/messenger-spinner.scss */
    25% {
        -webkit-transform: rotate(0deg);
    }
    /* line 74, ../../src/sass/messenger-spinner.scss */
    50% {
        -webkit-transform: rotate(180deg);
    }
    /* line 75, ../../src/sass/messenger-spinner.scss */
    75% {
        -webkit-transform: rotate(180deg);
    }
    /* line 76, ../../src/sass/messenger-spinner.scss */
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes ui-spinner-rotate-right {
    /* line 80, ../../src/sass/messenger-spinner.scss */
    0% {
        -moz-transform: rotate(0deg);
    }
    /* line 81, ../../src/sass/messenger-spinner.scss */
    25% {
        -moz-transform: rotate(180deg);
    }
    /* line 82, ../../src/sass/messenger-spinner.scss */
    50% {
        -moz-transform: rotate(180deg);
    }
    /* line 83, ../../src/sass/messenger-spinner.scss */
    75% {
        -moz-transform: rotate(360deg);
    }
    /* line 84, ../../src/sass/messenger-spinner.scss */
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes ui-spinner-rotate-left {
    /* line 88, ../../src/sass/messenger-spinner.scss */
    0% {
        -moz-transform: rotate(0deg);
    }
    /* line 89, ../../src/sass/messenger-spinner.scss */
    25% {
        -moz-transform: rotate(0deg);
    }
    /* line 90, ../../src/sass/messenger-spinner.scss */
    50% {
        -moz-transform: rotate(180deg);
    }
    /* line 91, ../../src/sass/messenger-spinner.scss */
    75% {
        -moz-transform: rotate(180deg);
    }
    /* line 92, ../../src/sass/messenger-spinner.scss */
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes ui-spinner-rotate-right {
    /* line 96, ../../src/sass/messenger-spinner.scss */
    0% {
        transform: rotate(0deg);
    }
    /* line 97, ../../src/sass/messenger-spinner.scss */
    25% {
        transform: rotate(180deg);
    }
    /* line 98, ../../src/sass/messenger-spinner.scss */
    50% {
        transform: rotate(180deg);
    }
    /* line 99, ../../src/sass/messenger-spinner.scss */
    75% {
        transform: rotate(360deg);
    }
    /* line 100, ../../src/sass/messenger-spinner.scss */
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ui-spinner-rotate-left {
    /* line 104, ../../src/sass/messenger-spinner.scss */
    0% {
        transform: rotate(0deg);
    }
    /* line 105, ../../src/sass/messenger-spinner.scss */
    25% {
        transform: rotate(0deg);
    }
    /* line 106, ../../src/sass/messenger-spinner.scss */
    50% {
        transform: rotate(180deg);
    }
    /* line 107, ../../src/sass/messenger-spinner.scss */
    75% {
        transform: rotate(180deg);
    }
    /* line 108, ../../src/sass/messenger-spinner.scss */
    100% {
        transform: rotate(360deg);
    }
}

/* line 116, ../../src/sass/messenger-spinner.scss */

.messenger-spinner {
    border-radius: 100%;
    position: relative;
}

/* line 120, ../../src/sass/messenger-spinner.scss */

ul.messenger.messenger-spinner-active .messenger-spinner .messenger-spinner {
    display: block;
}

/* line 124, ../../src/sass/messenger-spinner.scss */

.messenger-spinner .messenger-spinner-side {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 50%;
}

    /* line 130, ../../src/sass/messenger-spinner.scss */

    .messenger-spinner .messenger-spinner-side .messenger-spinner-fill {
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        -o-animation-iteration-count: infinite;
        -o-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        border-radius: 999px;
        height: 100%;
        position: absolute;
        width: 100%;
    }

/* line 140, ../../src/sass/messenger-spinner.scss */

.messenger-spinner .messenger-spinner-side-left {
    left: 0;
}

    /* line 143, ../../src/sass/messenger-spinner.scss */

    .messenger-spinner .messenger-spinner-side-left .messenger-spinner-fill {
        -moz-animation-name: ui-spinner-rotate-left;
        -moz-transform-origin: 0 50%;
        -ms-animation-name: ui-spinner-rotate-left;
        -ms-transform-origin: 0 50%;
        -o-animation-name: ui-spinner-rotate-left;
        -o-transform-origin: 0 50%;
        -webkit-animation-name: ui-spinner-rotate-left;
        -webkit-transform-origin: 0 50%;
        animation-name: ui-spinner-rotate-left;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        left: 100%;
        transform-origin: 0 50%;
    }

/* line 152, ../../src/sass/messenger-spinner.scss */

.messenger-spinner .messenger-spinner-side-right {
    left: 50%;
}

    /* line 155, ../../src/sass/messenger-spinner.scss */

    .messenger-spinner .messenger-spinner-side-right .messenger-spinner-fill {
        -moz-animation-name: ui-spinner-rotate-right;
        -moz-transform-origin: 100% 50%;
        -ms-animation-name: ui-spinner-rotate-right;
        -ms-transform-origin: 100% 50%;
        -o-animation-name: ui-spinner-rotate-right;
        -o-transform-origin: 100% 50%;
        -webkit-animation-name: ui-spinner-rotate-right;
        -webkit-transform-origin: 100% 50%;
        animation-name: ui-spinner-rotate-right;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        left: -100%;
        transform-origin: 100% 50%;
    }

/* line 15, ../../src/sass/messenger-theme-future.sass */

ul.messenger-theme-future {
    -moz-border-radius: 4px;
    -moz-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.24), 0px 1px 5px rgba(0, 0, 0, 0.6);
    -moz-user-select: none;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -o-user-select: none;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.24), 0px 1px 5px rgba(0, 0, 0, 0.6);
    -webkit-user-select: none;
    background-color: #5c5b5b;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5c5b5b), color-stop(100%, #353535));
    background-image: -webkit-linear-gradient(#5c5b5b, #353535);
    background-image: -moz-linear-gradient(#5c5b5b, #353535);
    background-image: -o-linear-gradient(#5c5b5b, #353535);
    background-image: linear-gradient(#5c5b5b, #353535);
    /*background-image: linear-gradient(#bfdcff, #55646a);*/
    /*border: 1px solid rgb(0 0 0 / 50%);*/
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    box-shadow: inset 0px 1px rgba(255, 255, 255, 0.24), 0px 1px 5px rgba(0, 0, 0, 0.6);
    user-select: none;
}

    /* line 23, ../../src/sass/messenger-theme-future.sass */

    ul.messenger-theme-future .messenger-message {
        -moz-border-radius: 0px;
        -moz-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 0px -1px rgba(0, 0, 0, 0.23), inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        -webkit-border-radius: 0px;
        -webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 0px -1px rgba(0, 0, 0, 0.23), inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
        background: transparent;
        border: 0px;
        border-radius: 0px;
        box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 0px -1px rgba(0, 0, 0, 0.23), inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
        color: #f0f0f0;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 0px;
        padding: 10px 30px 13px 65px;
        position: relative;
        text-shadow: 0px 1px #111111;
    }

        /* line 36, ../../src/sass/messenger-theme-future.sass */

        ul.messenger-theme-future .messenger-message .messenger-close {
            -webkit-appearance: none;
            background: transparent;
            border: 0;
            color: #888888;
            cursor: pointer;
            display: block;
            font-size: 20px;
            font-weight: bold;
            line-height: 20px;
            opacity: 1;
            padding: 8px 10px 7px 7px;
            position: absolute;
            right: 0px;
            text-shadow: 0px 1px black;
            top: 0px;
        }

            /* line 53, ../../src/sass/messenger-theme-future.sass */

            ul.messenger-theme-future .messenger-message .messenger-close:hover {
                color: #bbbbbb;
            }

            /* line 56, ../../src/sass/messenger-theme-future.sass */

            ul.messenger-theme-future .messenger-message .messenger-close:active {
                color: #777777;
            }

        /* line 59, ../../src/sass/messenger-theme-future.sass */

        ul.messenger-theme-future .messenger-message .messenger-actions {
            float: none;
            margin-top: 10px;
        }

            /* line 63, ../../src/sass/messenger-theme-future.sass */

            ul.messenger-theme-future .messenger-message .messenger-actions a {
                -moz-border-radius: 4px;
                -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2), inset 0px 1px rgba(255, 255, 255, 0.1);
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                -webkit-border-radius: 4px;
                -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2), inset 0px 1px rgba(255, 255, 255, 0.1);
                border-radius: 4px;
                box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2), inset 0px 1px rgba(255, 255, 255, 0.1);
                color: #aaaaaa;
                display: inline-block;
                margin-right: 10px;
                padding: 10px;
                padding: 3px 10px 5px;
                text-decoration: none;
                text-shadow: 0px 1px #222222;
                text-transform: capitalize;
            }

                /* line 75, ../../src/sass/messenger-theme-future.sass */

                ul.messenger-theme-future .messenger-message .messenger-actions a:hover {
                    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2), inset 0px 1px rgba(255, 255, 255, 0.2);
                    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2), inset 0px 1px rgba(255, 255, 255, 0.2);
                    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2), inset 0px 1px rgba(255, 255, 255, 0.2);
                    color: #f0f0f0;
                }

                /* line 79, ../../src/sass/messenger-theme-future.sass */

                ul.messenger-theme-future .messenger-message .messenger-actions a:active {
                    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.28), inset 0px 1px rgba(0, 0, 0, 0.1);
                    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.28), inset 0px 1px rgba(0, 0, 0, 0.1);
                    background: rgba(0, 0, 0, 0.04);
                    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.28), inset 0px 1px rgba(0, 0, 0, 0.1);
                    color: #aaaaaa;
                }

            /* line 84, ../../src/sass/messenger-theme-future.sass */

            ul.messenger-theme-future .messenger-message .messenger-actions .messenger-phrase {
                display: none;
            }

        /* line 87, ../../src/sass/messenger-theme-future.sass */

        ul.messenger-theme-future .messenger-message .messenger-message-inner:before {
            -moz-border-radius: 50%;
            -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.6), 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            -webkit-border-radius: 50%;
            -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.6), 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.6), 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
            content: " ";
            display: block;
            height: 13px;
            left: 17px;
            margin-top: -8px;
            position: absolute;
            top: 50%;
            width: 13px;
            z-index: 20;
        }

        /* line 100, ../../src/sass/messenger-theme-future.sass */

        ul.messenger-theme-future .messenger-message.alert-success .messenger-message-inner:before {
            background-color: #5fca4a;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5fca4a), color-stop(100%, #098d38));
            background-image: -webkit-linear-gradient(top, #5fca4a, #098d38);
            background-image: -moz-linear-gradient(top, #5fca4a, #098d38);
            background-image: -o-linear-gradient(top, #5fca4a, #098d38);
            background-image: linear-gradient(top, #5fca4a, #098d38);
        }

        /* line 104, ../../src/sass/messenger-theme-future.sass */

        ul.messenger-theme-future .messenger-message.alert-info .messenger-message-inner:before {
            background-color: #61c4b8;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #61c4b8), color-stop(100%, #1992a3));
            background-image: -webkit-linear-gradient(top, #61c4b8, #1992a3);
            background-image: -moz-linear-gradient(top, #61c4b8, #1992a3);
            background-image: -o-linear-gradient(top, #61c4b8, #1992a3);
            background-image: linear-gradient(top, #61c4b8, #1992a3);
        }

        /* line 110, ../../src/sass/messenger-theme-future.sass */

        ul.messenger-theme-future .messenger-message.alert-error .messenger-message-inner:before {
            background-color: #dd6a45;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dd6a45), color-stop(100%, #91361a));
            background-image: -webkit-linear-gradient(top, #dd6a45, #91361a);
            background-image: -moz-linear-gradient(top, #dd6a45, #91361a);
            background-image: -o-linear-gradient(top, #dd6a45, #91361a);
            background-image: linear-gradient(top, #dd6a45, #91361a);
        }

        /* line 32, ../../src/sass/messenger-spinner.scss */

        ul.messenger-theme-future .messenger-message.alert-error.messenger-retry-soon .messenger-spinner {
            background: transparent;
            height: 32px;
            width: 32px;
        }

            /* line 37, ../../src/sass/messenger-spinner.scss */

            ul.messenger-theme-future .messenger-message.alert-error.messenger-retry-soon .messenger-spinner .messenger-spinner-side .messenger-spinner-fill {
                -moz-animation-duration: 20s;
                -ms-animation-duration: 20s;
                -o-animation-duration: 20s;
                -webkit-animation-duration: 20s;
                animation-duration: 20s;
                background: #dd6a45;
                opacity: 1;
            }

            /* line 45, ../../src/sass/messenger-spinner.scss */

            ul.messenger-theme-future .messenger-message.alert-error.messenger-retry-soon .messenger-spinner:after {
                background: #333333;
                border-radius: 50%;
                content: "";
                display: block;
                height: 26px;
                left: 3px;
                position: absolute;
                top: 3px;
                width: 26px;
            }

        /* line 32, ../../src/sass/messenger-spinner.scss */

        ul.messenger-theme-future .messenger-message.alert-error.messenger-retry-later .messenger-spinner {
            background: transparent;
            height: 32px;
            width: 32px;
        }

            /* line 37, ../../src/sass/messenger-spinner.scss */

            ul.messenger-theme-future .messenger-message.alert-error.messenger-retry-later .messenger-spinner .messenger-spinner-side .messenger-spinner-fill {
                -moz-animation-duration: 600s;
                -ms-animation-duration: 600s;
                -o-animation-duration: 600s;
                -webkit-animation-duration: 600s;
                animation-duration: 600s;
                background: #dd6a45;
                opacity: 1;
            }

            /* line 45, ../../src/sass/messenger-spinner.scss */

            ul.messenger-theme-future .messenger-message.alert-error.messenger-retry-later .messenger-spinner:after {
                background: #333333;
                border-radius: 50%;
                content: "";
                display: block;
                height: 26px;
                left: 3px;
                position: absolute;
                top: 3px;
                width: 26px;
            }

    /* line 122, ../../src/sass/messenger-theme-future.sass */

    ul.messenger-theme-future .messenger-message-slot.messenger-last .messenger-message {
        -moz-border-radius: 4px 4px 0px 0px;
        -ms-border-radius: 4px 4px 0px 0px;
        -o-border-radius: 4px 4px 0px 0px;
        -webkit-border-radius: 4px 4px 0px 0px;
        border-radius: 4px 4px 0px 0px;
    }

    /* line 125, ../../src/sass/messenger-theme-future.sass */

    ul.messenger-theme-future .messenger-message-slot.messenger-first .messenger-message {
        -moz-border-radius: 0px 0px 4px 4px;
        -moz-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
        -ms-border-radius: 0px 0px 4px 4px;
        -o-border-radius: 0px 0px 4px 4px;
        -webkit-border-radius: 0px 0px 4px 4px;
        -webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
        border-radius: 0px 0px 4px 4px;
        box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
    }

    /* line 129, ../../src/sass/messenger-theme-future.sass */

    ul.messenger-theme-future .messenger-message-slot.messenger-first.messenger-last .messenger-message {
        -moz-border-radius: 4px;
        -moz-box-shadow: inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        -webkit-box-shadow: inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
        border-radius: 4px;
        box-shadow: inset 48px 0px 0px rgba(0, 0, 0, 0.3), inset 46px 0px 0px rgba(255, 255, 255, 0.07);
    }

    /* line 133, ../../src/sass/messenger-theme-future.sass */

    ul.messenger-theme-future .messenger-spinner {
        display: block;
        height: 32px;
        left: 10px;
        margin-top: -15px;
        position: absolute;
        top: 50%;
        width: 32px;
        z-index: 999;
        z-index: 10;
    }

/* line 4, ../../src/sass/messenger-theme-block.sass */

ul.messenger.messenger-theme-block.messenger-fixed {
    left: 0;
    margin-left: 0px;
    top: 0;
    width: 100%;
}

    /* line 10, ../../src/sass/messenger-theme-block.sass */

    ul.messenger.messenger-theme-block.messenger-fixed.messenger-on-bottom {
        bottom: 0;
        top: auto;
    }

    /* line 14, ../../src/sass/messenger-theme-block.sass */

    ul.messenger.messenger-theme-block.messenger-fixed.messenger-on-top {
        bottom: auto;
        top: 0px;
    }

    /* line 18, ../../src/sass/messenger-theme-block.sass */

    ul.messenger.messenger-theme-block.messenger-fixed.messenger-on-top, ul.messenger.messenger-theme-block.messenger-fixed.messenger-on-bottom {
        left: 0px;
        right: 0px;
    }

        /* line 22, ../../src/sass/messenger-theme-block.sass */

        ul.messenger.messenger-theme-block.messenger-fixed.messenger-on-top.messenger-on-right, ul.messenger.messenger-theme-block.messenger-fixed.messenger-on-top.messenger-on-left, ul.messenger.messenger-theme-block.messenger-fixed.messenger-on-bottom.messenger-on-right, ul.messenger.messenger-theme-block.messenger-fixed.messenger-on-bottom.messenger-on-left {
            width: 350px;
        }

        /* line 25, ../../src/sass/messenger-theme-block.sass */

        ul.messenger.messenger-theme-block.messenger-fixed.messenger-on-top.messenger-on-left, ul.messenger.messenger-theme-block.messenger-fixed.messenger-on-bottom.messenger-on-left {
            right: auto;
        }

        /* line 28, ../../src/sass/messenger-theme-block.sass */

        ul.messenger.messenger-theme-block.messenger-fixed.messenger-on-top.messenger-on-right, ul.messenger.messenger-theme-block.messenger-fixed.messenger-on-bottom.messenger-on-right {
            left: auto;
        }

    /* line 31, ../../src/sass/messenger-theme-block.sass */

    ul.messenger.messenger-theme-block.messenger-fixed .messenger-message-slot {
        max-width: none;
    }

    /* line 34, ../../src/sass/messenger-theme-block.sass */

    ul.messenger.messenger-theme-block.messenger-fixed .messenger-message {
        border-style: solid;
        border-width: 1px;
        padding: 1em;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }

        /* line 41, ../../src/sass/messenger-theme-block.sass */

        ul.messenger.messenger-theme-block.messenger-fixed .messenger-message.alert-warning {
            background-color: #fcf8e3;
            border-color: #fbeed5;
            color: #c09853;
        }

        /* line 46, ../../src/sass/messenger-theme-block.sass */

        ul.messenger.messenger-theme-block.messenger-fixed .messenger-message.alert-error, ul.messenger.messenger-theme-block.messenger-fixed .messenger-message.alert-danger {
            background-color: #f2dede;
            border-color: #eed3d7;
            color: #b94a48;
        }

        /* line 51, ../../src/sass/messenger-theme-block.sass */

        ul.messenger.messenger-theme-block.messenger-fixed .messenger-message.alert-success {
            background-color: #dff0d8;
            border-color: #d6e9c6;
            color: #468847;
        }

        /* line 56, ../../src/sass/messenger-theme-block.sass */

        ul.messenger.messenger-theme-block.messenger-fixed .messenger-message.alert-info {
            background-color: #d9edf7;
            border-color: #bce8f1;
            color: #3a87ad;
        }

        /* line 61, ../../src/sass/messenger-theme-block.sass */

        ul.messenger.messenger-theme-block.messenger-fixed .messenger-message .messenger-close {
            -webkit-appearance: none;
            background: transparent;
            border: 0;
            color: inherit;
            cursor: pointer;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
            float: right;
            font-size: 22px;
            left: 11px;
            opacity: 0.5;
            padding: 0;
            position: relative;
            top: -13px;
        }

            /* line 75, ../../src/sass/messenger-theme-block.sass */

            ul.messenger.messenger-theme-block.messenger-fixed .messenger-message .messenger-close:hover {
                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
                opacity: 0.8;
            }

            /* line 78, ../../src/sass/messenger-theme-block.sass */

            ul.messenger.messenger-theme-block.messenger-fixed .messenger-message .messenger-close:active {
                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
                opacity: 1;
            }

/* line 12, ../../src/sass/messenger-theme-ice.sass */

ul.messenger-theme-ice {
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    font-family: "Open Sans", sans-serif;
    user-select: none;
}

    /* line 16, ../../src/sass/messenger-theme-ice.sass */

    ul.messenger-theme-ice .messenger-message {
        -moz-border-radius: 5px;
        -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.14), 0 4px #aaaaaa, 0 5px rgba(0, 0, 0, 0.05);
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        -webkit-border-radius: 5px;
        -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.14), 0 4px #aaaaaa, 0 5px rgba(0, 0, 0, 0.05);
        background-color: #f6f6f6;
        border: 0px;
        border-radius: 5px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.14), 0 4px #aaaaaa, 0 5px rgba(0, 0, 0, 0.05);
        color: #666666;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 1.5em;
        padding: 12px 22px;
        position: relative;
    }

        /* line 28, ../../src/sass/messenger-theme-ice.sass */

        ul.messenger-theme-ice .messenger-message .messenger-close {
            -webkit-appearance: none;
            background: transparent;
            border: 0;
            color: #888888;
            cursor: pointer;
            display: block;
            font-size: 20px;
            font-weight: bold;
            line-height: 20px;
            opacity: 1;
            padding: 8px 10px 7px 7px;
            position: absolute;
            right: 0px;
            top: 0px;
        }

            /* line 44, ../../src/sass/messenger-theme-ice.sass */

            ul.messenger-theme-ice .messenger-message .messenger-close:hover {
                color: #444444;
            }

            /* line 47, ../../src/sass/messenger-theme-ice.sass */

            ul.messenger-theme-ice .messenger-message .messenger-close:active {
                color: #222222;
            }

        /* line 50, ../../src/sass/messenger-theme-ice.sass */

        ul.messenger-theme-ice .messenger-message .messenger-actions {
            float: none;
            margin-top: 10px;
        }

            /* line 54, ../../src/sass/messenger-theme-ice.sass */

            ul.messenger-theme-ice .messenger-message .messenger-actions a {
                -moz-border-radius: 4px;
                -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.05);
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                -webkit-border-radius: 4px;
                -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.05);
                border-radius: 4px;
                box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.05);
                color: #888888;
                display: inline-block;
                margin-right: 10px;
                padding: 10px;
                padding: 3px 10px 5px;
                position: relative;
                text-decoration: none;
                text-transform: capitalize;
            }

                /* line 66, ../../src/sass/messenger-theme-ice.sass */

                ul.messenger-theme-ice .messenger-message .messenger-actions a:hover, ul.messenger-theme-ice .messenger-message .messenger-actions a:active {
                    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.15), 0 2px #aaaaaa;
                    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.15), 0 2px #aaaaaa;
                    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.15), 0 2px #aaaaaa;
                    color: #444444;
                }

                /* line 70, ../../src/sass/messenger-theme-ice.sass */

                ul.messenger-theme-ice .messenger-message .messenger-actions a:active {
                    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.15), 0 1px #aaaaaa;
                    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.15), 0 1px #aaaaaa;
                    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.15), 0 1px #aaaaaa;
                    top: 1px;
                }

            /* line 74, ../../src/sass/messenger-theme-ice.sass */

            ul.messenger-theme-ice .messenger-message .messenger-actions .messenger-phrase {
                display: none;
            }

        /* line 77, ../../src/sass/messenger-theme-ice.sass */

        ul.messenger-theme-ice .messenger-message .messenger-message-inner:before {
            display: block;
            font-weight: bold;
            margin-bottom: 2px;
            z-index: 20;
        }

        /* line 84, ../../src/sass/messenger-theme-ice.sass */

        ul.messenger-theme-ice .messenger-message.alert-success .messenger-message-inner:before {
            content: "Success";
        }

        /* line 88, ../../src/sass/messenger-theme-ice.sass */

        ul.messenger-theme-ice .messenger-message.alert-error .messenger-message-inner:before {
            content: "Error";
        }

        /* line 92, ../../src/sass/messenger-theme-ice.sass */

        ul.messenger-theme-ice .messenger-message.alert-info .messenger-message-inner:before {
            content: "Information";
        }

/* line 16, ../../src/sass/messenger-theme-air.sass */

ul.messenger-theme-air {
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    font-family: "Open Sans", sans-serif;
    user-select: none;
}

    /* line 20, ../../src/sass/messenger-theme-air.sass */

    ul.messenger-theme-air .messenger-message {
        -moz-border-radius: 5px;
        -moz-box-shadow: inset 0 0 0 1px white, inset 0 2px white, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.2);
        -moz-transition: background-color 0.4s;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        -o-transition: background-color 0.4s;
        -webkit-border-radius: 5px;
        -webkit-box-shadow: inset 0 0 0 1px white, inset 0 2px white, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.2);
        -webkit-transition: background-color 0.4s;
        background-color: rgba(255, 255, 255, 0.8);
        border: 0px;
        border-radius: 5px;
        box-shadow: inset 0 0 0 1px white, inset 0 2px white, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.2);
        color: #666666;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 1em;
        padding: 10px 30px 11px 46px;
        position: relative;
        transition: background-color 0.4s;
    }

        /* line 33, ../../src/sass/messenger-theme-air.sass */

        ul.messenger-theme-air .messenger-message:hover {
            background-color: white;
        }

        /* line 36, ../../src/sass/messenger-theme-air.sass */

        ul.messenger-theme-air .messenger-message .messenger-close {
            -webkit-appearance: none;
            background: transparent;
            border: 0;
            color: #888888;
            cursor: pointer;
            display: block;
            font-size: 20px;
            font-weight: bold;
            line-height: 20px;
            opacity: 1;
            padding: 8px 10px 7px 7px;
            position: absolute;
            right: 0px;
            top: 0px;
        }

            /* line 52, ../../src/sass/messenger-theme-air.sass */

            ul.messenger-theme-air .messenger-message .messenger-close:hover {
                color: #444444;
            }

            /* line 55, ../../src/sass/messenger-theme-air.sass */

            ul.messenger-theme-air .messenger-message .messenger-close:active {
                color: #222222;
            }

        /* line 58, ../../src/sass/messenger-theme-air.sass */

        ul.messenger-theme-air .messenger-message .messenger-actions {
            float: none;
            margin-top: 10px;
        }

            /* line 62, ../../src/sass/messenger-theme-air.sass */

            ul.messenger-theme-air .messenger-message .messenger-actions a {
                -moz-border-radius: 4px;
                -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.05);
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                -webkit-border-radius: 4px;
                -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.05);
                border-radius: 4px;
                box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.05);
                color: #888888;
                display: inline-block;
                margin-right: 10px;
                padding: 10px;
                padding: 3px 10px 5px;
                text-decoration: none;
                text-transform: capitalize;
            }

                /* line 73, ../../src/sass/messenger-theme-air.sass */

                ul.messenger-theme-air .messenger-message .messenger-actions a:hover {
                    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.15);
                    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.15);
                    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 1px rgba(255, 255, 255, 0.15);
                    color: #444444;
                }

                /* line 77, ../../src/sass/messenger-theme-air.sass */

                ul.messenger-theme-air .messenger-message .messenger-actions a:active {
                    -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.18), inset 0px 1px rgba(0, 0, 0, 0.05);
                    -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.18), inset 0px 1px rgba(0, 0, 0, 0.05);
                    background: rgba(0, 0, 0, 0.04);
                    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.18), inset 0px 1px rgba(0, 0, 0, 0.05);
                    color: #444444;
                }

            /* line 82, ../../src/sass/messenger-theme-air.sass */

            ul.messenger-theme-air .messenger-message .messenger-actions .messenger-phrase {
                display: none;
            }

        /* line 85, ../../src/sass/messenger-theme-air.sass */

        ul.messenger-theme-air .messenger-message .messenger-message-inner:before {
            -moz-border-radius: 50%;
            -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            -webkit-border-radius: 50%;
            -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
            content: " ";
            display: block;
            height: 13px;
            left: 17px;
            margin-top: -8px;
            position: absolute;
            top: 50%;
            width: 13px;
            z-index: 20;
        }

        /* line 99, ../../src/sass/messenger-theme-air.sass */

        ul.messenger-theme-air .messenger-message.alert-success .messenger-message-inner:before {
            background-color: #5fca4a;
        }

        /* line 32, ../../src/sass/messenger-spinner.scss */

        ul.messenger-theme-air .messenger-message.alert-error.messenger-retry-soon .messenger-spinner {
            background: transparent;
            height: 24px;
            width: 24px;
        }

            /* line 37, ../../src/sass/messenger-spinner.scss */

            ul.messenger-theme-air .messenger-message.alert-error.messenger-retry-soon .messenger-spinner .messenger-spinner-side .messenger-spinner-fill {
                -moz-animation-duration: 20s;
                -ms-animation-duration: 20s;
                -o-animation-duration: 20s;
                -webkit-animation-duration: 20s;
                animation-duration: 20s;
                background: #dd6a45;
                opacity: 1;
            }

            /* line 45, ../../src/sass/messenger-spinner.scss */

            ul.messenger-theme-air .messenger-message.alert-error.messenger-retry-soon .messenger-spinner:after {
                background: white;
                border-radius: 50%;
                content: "";
                display: block;
                height: 19px;
                left: 2px;
                position: absolute;
                top: 2px;
                width: 19px;
            }

        /* line 32, ../../src/sass/messenger-spinner.scss */

        ul.messenger-theme-air .messenger-message.alert-error.messenger-retry-later .messenger-spinner {
            background: transparent;
            height: 24px;
            width: 24px;
        }

            /* line 37, ../../src/sass/messenger-spinner.scss */

            ul.messenger-theme-air .messenger-message.alert-error.messenger-retry-later .messenger-spinner .messenger-spinner-side .messenger-spinner-fill {
                -moz-animation-duration: 600s;
                -ms-animation-duration: 600s;
                -o-animation-duration: 600s;
                -webkit-animation-duration: 600s;
                animation-duration: 600s;
                background: #dd6a45;
                opacity: 1;
            }

            /* line 45, ../../src/sass/messenger-spinner.scss */

            ul.messenger-theme-air .messenger-message.alert-error.messenger-retry-later .messenger-spinner:after {
                background: white;
                border-radius: 50%;
                content: "";
                display: block;
                height: 19px;
                left: 2px;
                position: absolute;
                top: 2px;
                width: 19px;
            }

        /* line 109, ../../src/sass/messenger-theme-air.sass */

        ul.messenger-theme-air .messenger-message.alert-error .messenger-message-inner:before {
            background-color: #dd6a45;
        }

        /* line 113, ../../src/sass/messenger-theme-air.sass */

        ul.messenger-theme-air .messenger-message.alert-info .messenger-message-inner:before {
            background-color: #61c4b8;
        }

    /* line 116, ../../src/sass/messenger-theme-air.sass */

    ul.messenger-theme-air .messenger-spinner {
        display: block;
        height: 24px;
        left: 12px;
        margin-top: -13px;
        position: absolute;
        top: 50%;
        width: 24px;
        z-index: 999;
        z-index: 10;
    }

/* line 15, ../../src/sass/messenger-theme-flat.sass */

ul.messenger-theme-flat {
    -moz-border-radius: 4px;
    -moz-user-select: none;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -o-user-select: none;
    -webkit-border-radius: 4px;
    -webkit-user-select: none;
    background: #404040;
    border-radius: 4px;
    user-select: none;
}

    /* line 20, ../../src/sass/messenger-theme-flat.sass */

    ul.messenger-theme-flat.messenger-empty {
        display: none;
    }

    /* line 23, ../../src/sass/messenger-theme-flat.sass */

    ul.messenger-theme-flat .messenger-message {
        -moz-border-radius: 0px;
        -moz-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 48px 0px 0px #292929;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
        -webkit-border-radius: 0px;
        -webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 48px 0px 0px #292929;
        background: transparent;
        border: 0px;
        border-radius: 0px;
        box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 48px 0px 0px #292929;
        color: #f0f0f0;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 0px;
        padding: 10px 30px 13px 65px;
        position: relative;
    }

        /* line 35, ../../src/sass/messenger-theme-flat.sass */

        ul.messenger-theme-flat .messenger-message .messenger-close {
            -webkit-appearance: none;
            background: transparent;
            border: 0;
            color: #888888;
            cursor: pointer;
            display: block;
            font-size: 20px;
            font-weight: bold;
            line-height: 20px;
            opacity: 1;
            padding: 8px 10px 7px 7px;
            position: absolute;
            right: 0px;
            top: 0px;
        }

            /* line 51, ../../src/sass/messenger-theme-flat.sass */

            ul.messenger-theme-flat .messenger-message .messenger-close:hover {
                color: #bbbbbb;
            }

            /* line 54, ../../src/sass/messenger-theme-flat.sass */

            ul.messenger-theme-flat .messenger-message .messenger-close:active {
                color: #777777;
            }

        /* line 57, ../../src/sass/messenger-theme-flat.sass */

        ul.messenger-theme-flat .messenger-message .messenger-actions {
            float: none;
            margin-top: 10px;
        }

            /* line 61, ../../src/sass/messenger-theme-flat.sass */

            ul.messenger-theme-flat .messenger-message .messenger-actions a {
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                -webkit-border-radius: 4px;
                background: #2e2e2e;
                border-radius: 4px;
                color: #aaaaaa;
                display: inline-block;
                margin-right: 10px;
                padding: 10px;
                padding: 4px 11px 6px;
                text-decoration: none;
                text-transform: capitalize;
            }

                /* line 72, ../../src/sass/messenger-theme-flat.sass */

                ul.messenger-theme-flat .messenger-message .messenger-actions a:hover {
                    background: #2e2e2e;
                    color: #f0f0f0;
                }

                /* line 76, ../../src/sass/messenger-theme-flat.sass */

                ul.messenger-theme-flat .messenger-message .messenger-actions a:active {
                    background: #292929;
                    color: #aaaaaa;
                }

            /* line 80, ../../src/sass/messenger-theme-flat.sass */

            ul.messenger-theme-flat .messenger-message .messenger-actions .messenger-phrase {
                display: none;
            }

        /* line 83, ../../src/sass/messenger-theme-flat.sass */

        ul.messenger-theme-flat .messenger-message .messenger-message-inner:before {
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            content: " ";
            display: block;
            height: 13px;
            left: 17px;
            margin-top: -8px;
            position: absolute;
            top: 50%;
            width: 13px;
            z-index: 20;
        }

        /* line 95, ../../src/sass/messenger-theme-flat.sass */

        ul.messenger-theme-flat .messenger-message.alert-success .messenger-message-inner:before {
            background: #5fca4a;
        }

        /* line 98, ../../src/sass/messenger-theme-flat.sass */

        ul.messenger-theme-flat .messenger-message.alert-info .messenger-message-inner:before {
            background: #61c4b8;
        }

        /* line 103, ../../src/sass/messenger-theme-flat.sass */

        ul.messenger-theme-flat .messenger-message.alert-error .messenger-message-inner:before {
            background: #dd6a45;
        }

        /* line 32, ../../src/sass/messenger-spinner.scss */

        ul.messenger-theme-flat .messenger-message.alert-error.messenger-retry-soon .messenger-spinner {
            background: transparent;
            height: 32px;
            width: 32px;
        }

            /* line 37, ../../src/sass/messenger-spinner.scss */

            ul.messenger-theme-flat .messenger-message.alert-error.messenger-retry-soon .messenger-spinner .messenger-spinner-side .messenger-spinner-fill {
                -moz-animation-duration: 20s;
                -ms-animation-duration: 20s;
                -o-animation-duration: 20s;
                -webkit-animation-duration: 20s;
                animation-duration: 20s;
                background: #dd6a45;
                opacity: 1;
            }

            /* line 45, ../../src/sass/messenger-spinner.scss */

            ul.messenger-theme-flat .messenger-message.alert-error.messenger-retry-soon .messenger-spinner:after {
                background: #292929;
                border-radius: 50%;
                content: "";
                display: block;
                height: 26px;
                left: 3px;
                position: absolute;
                top: 3px;
                width: 26px;
            }

        /* line 32, ../../src/sass/messenger-spinner.scss */

        ul.messenger-theme-flat .messenger-message.alert-error.messenger-retry-later .messenger-spinner {
            background: transparent;
            height: 32px;
            width: 32px;
        }

            /* line 37, ../../src/sass/messenger-spinner.scss */

            ul.messenger-theme-flat .messenger-message.alert-error.messenger-retry-later .messenger-spinner .messenger-spinner-side .messenger-spinner-fill {
                -moz-animation-duration: 600s;
                -ms-animation-duration: 600s;
                -o-animation-duration: 600s;
                -webkit-animation-duration: 600s;
                animation-duration: 600s;
                background: #dd6a45;
                opacity: 1;
            }

            /* line 45, ../../src/sass/messenger-spinner.scss */

            ul.messenger-theme-flat .messenger-message.alert-error.messenger-retry-later .messenger-spinner:after {
                background: #292929;
                border-radius: 50%;
                content: "";
                display: block;
                height: 26px;
                left: 3px;
                position: absolute;
                top: 3px;
                width: 26px;
            }

    /* line 114, ../../src/sass/messenger-theme-flat.sass */

    ul.messenger-theme-flat .messenger-message-slot.messenger-last .messenger-message {
        -moz-border-radius: 4px 4px 0px 0px;
        -moz-box-shadow: inset 48px 0px 0px #292929;
        -ms-border-radius: 4px 4px 0px 0px;
        -o-border-radius: 4px 4px 0px 0px;
        -webkit-border-radius: 4px 4px 0px 0px;
        -webkit-box-shadow: inset 48px 0px 0px #292929;
        border-radius: 4px 4px 0px 0px;
        box-shadow: inset 48px 0px 0px #292929;
    }

    /* line 118, ../../src/sass/messenger-theme-flat.sass */

    ul.messenger-theme-flat .messenger-message-slot.messenger-first .messenger-message {
        -moz-border-radius: 0px 0px 4px 4px;
        -moz-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 48px 0px 0px #292929;
        -ms-border-radius: 0px 0px 4px 4px;
        -o-border-radius: 0px 0px 4px 4px;
        -webkit-border-radius: 0px 0px 4px 4px;
        -webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 48px 0px 0px #292929;
        border-radius: 0px 0px 4px 4px;
        box-shadow: inset 0px 1px rgba(255, 255, 255, 0.13), inset 48px 0px 0px #292929;
    }

    /* line 122, ../../src/sass/messenger-theme-flat.sass */

    ul.messenger-theme-flat .messenger-message-slot.messenger-first.messenger-last .messenger-message {
        -moz-border-radius: 4px;
        -moz-box-shadow: inset 48px 0px 0px #292929;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        -webkit-box-shadow: inset 48px 0px 0px #292929;
        border-radius: 4px;
        box-shadow: inset 48px 0px 0px #292929;
    }

    /* line 126, ../../src/sass/messenger-theme-flat.sass */

    ul.messenger-theme-flat .messenger-spinner {
        display: block;
        height: 32px;
        left: 7px;
        margin-top: -18px;
        position: absolute;
        top: 50%;
        width: 32px;
        z-index: 999;
        z-index: 10;
    }
