<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAMGVendorGetDetails.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmAMGVendorGetDetails" %>

<%@ Register Src="../../../Controls/AMGVendorGetDetails.ascx" TagName="AMGVendorGetDetails"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AMGVendorGetDetails ID="AMGVendorGetDetails1" runat="server" />
</asp:Content>

