<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAMGVendorNewRecord.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmAMGVendorNewRecord" %>

<%@ Register Src="../../../Controls/AMGVendorNewRecord.ascx" TagName="AMGVendorNewRecord"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AMGVendorNewRecord ID="AMGVendorNewRecord1" runat="server" />
</asp:Content>

