<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="frmAMGAssetModify.aspx.vb" Inherits="Modify"%>
<%@ Register Src="~/Controls/AssetModify.ascx" TagName="ucAssetModify" TagPrefix="AssetModify"%>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

   <AssetModify:ucAssetModify id="AssetModify1" runat="server"></AssetModify:ucAssetModify>
</asp:Content>
