<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="frmAMGTaggedNewRecord.aspx.vb" Inherits="frmAMGTaggedNewRecord"%>

<%@ Register Src="../../Controls/AMGTagNewRecord.ascx" TagName="AMGTagNewRecord"
    TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:AMGTagNewRecord ID="AMGTagNewRecord1" runat="server" />
   

    
</asp:Content>
