<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAMGGroupGetDetails.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmAMGGroupGetDetails" %>

<%@ Register Src="../../Controls/AMGGroupGetDetails.ascx" TagName="AMGGroupGetDetails"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AMGGroupGetDetails id="AMGGroupGetDetails1" runat="server">
    </uc1:AMGGroupGetDetails>
</asp:Content>

