<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="frmAMGAssetNewRecord.aspx.vb" Inherits="Default2"%>
<%@ Register Src="~/Controls/AssetNewRecord.ascx" TagName="ucAssetNewRecord" TagPrefix="AssetNewRecord" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

<AssetNewRecord:ucAssetNewRecord id="AssetNewRecord1" runat="server"></AssetNewRecord:ucAssetNewRecord>
    
</asp:Content>
