<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAddPropertyDocuments.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmAddPropertyDocuments"  %>

<%@ Register Src="../../Controls/AddPropertyDocuments.ascx" TagName="AddPropertyDocuments"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AddPropertyDocuments ID="AddPropertyDocuments1" runat="server" />
</asp:Content>

