<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmCheckedList.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmCheckedList" title="Report" %>

<%@ Register Src="../../Controls/CheckedList.ascx" TagName="CheckedList" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:CheckedList ID="CheckedList1" runat="server" />
</asp:Content>

