<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmEmpAsstMaping.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmEmpAsstMaping" title="Employee Asset Mapping" %>

<%@ Register Src="../../Controls/EmpAssetMaping.ascx" TagName="EmpAssetMaping" TagPrefix="uc1" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:EmpAssetMaping ID="EmpAssetMaping1" runat="server" />
  
    
</asp:Content>

