<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmForeCastReport.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmForeCastReport" title="ForeCast Report" %>

<%@ Register Src="../../Controls/ForeCastReport.ascx" TagName="ForeCastReport" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:ForeCastReport ID="ForeCastReport1" runat="server" />
</asp:Content>

