<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmGenGatePass.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmGenGatePass" title="Untitled Page" %>

<%@ Register Src="../../Controls/GenGatePass.ascx" TagName="GenGatePass" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:gengatepass id="GenGatePass1" runat="server"></uc1:gengatepass>
</asp:Content>

