<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmHRApproval.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmHRApproval" title="HR Approval" %>

<%@ Register Src="../../Controls/HRApproval.ascx" TagName="HRApproval" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:HRApproval ID="HRApproval1" runat="server" />
</asp:Content>

