<%@ Page Language="VB"  AutoEventWireup="false" CodeFile="frmLeaseAudit.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmLeaseAudit" title="View Lease Report" %>

<%@ Register Src="../../Controls/LeaseAudit.ascx" TagName="LeaseAudit" TagPrefix="uc1" %>

    <uc1:LeaseAudit ID="LeaseAudit1" runat="server" />


