﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmMasLocationSerivceEmpMapping.aspx.vb" Inherits="Masters_Mas_Webfiles_frmMasLocationSerivceEmpMapping" %>

<%@ Register src="~/Controls/LocationSerivceEmpMapping.ascx" tagname="LocationSerivceEmpMapping" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:LocationSerivceEmpMapping ID="LocationSerivceEmpMapping1" runat="server" />
</asp:Content>

