<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmModifyLease.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmModifyLease" %>

<%@ Register Src="../../Controls/ModifyLease.ascx" TagName="ModifyLease" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:ModifyLease ID="ModifyLease1" runat="server" />
</asp:Content>

