<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile="~/MasterPage.master" CodeFile="frmStockUpdatedReport.aspx.vb"
    Inherits="frmStockUpdatedReport" %>

<%@ Register Src="~/Controls/ucStockUpdatedReport.ascx" TagName="ucStockUpdated"
    TagPrefix="uc4" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


            <uc4:ucStockUpdated ID="ucStockUpdated" runat="server" />
       </asp:Content> 