/* CSS Document */

.modernbricksmenu2{
padding: 0;
width: 99%;
border-bottom: 5px solid #FFBB00; /*Brown color theme*/ 
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.modernbricksmenu2 ul{
margin:0;
padding: 0;
list-style: none;
}

.modernbricksmenu2 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;

}

.modernbricksmenu2 a{
float: left;
display: block;
font: 11px verdana;
color: #000000;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
/*background-color: #222222; Brown color theme*/ 
border-bottom: 1px solid white;
background-image:url(images/menu-bg.jpg);
}

.modernbricksmenu2 a:hover{
background-color: #C7C7C7; /*Brown color theme*/ 
color: #000000;
text-decoration:underline;
}

.modernbricksmenu2 a.selected{ /*currently selected tab*/
/*background-color: #87B50D; 
color: white;*/
border-color: #FFBB00; /*Brown color theme*/ 
background-image:url(images/box_yel-top_bg.jpg);
}

.tabcontent{
display:none;
font-size: 11px;
color: #5b626c;
}

@media print {
.tabcontent {
display:block !important;
}
}