<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmModifyBuilding.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmModifyBuilding" %>

<%@ Register Src="../../Controls/ModifyBuilding.ascx" TagName="ModifyBuilding" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:ModifyBuilding id="ModifyBuilding1" runat="server">
    </uc1:ModifyBuilding>
</asp:Content>

