﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmMASCatVendorMaster.aspx.vb" Inherits="Masters_Mas_Webfiles_frmMASCatVendorMaster" %>

<%@ Register Src="~/Controls/CategoryVendorMaster.ascx" TagPrefix="uc1" TagName="CategoryVendorMaster" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:CategoryVendorMaster runat="server" id="CategoryVendorMaster" />
</asp:Content>

