﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="frmHDMStatusDetailsReport.aspx.vb"
    Inherits="HDM_HDM_Webfiles_Reports_frmHDMStatusDetailsReport" Title="Report by user" %>


<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">  

    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    

    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->  
    <script type="text/javascript" defer>
        function maxLength(s, args) {
            if (args.Value.length >= 500)
                args.IsValid = false;
        }

    </script>
</head>
<body>   
    <div id="page-wrapper" class="row">
        <div class="row form-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Report by user</legend>
                    </fieldset>
                    <form id="form1" class="form-horizontal well" runat="server">
                        <asp:ValidationSummary ID="ValidationSummary1" runat="server" CssClass="clsMessage"
                            ForeColor="Red" ValidationGroup="Val1" />
                        <div class="row">
                           <div class="col-md-12">
                                <asp:GridView ID="gvViewRequisitions" runat="server" AllowPaging="true" AutoGenerateColumns="false"
                                    EmptyDataText="No User Report Found."  CssClass="table table-condensed table-bordered table-hover table-striped" PageSize="10">
                                    <Columns>
                                        <asp:BoundField DataField="SERVICE_CATEGORY" HeaderText="Service Category" ItemStyle-HorizontalAlign="left" />
                                        <asp:BoundField DataField="SERVICE_TYPE" HeaderText="Service Type" ItemStyle-HorizontalAlign="left" />                                       
                                        <asp:BoundField DataField="REQUESTED_BY" HeaderStyle-Width="10%" HeaderText="Requested By" ItemStyle-HorizontalAlign="left" />   
                                        <asp:BoundField DataField="REQUESTED_DATE" HeaderText="Requested Date" ItemStyle-HorizontalAlign="left" />
                                        <asp:BoundField DataField="REQUESITION_ID" HeaderText="Requisition Id" ItemStyle-HorizontalAlign="left" />                              
                                        <asp:BoundField DataField="ASSIGNED_TO" HeaderText="Assigned To" ItemStyle-HorizontalAlign="left" />
                                        <asp:BoundField DataField="CLOSED_TIME" HeaderText="Closed Time" ItemStyle-HorizontalAlign="left" Visible="false" />
                                        <asp:BoundField DataField="CLOSED_TIME" HeaderText="Updated Time" ItemStyle-HorizontalAlign="left" Visible="false" />
                                        <asp:BoundField DataField="TOTAL_TIME" HeaderText="Total Time(Min)"  HeaderStyle-Width="10%" ItemStyle-HorizontalAlign="left" />
                                        <asp:BoundField DataField="DEFINED_TAT" HeaderText="Defined TAT" ItemStyle-HorizontalAlign="left"/>                                       
                                        <asp:BoundField DataField="DELAYED_TIME" HeaderText="Delayed Time(Min)"  HeaderStyle-Width="10%" ItemStyle-HorizontalAlign="left" />
                                        <%--<asp:BoundField DataField="SER_STATUS" HeaderText="Status" ItemStyle-HorizontalAlign="left" />--%>
                                        <asp:TemplateField HeaderText="Status" ItemStyle-HorizontalAlign="left">
                                            <ItemTemplate>
                                                <asp:Label ID="lblStatus" runat="server" />
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField HeaderText="" ItemStyle-HorizontalAlign="center">
                                            <ItemTemplate>
                                                <asp:HyperLink ID="hLinkDetails" runat="server" NavigateUrl='<%#Eval("REQUESITION_ID", "~/HDM/HDM_Webfiles/Reports/frmHDMReportViewDetails.aspx?RID={0}")%>'
                                                    Text="View Details"></asp:HyperLink>
                                                <%--<asp:HyperLink ID="hLinkFeedBack" runat="server" NavigateUrl='<%#Eval("REQUISITION_ID", "~/HDM/HDM_Webfiles/frmHDMFeedback.aspx?RID={0}")%>'
                                            Text="Give Feedback"></asp:HyperLink>--%>
                                                <asp:Label ID="lblStatusId" runat="server" Text='<%#Eval("SER_STATUS") %>' Visible="false"></asp:Label>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                    </Columns>
                                    <HeaderStyle BackColor="#366599" ForeColor="#E2E2E2" />
                                    <PagerStyle CssClass="pagination-ys" />
                                </asp:GridView>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="form-group">
                                    <asp:Button ID="btnback" runat="server" CssClass="btn btn-primary custom-button-color" Text="Back" />


                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
   <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>
</body>
</html>
