<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmadfuserprevileges.aspx.vb" Inherits="AdminFunctions_ADF_WebFiles_frmadfuserprevileges" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
