﻿<%@ Page Language="C#" AutoEventWireup="true" %>

<!DOCTYPE html>
<html lang="en" data-ng-app="QuickFMS">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    <%-- <link href="../../../BlurScripts/BlurCss/vendor-3bab2c9961.css" rel="stylesheet" />
    <link href="../../../BlurScripts/BlurCss/app-b2b3cfd0e7.css" rel="stylesheet" />
    <link href="../../../BlurScripts/BlurCss/NonAngularScript.css" rel="stylesheet" />--%>




    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->
    <%--<style>
        .grid-align {
            text-align: center;
        }

        a:hover {
            cursor: pointer;
        }
    </style>
    <link href="../../Scripts/aggrid/css/ag-grid.min.css" rel="stylesheet" />
    <link href="../../Scripts/aggrid/css/theme-blue.css" rel="stylesheet" />--%>
    <script type="text/javascript" defer>
        function maxLength(s, args) {
            if (args.Value.length >= 500)
                args.IsValid = false;
        }
    </script>
</head>
<body data-ng-controller="ConferenceTypeMasterController" class="amantra">
    <%--  <div id="page-wrapper" class="row">
        <div class="row form-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Reservation Type Master</legend>
                    </fieldset>--%>
    <div class="animsition">
        <div class="al-content">
            <div class="widgets">
                <%--<div ba-panel ba-panel-title="Reservation Type Master" ba-panel-class="with-scroll" >
                    <div class="panel">
                        <div class="panel-heading" style="height: 41px;">--%>
                <h3 class="panel-title">Reservation Type Master</h3>
            </div>
            <div class="card">
                <%--<div class="card-body" style="padding-right: 10px;">--%>
                <form role="form" id="form1" name="frm" data-valid-submit="Save()" novalidate>
                    <div class="clearfix">
                        <div class="box-footer text-right">
                            <span style="color: red;">*</span>  Mandatory field
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group" data-ng-class="{'has-error': frm.$submitted && frm.CONF_CODE.$invalid}">
                                <label>Reservation Code<span style="color: red;">*</span></label>
                                <div onmouseover="Tip('Enter code in alphabets and numbers, upto 15 characters allowed')" onmouseout="UnTip()">
                                    <input id="txtcode" name="CONF_CODE" type="text" data-ng-model="ConferenceType.CONF_CODE" data-ng-pattern="codepattern" maxlength="15" class="form-control" autofocus required="" data-ng-readonly="ActionStatus==1" />
                                    <span class="error" data-ng-show="frm.$submitted && frm.CONF_CODE.$invalid" style="color: red">Please enter valid code</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group" data-ng-class="{'has-error': frm.$submitted && frm.CONF_NAME.$invalid}">
                                <label>Reservation Name<span style="color: red;">*</span></label>
                                <div onmouseover="Tip('Enter Name in alphabets,numbers and  (space,-,_ ,(,),\,/ allowed) and upto 50 characters allowed')"
                                    onmouseout="UnTip()">
                                    <input id="txtCName" name="CONF_NAME" type="text" data-ng-model="ConferenceType.CONF_NAME" data-ng-pattern="namepattern" maxlength="50" class="form-control" autofocus required="" />
                                    <span class="error" data-ng-show="frm.$submitted && frm.CONF_NAME.$invalid" style="color: red">Please enter valid name</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Remarks</label>
                                <div onmouseover="Tip('Enter Remarks upto 500 characters')" onmouseout="UnTip()">
                                    <textarea id="txtremarks" name="CONF_REMARKS" data-ng-model="ConferenceType.CONF_REMARKS" style="height: 30%" class="form-control" maxlength="500"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="row" data-ng-show="ActionStatus==1" data-ng-class="{'has-error': frm.$submitted && frm.CONF_STA_ID.$invalid}" style="width: 230px">
                                    <label>Status<span style="color: red;">*</span></label>
                                    <select id="ddlsta" name="Status" data-ng-model="ConferenceType.CONF_STA_ID" class="form-control">
                                        <option value="">--Select--</option>
                                        <option data-ng-repeat="sta in StaDet" value="{{sta.Id}}">{{sta.Name}}</option>
                                    </select>
                                    <span class="error" data-ng-show="frm.$submitted && frm.CONF_STA_ID.$invalid" data-ng-disabled="ActionStatus==0" style="color: red">Please select status</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="form-group">
                                <input type="submit" value="Submit" class="btn btn-primary custom-button-color" data-ng-show="ActionStatus==0" />
                                <input type="submit" value="Modify" class="btn btn-primary custom-button-color" data-ng-show="ActionStatus==1" />
                                <input type="reset" value="Clear" class="btn btn-primary custom-button-color" data-ng-click="EraseData()" />
                                <a class="btn btn-primary custom-button-color" href="javascript:history.back()">Back</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="height: 320px">
                            <input id="filtertxt" placeholder="Filter..." type="text" class="form-control" style="width: 25%;" />
                            <div data-ag-grid="gridOptions" class="ag-blue" style="height: 300px; width: 100%"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%--</div>
        </div>
    </div>--%>
    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>
    <script defer>
        var app = angular.module('QuickFMS', ["agGrid"]);
    </script>
    <%--<script src="../Js/ConferenceTypeMaster.js"></script>--%>
    <script src="../Js/ConferenceTypeMaster.js" defer></script>
    <%--<script src="../../SMViews/Utility.js"></script>--%>
    <script src="../../SMViews/Utility.min.js" defer></script>
</body>
</html>
