﻿.ag-blue {
    --ag-header-position: relative;
    --ag-header-height: 50px;
    --ag-header-foreground-color: white;
    --ag-header-cell-hover-background-color: rgb(80, 40, 140);
    --ag-header-cell-moving-background-color: rgb(80, 40, 140);
}

    .ag-blue .ag-root {
        /*border:2px solid var(--border-light) !important;
        border-radius:5px;*/
        border: 1px solid var(--border-default) !important;
        border-radius: 10px;
    }

    .ag-blue .ag-header {
        background: #fff !important;
        /*position: relative !important;*/
        height: 48px !important;
        /*border-bottom: 1px solid var(--border-default) !important;*/
        border: none;
        border-radius: 5px;
    }

    .ag-blue .ag-body {
        padding-top: 48px !important;
    }

    .ag-blue .ag-body-viewport {
        background-color: #fff !important;
    }

    .ag-blue .ag-header-group-cell {
        font-weight: normal;
        font-size: 22px;
    }

    .ag-blue .ag-header-cell {
        background-color: #ebf0fb;
        border-right: 1px solid var(--border-default) !important;
        border-bottom: 1px solid var(--border-default) !important;
        text-align: center !important;
        position: relative;
        border: none;
    }
        .ag-blue .ag-header-cell:last-of-type {
            border-right: none !important;
        }

    .ag-blue .ag-filter-checkbox {
        position: relative;
        top: 2px;
        left: 2px;
        padding-right: 2px;
    }

    .ag-blue .ag-filter-header-container {
        border-bottom: 1px solid #d3d3d3;
        font: 10pt Calibri, "Segoe UI", Thonburi, Arial, Verdana, sans-serif;
    }

    .ag-blue .ag-filter-apply-panel {
        border-top: 1px solid #d3d3d3;
        padding: 2px;
    }

    .ag-blue .ag-filter {
        background-color: #fff;
        border: 1px solid #c6c6c6;
        font: 9pt Calibri, "Segoe UI", Thonburi, Arial, Verdana, sans-serif;
    }

    .ag-blue .ag-filter-filter {
        background-color: #fff;
        border: 1px solid #c6c6c6;
        width: 192px;
    }

    .ag-blue .ag-filter-value {
        margin-left: 4px;
    }

        .ag-blue .ag-filter-value:hover {
            background-color: #39f;
            border: 1px dotted #000;
            color: #fff;
        }

ag-blue .ag-header-cell:first-of-type {
    background-color: #ebf0fb;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
}

ag-blue .ag-header-cell:last-of-type {
    background-color: #ebf0fb;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #0f3a9f;
    text-align: center;
}

.ag-blue .ag-header-row {
    background-color: #ebf0fb !important;
    height: 48px !important;
    line-height: 48px !important;
    border-radius: 5px;
    background: white !important;
}

.ag-blue .ag-header-cell-label {
    color: #0f3a9f !important;
    font-size: 14px;
    padding: 0 !important;
    font-weight: bold;
}

.ag-blue .ag-body-container {
    height: 48px !important;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.ag-blue .ag-cell {
    /*background: #fff !important;*/
    text-align: center !important;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--border-default);
}

    .ag-blue .ag-cell:last-of-type {
        justify-content: center;
        border-right:none;
    }

.ag-blue .ag-group-cell {
    display: flex;
}

.ag-blue .ag-row {
    /* height: 40px !important;
    line-height: 40px !important;*/
    /*height:35px;*/
    text-align: center;
    /*margin-bottom: 20px;*/
    border-bottom: 1px solid var(--border-default) !important;
    /*color: #50555C !important;*/
}

.ag-blue .ag-row-odd {
    /*background-color: #f8f9fa !important;*/
}

.ag-blue .ag-cell-no-focus {
    /*border-right: 1px solid var(--border-default) !important;
        border-bottom: 1px solid var(--border-default) !important;*/
    /*padding: 0 10px;*/
    /*border-top: 0 !important;
        border-left: 0 !important;*/
}

.ag-blue .ag-cell-focus {
    /*border: inherit !important;*/
    /*background: transparent !important;*/
}

.ag-blue .ag-header-cell-menu-button {
    height: 25px !important;
    width: 25px !important;
    line-height: 26px !important;
    text-align: center !important;
    margin-top: 10px !important;
    background: white !important;
    border: 1px solid #e5e5e5 !important;
    border-radius: 5px;
    cursor: pointer !important;
    opacity: 1 !important;
}

.ag-blue .ag-header-cell-text {
    font-size: 0.9rem;
}

.ag-cell {
    font-size: 0.9rem;
}

.blue-view .ag-body-viewport {
    background-color: rgb(250 251 255) !important
}

.ag-blue .ag-list-selection {
    background-color: white;
    border: 1px solid #a9a9a9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
}

.ag-blue .ag-tool-panel-container {
    background-color: #ebf0fb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #a9a9a9;
    padding: 4px;
    border-radius: 5px;
}
.ag-visible-icons {
    margin-right: 3px;
}

.ag-blue a {
    font-size: 0.9rem;
}

.ag-blue .ag-cell {
    display: inline-block;
    padding: 10px;
}