﻿
.pagination-ys {
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.table td {
    border-top: none;
}

.GridStyle {
    border: 0px;
    width: 100%;
    border: 1px solid var(--border-default);
    border-radius: 5px;
}

    .GridStyle tr td {
        height: 4em;
    }

    .GridStyle tr:first-of-type {
        /*border-bottom: none;*/
        border-left: 1px solid var(--border-default);
    }

    .GridStyle td:first-of-type {
        border-left: 1px solid var(--border-default);
    }

    /* .GridStyle tr:last-of-type {
        border-bottom: none;
    }*/

    .GridStyle tr {
        height: 4em;
        border-bottom: 1px solid var(--border-default);
        border-left: 1px solid var(--border-default);
        text-align: center
    }

        .GridStyle tr th {
            background-color: #ebf0fb;
            color: #0f3a9f;
            border: none;
            border-right: 1px solid var(--border-default) !important;
            border-bottom: 1px solid var(--border-default) !important;
            text-align: center
        }

            .GridStyle tr th:first-of-type {
                background-color: #ebf0fb;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                color: #0f3a9f;
                text-align: center;
            }

            .GridStyle tr th:last-of-type {
                background-color: #ebf0fb;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                color: #0f3a9f;
                text-align: center;
            }

    .GridStyle td {
        padding: 0px 10px !important;
        border-right: 1px solid var(--border-default) !important;
    }

    .GridStyle tr td:last-child {
        text-align: center;
    }

    .GridStyle tr:last-child td {
        border-bottom: none;
    }

    .GridStyle .clsTblHead {
        background-color: #ebf0fb;
        color: #0f3a9f;
        border: none;
    }

        .GridStyle .clsTblHead:first-of-type {
            background-color: #ebf0fb;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            color: #0f3a9f;
            text-align: center;
        }

        .GridStyle .clsTblHead:last-of-type {
            background-color: #ebf0fb;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            color: #0f3a9f;
        }

.table tr th {
    border: none;
}

.pagination-ys td {
    border: none !important;
}

.pagination-ys tr {
    border: none !important;
}

.pagination-ys {
    /* padding-left: 0; */
    /*display: flex;*/
    margin: 10px 0;
    border-radius: 4px;
    /* padding: 10px !important; */
    border: none !important;
}

.GridStyle a{
    font-size:0.9rem;
}