@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");
/*-----------------------------Variables CSS-------------------------------------*/

:root {
    /*------------Theme Colors CSS---------------*/
    --first-color: hsla(218, 65%, 41%, 1);
    /*--first-color-alt: hsla(218, 26%, 59%, 1);*/
    --first-color-alt: #4b66a9;
    /*--first-color-alt: #263d76;*/
    --black-color: hsla(0, 0%, 0%, 1);
    --title-color: hsla(0, 0%, 0%, 1);
    --title-color-light: hsla(216, 8%, 25%, 1);
    --body-color: hsla(0, 0%, 90%, 0.5);
    --container-color: hsla(0, 0%, 100%, 1);
    /*------------Theme Background Colors CSS---------------*/
    --bg-primary: hsla(218, 65%, 41%, 1);
    --bg-primary-light: hsla(204, 51%, 67%, 1);
    --bg-info: hsla(218, 58%, 93%, 1);
    --bg-success: hsla(99, 61%, 27%, 1);
    --bg-success-light: hsla(134, 41%, 83%, 1);
    --bg-warning: hsla(33, 78%, 59%, 1);
    --bg-warning-light: hsla(45, 100%, 86%, 1);
    --bg-danger: hsla(0, 93%, 60%, 1);
    --bg-danger-light: hsla(354, 70%, 87%, 1);
    --bg-peal: hsla(184, 47%, 49%, 1);
    --bg-default: hsla(218, 26%, 59%, 1);
    --bg-white: hsla(0, 0%, 100%, 1);
    --bg-light: hsla(0, 0%, 96%, 1);
    /*------------Theme Text Colors CSS---------------*/
    --text-primary: hsla(218, 65%, 41%, 1);
    --text-primary-alt: hsla(228, 81%, 59%, 1);
    --text-primary-light: hsla(204, 51%, 67%, 1);
    --text-info: hsla(218, 28%, 45%, 1);
    --text-success: hsla(99, 61%, 27%, 1);
    --text-warning: hsla(33, 78%, 59%, 1);
    --text-danger: hsla(0, 93%, 60%, 1);
    --text-danger-light: hsla(6, 79%, 74%, 1);
    --text-peal: hsla(184, 47%, 49%, 1);
    --text-default: hsla(0);
    /*--text-default: hsla(218, 26%, 59%, 1);*/
    --text-default-dark: hsla(215, 7%, 34%, 1);
    --text-white: hsla(0, 0%, 100%, 1);
    --text-black: hsla(0, 0%, 0%, 1);
    --text-light: hsla(208, 7%, 46%, 1);
    --text-light-alt: hsla(208, 10%, 84%, 1);
    /*------------Theme Border Colors CSS---------------*/
    /*--border-primary: hsla(218, 65%, 41%, 1);*/
    --border-primary: hsl(217 91% 75%);
    --border-primary-alt: hsla(228, 81%, 59%, 1);
    --border-primary-light: hsla(204, 51%, 67%, 1);
    --border-info: hsla(218, 58%, 93%, 1);
    --border-success: hsla(99, 61%, 27%, 1);
    --border-warning: hsla(33, 78%, 59%, 1);
    --border-danger: hsla(0, 93%, 60%, 1);
    --border-danger-light: hsla(6, 79%, 74%, 1);
    --border-peal: hsla(184, 47%, 49%, 1);
    /* --border-default: hsla(210, 14%, 83%, 1);*/
    --border-default: #6f7ea6;
    /*--border-default: hsl(217 91% 75%);*/
    --border-light: hsla(219, 11%, 92%, 1);
    /*---------------Fonts and typography---------------*/
    /*---------------.5rem=8px | 1rem= 16px---------------*/
    --body-font: 'HK Grotesk', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    /*--normal-font-size: 0.875rem;*/
    --normal-font-size: 1rem;
    --small-font-size: 0.75rem;
    --smaller-font-size: 0.625rem;
    /*-----------------------Font Weight-----------------------*/
    --font-normal: 400;
    --font-medium: 500;
    --font-bold: 700;
    /*-----------------------Z-index-----------------------*/
    --z-tooltip: 10;
    --z-fixed: 100;
}
/*-----------------------------common CSS-------------------------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*transition: .2s all ease-in !important;*/
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    /*font-family: var(--body-font);*/
    font-family: "Google Sans",sans-serif;
    font-size: var(--normal-font-size);
    background-color: var(--body-color) !important;
    color: var(--text-default) !important;
}
table {
    font: 12px / 14px "Google Sans", sans-serif;
}

a {
    font-family: "Google Sans",sans-serif;
    /*font-size: 14px;*/
}

    a, a:not([href]):not([tabindex]) {
        /*display: block;*/
        /*text-decoration: none !important;*/
        color: #00356a;
        cursor: pointer !important;
    }

        a:hover, a:not([href]):not([tabindex]):hover {
            color: var(--first-color);
            text-decoration: none !important;
        }

        a.active {
            background-color: hsl(0deg 0% 92.91%);
        }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

label {
    max-width: 100%;
    display: inline-block;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
    color: var(--first-color-alt) !important;
    /*color:chartreuse;*/
    font-size: 1rem;
    margin-right: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

legend {
    font-size: 1rem;
}

button {
    cursor: pointer;
    border-color: var(--border-default) !important;
}

    button:focus, button:active {
        outline: none !important;
    }

input[type="text"], input[type="number"], textarea, select[textmode="MultiLine"]
input[type="password"]:focus {
    outline: 0;
    box-shadow: none !important;
    border-color: var(--border-default);
}

input[type="checkbox"], input[type="radio"] {
    margin: 4px 5px 0px !important;
    line-height: normal;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-bold);
}

i {
    color: inherit;
    font-weight: 100;
}

textarea {
    resize: none;
    border-color: var(--border-default);
}

iframe {
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    /*height: 100vh !important;*/
}
/*-----------------------------Reusable classes CSS-------------------------------------*/
/*.section {
    padding: 1.75rem 1.5rem;
}*/
.section {
    padding: .5rem 0 .5rem .5rem;
}

.dots {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 1.5rem;
    background-color: var(--bg-default);
}

    .dots .bg-primary {
        background-color: var(--bg-primary);
    }

    .dots .bg-primary-light {
        background-color: var(--bg-primary-light);
    }

    .dots .bg-success {
        background-color: var(--bg-success);
    }

    .dots .bg-success-light {
        background-color: var(--bg-success-light);
    }

    .dots .bg-peal {
        background-color: var(--bg-peal);
    }

.card-column-pills {
    padding: .5rem;
    border-radius: 0.375rem;
}

.card__header-heading {
    font-size: 1rem !important;
    font-weight: var(--font-bold);
    margin-bottom: 0 !important;
}

.title-icon {
    padding: 0.25rem 0.75rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black-color) !important;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.text-title {
    display: block;
    color: var(--title-color) !important;
    font-weight: var(--font-bold);
}

.z-index-tooltip {
    z-index: var(--z-tooltip);
}

.bg-none {
    background: none !important;
}

.border-top-0 {
    border-top: 0;
}

.border-left-0 {
    border-left: 0;
}

.border-right-0 {
    border-right: 0;
}

.border-bottom-0 {
    border-bottom: 0;
}

.border-top-left-radius-0 {
    border-top-left-radius: 0;
}

.border-top-right-radius-0 {
    border-top-right-radius: 0;
}

.border-bottom-left-radius-0 {
    border-bottom-left-radius: 0;
}

.border-bottom-right-radius-0 {
    border-top-right-radius: 0;
}

.border-width-1 {
    border-width: 1px !important;
}

.border-width-2 {
    border-width: 2px !important;
}

.border-dashed-dark-1 {
    border: 1px dashed var(--border-default);
}

.border-dashed-dark-2 {
    border: 2px dashed var(--border-default);
}

.border-dashed-light-1 {
    border: 1px dashed var(--border-light);
}

.border-dashed-light-2 {
    border: 2px dashed var(--border-light);
}

.flex-1 {
    flex: 1 !important;
}

.gap-5 {
    gap: 5px !important;
}

.gap-10 {
    gap: 10px !important;
}

.gap-15 {
    gap: 15px !important;
}

.gap-20 {
    gap: 20px !important;
}

.row-gap-5 {
    row-gap: 5px !important;
}

.row-gap-10 {
    row-gap: 10px !important;
}

.row-gap-15 {
    row-gap: 15px !important;
}

.row-gap-20 {
    row-gap: 20px !important;
}

.column-gap-5 {
    column-gap: 5px !important;
}

.column-gap-10 {
    column-gap: 10px !important;
}

.column-gap-15 {
    column-gap: 15px !important;
}

.column-gap-20 {
    column-gap: 20px !important;
}

.btn__map-control {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/*-----------------------------override CSS-------------------------------------*/
/*--------------override Background Color Class CSS--------------*/

.bg-primary {
    background-color: var(--bg-primary) !important;
    color: var(--text-white) !important;
}

.bg-info {
    background-color: var(--bg-info) !important;
    color: var(--text-info) !important;
}

.bg-success {
    background-color: var(--bg-success) !important;
    color: var(--text-success) !important;
}

.bg-warning {
    background-color: var(--bg-warning) !important;
    color: var(--text-warning) !important;
}

.bg-danger {
    background-color: var(--bg-danger) !important;
    color: var(--text-danger) !important;
}

.bg-peal {
    background-color: var(--bg-peal) !important;
    color: var(--text-peal) !important;
}

.bg-success-light {
    background-color: var(--bg-success-light) !important;
    color: var(--text-success) !important;
}

.bg-white {
    background-color: var(--bg-white) !important;
    color: var(--text-black) !important;
}

.bg-light {
    background-color: var(--bg-light) !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.widgets {
    padding: 10px 20px;
}

    /*.widgets {
    padding: 0px 0px;
}*/

    .widgets h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
        /*padding: 10px 20px;*/
    }
/*--------------override Text Color Class CSS--------------*/

.text-default {
    color: var(--text-default) !important;
}

.text-primary {
    color: var(--text-primary) !important;
}

.text-info {
    color: var(--text-info) !important;
}

.text-success {
    color: var(--text-success) !important;
}

.text-warning {
    color: var(--text-warning) !important;
}

.text-danger {
    color: var(--text-danger) !important;
}

.text-white {
    color: var(--text-white) !important;
}

.text-muted {
    color: var(--text-light) !important;
}

.text-light {
    color: var(--text-light-alt) !important;
}

.text-black {
    color: var(--text-black) !important;
}

.text-dark {
    color: var(--text-default-dark) !important;
}
/*--------------override Border Color Class CSS--------------*/

.border-primary {
    border-color: var(--border-primary) !important;
}

.border-info {
    border-color: var(--border-info) !important;
}

.border-success {
    border-color: var(--border-success) !important;
}

.border-warning {
    border-color: var(--border-warning) !important;
}

.border-danger {
    border-color: var(--border-danger) !important;
}

.border-white {
    border-color: var(--border-white) !important;
}

.border-light {
    border-color: var(--border-light) !important;
}
/*--------------override Button Color Class CSS--------------*/
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-light {
    background-color: white !important;
    color: grey !important;
    padding: 10px 15px;
}

.btn-primary {
    background-color: var(--bg-primary) !important;
    color: var(--text-white) !important;
    padding: 10px 15px;
}

    .btn-primary a {
        color: white !important;
    }

.btn-info {
    background-color: var(--bg-info) !important;
    color: var(--text-primary) !important;
    padding: 10px 15px;
}

.btn-success {
    background-color: var(--bg-success) !important;
    color: var(--text-white) !important;
    padding: 10px 15px;
}

.btn-warning {
    background-color: var(--bg-warning) !important;
    color: var(--text-white) !important;
    padding: 10px 15px;
}

.btn-danger {
    background-color: var(--bg-danger) !important;
    color: var(--text-white) !important;
    padding: 10px 15px;
}

.btn-white {
    background-color: var(--bg-white) !important;
    color: var(--text-black) !important;
    padding: 10px 15px;
}

.btn-default {
    padding: 8px 15px;
}

.btn-secondary {
    padding: 10px 15px;
}

.btn-outline-primary {
    border-color: var(--bg-primary) !important;
}
/*--------------override other CSS--------------*/
/*.row [class^="col-"] {
    margin-bottom: 1.25rem;
}*/
.input-group .input-group-icon {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--border-default);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    background-color: white;
}

.input-group-text {
    border: 1px solid var(--border-default);
    background-color: white;
}

.input-group-btn .btn-primary {
    padding: 7.5px 15px;
}

.bootstrap-select {
    width: 100% !important;
}

    .bootstrap-select > .btn {
        border: 1px solid var(--border-default);
    }

    .bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
        outline: 0 !important;
    }

.multiSelect > button {
    min-width: 100%;
    background: transparent;
}

    .multiSelect > button:hover {
        background: transparent;
    }

.form-control {
    border-color: #6f7ea6;
}

.form-control:read-only {
    background-color: white;
}

    .form-control:focus {
        outline: 0 !important;
        border-color: var(--border-default) !important;
        box-shadow: none !important;
    }


.card {
    padding: 1rem;
    border-radius: 0.375rem !important;
    border: 1px solid #6f7ea6;
}

.card-header {
    padding: 0.5rem 1.25rem !important;
    background-color: #c5ebff;
}

.card.bg-white > .card-header {
    background-color: var(--bg-white) !important;
}

.datepicker {
    z-index: 99999 !important;
}

.badge-primary {
    background-color: var(--bg-primary-light) !important;
    color: var(--text-white) !important;
}

.badge-info {
    background-color: var(--bg-info) !important;
    color: var(--text-white) !important;
}

.badge-success {
    background-color: var(--bg-success-light) !important;
    color: var(--text-white) !important;
}

.badge-warning {
    background-color: var(--bg-warning-light) !important;
    color: var(--text-white) !important;
}

.badge-danger {
    background-color: var(--bg-danger-light) !important;
    color: var(--text-white) !important;
}

.badge-peal {
    background-color: var(--bg-peal) !important;
    color: var(--text-white) !important;
}

.badge-white {
    background-color: var(--bg-white) !important;
    color: var(--text-black) !important;
}

.badge-light {
    background-color: var(--bg-light) !important;
}

.badge-pill {
    padding: 0.5rem 0.5rem !important;
}

.nav-tabs .nav-item .nav-link {
    color: var(--text-color-light-alt) !important;
    font-weight: var(--font-bold);
}

.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.nav-tabs .nav-item .nav-link {
    display: block;
    padding: 1rem 1.75rem;
    position: relative;
}

    .nav-tabs .nav-item .nav-link.active {
        position: relative;
        /* border-bottom: 2px solid var(--first-color) !important; */
        color: var(--first-color) !important;
    }

        .nav-tabs .nav-item .nav-link.active::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 0.25rem;
            bottom: 0;
            left: 0;
            background-color: var(--first-color);
            z-index: var(--z-fixed);
        }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

    .h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
        font-weight: 400;
        line-height: 1;
        color: #777;
    }

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

    .h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
        font-size: 65%;
    }

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

    .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
        font-size: 75%;
    }

.h1, h1 {
    font-size: 36px;
}

.h2, h2 {
    font-size: 30px;
}

.h3, h3 {
    font-size: 24px;
}

.h4, h4 {
    font-size: 18px;
}

.h5, h5 {
    font-size: 14px;
}

.h6, h6 {
    font-size: 12px;
}

.multiSelect .checkBoxContainer {
    max-height: 200px !important;
    overflow: scroll !important
}

.panel-body {
    background-color: white;
    border-radius: 10px;
}

.dropdown-menu.show {
    /*transform:none !important;*/
    transform: translate3d(0px, 40px, 0px) !important;
    min-height: 120px !important;
}
.dropup .dropdown-menu.show {
    transform: translate3d(0px, -40px, 0px) !important;
}

.ag-paging-panel {
    margin-top: 5px;
}

.ag-paging-button {
    margin: 0px 5px;
}

/*.collapsed {
    width: 100%;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .panel-default > .panel-heading a {
        display: block;
        padding: 10px 15px;
    }

        .panel-default > .panel-heading a:after {
            content: "";
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            float: right;
            transition: transform .25s linear;
            -webkit-transition: -webkit-transform .25s linear;
        }

        .panel-default > .panel-heading a[aria-expanded="true"] {
            background-color: #eee;
        }

            .panel-default > .panel-heading a[aria-expanded="true"]:after {
                content: "\2212";
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }

        .panel-default > .panel-heading a[aria-expanded="false"]:after {
            content: "\002b";
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

.panel-heading {
    height: 38px;
}

.accordion-option {
    width: 100%;
    float: left;
    clear: both;
    margin: 15px 0;
}

    .accordion-option .title {
        font-size: 20px;
        font-weight: bold;
        float: left;
        padding: 0;
        margin: 0;
    }

    .accordion-option .toggle-accordion {
        float: right;
        font-size: 16px;
        color: #6a6c6f;
    }

        .accordion-option .toggle-accordion:before {
            content: "Expand All";
        }

        .accordion-option .toggle-accordion.active:before {
            content: "Collapse All";
        }*/
svg {
    margin-right: 4px;
}

select {
    /*width: 200px;*/
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /*font-size: 16px;*/
    color: #333;
    width: 100%;
    min-width: 100px;
    /*background-color: #f9f9f9;*/
    border-color: var(--border-default);
    /*appearance: auto !important;*/
}
    select.form-control {
        appearance: auto !important;
        -webkit-appearance: auto !important;
    }

.ag-blue a {
    color: #000099;
    text-decoration: underline !important;
}

.GridStyle a {
    color: #000099;
    text-decoration: underline !important;
}

.toast-title, b, optgroup, strong {
    font-weight: 700;
}

.panel-default {
    border-color: #ddd;
}
.panel {
    border: 1px solid #6f7ea6;
}

.panel-default > .panel-heading {
    background-color: #c5ebff;
}

.GridStyle td label{
    font-weight:500;
}

#document .widgets {
    background-color: white;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width:800px;
    }
}

.input-group-addon {
    border: 1px solid var(--border-default);
}

hr {
    border-top: 5px solid #ff0100;
    margin-top: 10px;
}

legend {
    border-bottom: 5px solid rgb(255 183 182);
}

.stepwizard-row {
    background-color: #f1f1f1
}

.panel-title > a {
    font-weight: bold;
}
.widgets h3 {
    font-weight: bold;
}