@import url(/BootStrapCSS/assets/css/root.css);


/*-----------------------------Login CSS-------------------------------------*/

*,
::after,
::before {
    box-sizing: border-box;
}

.login__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 0.75rem;
}

.login__content {
    position: relative;
    width: 100%;
    max-width: 458px;
    background-color: var(--container-color);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    margin-top: 0px;
}

    .login__content .form-control, .login-div .form-control {
        padding: 0.75rem 0.75rem !important;
    }

.btn-login-sign-in {
    position: absolute;
    content: '';
    /*top: 95%;*/
    left: 50%;
    right: 0;
    width: 90% !important;
    transform: translate(-50%,-50%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2.25rem;
    background-color: var(--container-color);
}

.logo {
    min-width: calc(200px - 1.25rem);
    /*padding: 1.25rem  0;*/
}

    .logo img {
        max-width: 180px;
    }

.custom__navbar {
    flex-basis: 100%;
    flex-grow: 1;
}

/*.togglers,*/
.company__info,
.user__info {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.togglers {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-left: -1.5rem;
}


.company__info img,
.user__info img {
    width: 43px;
    height: 43px;
    border-radius: 1.5rem;
}

.company__info img {
    border-radius: 0.5rem;
}

.sidebar__toggler {
    font-size: 1.75rem;
}

.nav__link {
    padding: 0.75rem;
}

    .nav__link:hover {
        background-color: var(--bg-light);
    }

.page__wrapper {
    display: flex;
}

.sidebar__menu {
    min-width: 250px;
    margin-left: -16rem;
    min-height: 100vh;
    /* border-right: 2px solid var(--border-light); */
    padding: 0.875rem 1.25rem;
    background-color: var(--container-color);
    box-shadow: 1px 0 1px var(--border-light);
}

    .sidebar__menu.active {
        margin-left: 0;
    }

.sidebar__menu-container {
    display: grid;
    row-gap: 0.25rem;
}

    .sidebar__menu-container li .nav__link,
    .sidebar__menu-container li .sub__menu-link {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        color: var(--text-default);
        padding: 0.5rem 0.5rem;
        border-radius: 10px;
    }

        .sidebar__menu-container li .nav__link:hover,
        .sidebar__menu-container li .nav__link.active-link,
        .sidebar__menu-container li .sub__menu-link:hover,
        .sidebar__menu-container li .sub__menu-link.active-link {
            background-color: var(--bg-info);
            color: var(--text-black) !important;
        }

    .sidebar__menu-container li .sub__menu-link {
        column-gap: 0 !important;
        padding-left: 1.5rem;
    }

.page__content {
    min-width: 100vw;
    /*margin-top: 2.25rem;*/
}

.page__header {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
}

.page__title {
    font-size: 1rem;
    padding-left: 3px;
    color: var(--text-black);
    margin-bottom: 0;
}

.unordered__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*margin-bottom: 0.5rem;*/
}

.unordered__list-item {
    display: flex;
    /*align-items: center;*/
    /* padding: 0.875rem 0.5rem;*/
    padding: 0.4rem 0.5rem;
    column-gap: 0.5rem;
}

@media screen and (min-width:992px) {
    .header {
        justify-content: flex-start;
        flex-flow: row nowrap;
        padding: 0 2.25rem 0 1.25rem;
    }

    .logo {
        margin-right: 2.25rem;
        /* box-shadow: 1px 0 1px var(--border-light);*/
    }

    .custom__navbar,
    .navbar__items-container {
        display: flex;
        align-items: center;
    }

    .custom__navbar {
        flex-basis: auto;
    }

    .togglers .navbar-toggler {
        display: none;
    }

    .sidebar__menu {
        min-width: 230px;
        width: 230px;
        margin-left: 0;
    }

        .sidebar__menu.active {
            margin-left: -17rem;
        }

    .page__content {
        width: 100vw;
        min-width: auto;
    }

    .unordered__list {
        justify-content: space-between;
    }

    .quick-footer {
        padding: 0 20px 0 20px;
    }
}
