/* CSS Document */
html, body { 
  background: url(bg_pq.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}

.container {
     height: 100%; display: table-cell;
    text-align: center; background-position:center;
    vertical-align: middle;
}
.content {
   
    display: inline-block;
    text-align: left;
}
