﻿body {
    font-family: 'Open Sans',sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    background:#365e86;
    /*background: linear-gradient(to bottom,#365e86 0,#28303a 100%);*/
    background: url(login_bg.jpg) no-repeat center center fixed; 
    background-repeat: no-repeat;
    height: 100%;

    /*Start Newly added*/
     width: 100%;
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover; margin: 0;
    display: table;
    /*End Newly added*/

    /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
        
        */
}

.login-div {
    margin-bottom: 20px;
    margin-top: 150px;
    background-color: #f9f9f9;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 0 80px 15px;
}

.profile-img {
    margin: -50px auto 30px;
    display: block;
    padding-bottom: 5px;
}

.login-btn {
    border-radius: 4px;
    /*background: linear-gradient(to bottom,#365e86 0,#28303a 100%);*/
    background:#365e86;
    background: linear-gradient(to bottom,#466788 0,#1C5BA9 100%);
    border-color: #365e86;
    color: #fff;
    border-radius: 0px;
}

.img-thumbnail {
    padding: 12px 10px 8px;
    background-color: #416681;
    border: 1px solid #6480A6;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}
