﻿h1 {
    margin-bottom: 10px;
}

#main {
    position: relative;
    width: 100%;
    margin: auto;
}

   .grid-align {
            text-align: center;
        }

        a:hover {
            cursor: pointer;
        }

        span.error {
            color: red;
        }

        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
        }

        .ag-header-cell-filtered {
            background-color: #4682B4;
        }


#heatmapArea {
    position: relative;
    float: left;
    width: 100%;
    height: 390px;
    /*border:1px dashed black;*/
}

#leafletMap {
    position: relative;
    float: left;
    width: 100%;
    height: 488px;
    border:none;
}

#configArea {
    position: relative;
    float: left;
    width: 200px;
    padding: 15px;
    padding-top: 0;
    padding-right: 0;
}

#gen:hover {
    background-color: grey;
    color: black;
}

textarea {
    width: 260px;
    padding: 10px;
    height: 200px;
}

h2 {
    margin-top: 0;
}


.myTable {
    background-color: #FFFFE0;
    border-collapse: collapse;
}

    .myTable th {
        background-color: #BDB76B;
        color: white;
    }

    .myTable td, .myTable th {
        padding: 5px;
        border: 1px solid #BDB76B;
    }

div.img6 img {
    /*content: url("../images/Chair_Blue.gif");*/
    background-repeat: no-repeat;
    background-image: url("../images/Chair_Blue.gif");
    display: inline-block;
}

div.img7 img {
    /*content: url("../images/Chair_Red.gif");*/
    background-repeat: no-repeat;
    background-image: url("../images/Chair_Red.gif");
    display: inline-block;
}

div.img8 img {
    /*content: url("../images/Chair_Black.gif");*/
    background-repeat: no-repeat;
    background-image: url("../images/Chair_Black.gif");
    display: inline-block;
}

div.img1 img {
    /*content: url("../images/Chair_Green.gif");*/
    background-repeat: no-repeat;
    background-image: url("../images/Chair_Green.gif");
    display: inline-block;
}

div.blink7 img {
    /*content: url("../images/chair_red_blink.gif");*/
    background-repeat: no-repeat;
    background-image: url("../images/chair_red_blink.gif");
    display: inline-block;
}

div.PRN img {
    content: url("../images/p1.png");
}

div.COM img {
    content: url("../images/com.png");
}

div.TEL img {
    content: url("../images/tel.png");
}

.seatdetails {
    font-size: 10px;
    background-color: #DDF2C9;
    padding: 2px;
    border-spacing: 12px;
    border-collapse: separate;
    border: 1px;
    text-align: left;
    width: 420px;
    border-radius: 25px;
    border: 2px solid #8AC007;
}

.speciallink {
   cursor:pointer;
}