﻿html {
    scroll-behavior: smooth;
}

.panel, .panel-footer {
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 20px;
    border-radius: 10px; 
    color: #4b66a9; 
}

input[type="radio"] {
    line-height: normal;
    margin: 2px 3px 0px
}

h4 {
    color: #4b66a9;
    font-weight: bold;
}

body {
    margin-top: 40px;
}


.registercontpage {
    position: relative;
    z-index: 0;
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    border-radius: 50px;
    cursor:pointer;
}

.btn-circle {
    background: #000;
}

.btn-default[disabled] {
    background-color: #FFFFFF;
    border-color: #cccccc;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 96%;
    position: relative;
    border-radius:10px;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

    .btn-circle:hover {
        background-color: #333;
        transition: background-color 0.3s ease;
    }

.field {
    position: relative;
    float: left;
    clear: both;
    margin: .35em 0;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

@media (min-width: 992px) {
    .col-md-offset-3 {
        margin-left: 2%;
        background-color: #fff;
        
    }
}

.is-invalid {
    border: 2px solid red;
}

@media (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 992px) {
}

@media (min-width: 992px) {
    .col-md-12 {
        width: 100%;
        margin-top:-40px;
    } 
}
