﻿.access_level_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 50%;
    bottom: 0px;
    position: absolute;
    content: " ";
    width: 75%;
    height: 1px;
    background-color: rgb(204, 204, 204);
    transform: translate(0,-50%);
}

.stepwizard-step {
    display: table-cell;
    /*text-align: center;*/
    position: relative;
}
/*form wizard end*/
