.ag-blue .ag-root {
    border: 1px solid #9bc2e6;
    font: 10pt Calibri, "Segoe UI", Thonburi, Arial, Verdana, sans-serif;
}

.ag-blue .ag-cell {
    top: -1px;
    padding-left: 2px;
    padding-right: 2px;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: -0.02em;
}

.ag-blue .ag-cell-focus {
    background: #fff;
    border: 2px solid #217346;
}

.ag-blue .ag-cell-no-focus {
    border-right: 1px dotted #9bc2e6;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 1px solid #9bc2e6;
}

.ag-blue .ag-cell-first-right-pinned {
    border-left: 1px dotted #9bc2e6;
}

.ag-blue .ag-header {
    background-color: #366599;
    border-bottom: 1px solid #366599;
}

.ag-blue .ag-no-scrolls .ag-header-container {
    background-color: #5b9bd5;
    border-bottom: 1px solid #9bc2e6;
}

.ag-blue .ag-header-cell {
    border-right: 1px solid #9bc2e6;
    background-color: black !important;
}

.ag-blue .ag-header-group-cell {
    border-right: 1px solid #9bc2e6;
}

.ag-blue .ag-header-group-cell-with-group {
    border-bottom: 1px solid #9bc2e6;
}

.ag-blue .ag-pinned-right-header {
    border-left: 1px solid #9bc2e6;
}

.ag-blue .ag-header-cell-label {
    padding: 4px 2px 4px 2px;
    font-weight: bold;
    color: #fff;
}

.ag-blue .ag-header-cell-text {
    padding-left: 2px;
    color:white;
}

.ag-blue .ag-header-group-cell-label {
    padding: 4px;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
}

.ag-blue .ag-header-group-text {
    margin-right: 2px;
}

.ag-blue .ag-header-cell-menu-button {
    color: #5f6063;
    border: 1px solid #a6acb3;
    padding: 0 4px;
    margin-top: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /* When using bootstrap, box-sizing was set to 'border-box' */
    background: -webkit--webkit-linear-gradient(#feffff, #eff2f7);
    background: -webkit--moz-linear-gradient(#feffff, #eff2f7);
    background: -webkit--o-linear-gradient(#feffff, #eff2f7);
    background: -webkit--ms-linear-gradient(#feffff, #eff2f7);
    background: -webkit-linear-gradient(#feffff, #eff2f7);
    background: -webkit-linear-gradient(#feffff, #eff2f7);
    background: -moz-linear-gradient(#feffff, #eff2f7);
    background: -o-linear-gradient(#feffff, #eff2f7);
    background: -ms-linear-gradient(#feffff, #eff2f7);
    background: linear-gradient(#feffff, #eff2f7);
}

.ag-blue .ag-header-icon {
    color: #fff;
}

.ag-blue .ag-dark .ag-header-expand-icon:hover {
    cursor: pointer;
}

.ag-blue .ag-row-odd {
    background-color: #DBDEED;
}

.ag-blue .ag-row-even {
    background-color: #fff;
}

.ag-blue .ag-overlay-loading-wrapper {
    background-color: rgba(255,255,255,0.5);
}

.ag-blue .ag-overlay-loading-center {
    background-color: #fff;
    border: 1px solid #a9a9a9;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
}

.ag-blue .ag-body {
    background-color: #fafafa;
}

.ag-blue .ag-row-selected {
    background-color: #c7c7c7;
}

.ag-blue .ag-group-cell-entire-row {
    background-color: #fff;
    font-weight: bold;
    padding: 2px 4px;
    border-bottom: solid 1px #9bc2e6;
    overflow: hidden;
    white-space: nowrap;
}

.ag-blue .ag-footer-cell-entire-row {
    background-color: #fff;
    font-weight: bold;
    padding: 4px;
    border-bottom: solid 1px #9bc2e6;
}

.ag-blue .ag-group-cell {
    font-style: italic;
}

.ag-blue .ag-group-expand {
    padding-right: 2px;
}

.ag-blue .ag-footer-cell {
    font-style: italic;
}

.ag-blue .ag-filter-checkbox {
    position: relative;
    top: 2px;
    left: 2px;
    padding-right: 2px;
}

.ag-blue .ag-filter-header-container {
    border-bottom: 1px solid #d3d3d3;
    font: 10pt Calibri, "Segoe UI", Thonburi, Arial, Verdana, sans-serif;
}

.ag-blue .ag-filter-apply-panel {
    border-top: 1px solid #d3d3d3;
    padding: 2px;
}

.ag-blue .ag-filter {
    background-color: #fff;
    border: 1px solid #c6c6c6;
    font: 9pt Calibri, "Segoe UI", Thonburi, Arial, Verdana, sans-serif;
}

.ag-blue .ag-filter-filter {
    background-color: #fff;
    border: 1px solid #c6c6c6;
    width: 192px;
}

.ag-blue .ag-filter-value {
    margin-left: 4px;
}

    .ag-blue .ag-filter-value:hover {
        background-color: #39f;
        border: 1px dotted #000;
        color: #fff;
    }

.ag-blue .ag-selection-checkbox {
    margin-left: 4px;
}

.ag-blue .ag-paging-panel {
    padding: 4px;
}

.ag-blue .ag-paging-button {
    margin-left: 4px;
    margin-right: 4px;
}

.ag-blue .ag-paging-row-summary-panel {
    display: inline-block;
    width: 300px;
}

.ag-blue .ag-column-not-visible {
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: "alpha(opacity=75)";
}

.ag-blue .ag-not-dragging {
    border: 1px solid transparent;
}

.ag-blue .ag-drop-target-above {
    border-top: 5px solid #a9a9a9;
}

.ag-blue .ag-drop-target-below {
    border-bottom: 5px solid #a9a9a9;
}

.ag-blue .ag-dragging {
    border: 1px dotted #a9a9a9;
}

.ag-blue .ag-list-item-selected {
    color: #f0f0f0;
}

.ag-blue .ag-list-item-not-selected {
    font-style: italic;
    color: #a0a0a0;
}

.ag-blue .ag-tool-panel-container {
    background-color: #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #a9a9a9;
    padding: 4px;
}

.ag-blue .ag-list-selection {
    background-color: #fff;
    border: 1px solid #a9a9a9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ag-blue .ag-popup-list .ag-list-item:hover {
    background-color: #add8e6;
}

.ag-blue .ag-visible-icons {
    padding-left: 2px;
    padding-right: 2px;
}

.ag-header-cell {
    background-color: #1c2b36;
}
