﻿       
.panel {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    position: relative;
    margin-bottom: 24px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
}

.feed-message, .panel-footer, .panel-heading {
    box-shadow: 0 1px 0 0 rgba(255,255,255,.12);
}

.panel ::-webkit-scrollbar {
    width: .4em;
    height: .4em;
}

.panel ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.6);
    cursor: pointer;
}

.panel ::-webkit-scrollbar-track {
    background: rgba(255,255,255,.7);
}

.panel body {
    scrollbar-face-color: rgba(0,0,0,.6);
    scrollbar-track-color: rgba(255,255,255,.7);
}

.panel.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

.panel.small-panel {
    height: 114px;
}

.panel.xsmall-panel {
    height: 187px;
}

.panel.medium-panel {
    height: 400px;
}

.panel.xmedium-panel {
    height: 550px;
}

.panel.large-panel {
    height: 974px;
}

.panel.viewport100 {
    height: calc(100vh - 218px);
}

.panel.with-scroll .panel-body {
    height: calc(100% - 44px);
    overflow-y: auto;
}

.panel.panel-blur {
    background: url(../assets/img/blur-bg-blurred.jpg) fixed;
    -webkit-transition: none;
    transition: none;
}

.panel > .panel-body {
    padding: 15px 22px;
    height: 100%;
}

.panel > .panel-heading {
    color: #666;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.bootstrap-panel .panel-body, .panel-default > .panel-footer, .panel-default > .panel-heading {
    color: #7d7d7d;
}

.panel-footer, .panel-heading {
    border-bottom: 1px solid rgba(0,0,0,.12);
    height: 44px;
    font-size: 16px;
    padding: 14px 22px;
}

.panel-title {
    font-weight: 400;
    opacity: .9;
}

.panel-primary > .panel-heading {
    background-color: #4db1a7;
    border-color: #4db1a7;
}

.panel-success > .panel-heading {
    background-color: #a6c733;
    border-color: #a6c733;
}

.panel-info > .panel-heading {
    background-color: #57bdda;
    border-color: #57bdda;
}

.panel-warning > .panel-heading {
    background-color: #e5c649;
    border-color: #e5c649;
}

.panel-danger > .panel-heading {
    background-color: #ed7878;
    border-color: #ed7878;
}

.bootstrap-panel {
    background-color: #fff;
}

.accordion-panel.panel.panel-danger .panel-heading div, .accordion-panel.panel.panel-danger .panel-heading p, .accordion-panel.panel.panel-danger .panel-heading span, .accordion-panel.panel.panel-info .panel-heading div, .accordion-panel.panel.panel-info .panel-heading p, .accordion-panel.panel.panel-info .panel-heading span, .accordion-panel.panel.panel-primary .panel-heading div, .accordion-panel.panel.panel-primary .panel-heading p, .accordion-panel.panel.panel-primary .panel-heading span, .accordion-panel.panel.panel-success .panel-heading div, .accordion-panel.panel.panel-success .panel-heading p, .accordion-panel.panel.panel-success .panel-heading span, .accordion-panel.panel.panel-warning .panel-heading div, .accordion-panel.panel.panel-warning .panel-heading p, .accordion-panel.panel.panel-warning .panel-heading span {
    color: rgba(255,255,255,.8);
}

.panel-group .panel.accordion-panel .panel-heading {
    border-bottom: 0;
}

.panel-group .panel .panel-heading {
    border-bottom: 1px solid #ddd;
}

.p-with-code {
    line-height: 1.5em;
}

.contextual-example-panel {
    height: 120px;
}

.footer-panel {
    height: 142px;
}
.tabs-below .nav-tabs, .tabs-left .nav-tabs, .tabs-right .nav-tabs {
    border-bottom: 0;
}

.tabs-left .nav-tabs, .tabs-right .nav-tabs {
    min-width: 100px;
}

.tabs-left .tab-content, .tabs-right .tab-content {
    width: calc(100% - 100px);
    overflow-y: auto;
}

.tabs-right .tab-content {
    margin-right: 100px;
}

.tabs-left .tab-content {
    margin-left: 100px;
}

.pill-content > .pill-pane, .tab-content > .tab-pane {
    display: none;
}

.pill-content > .active, .tab-content > .active {
    display: block;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-left, .tabs-right {
    height: 100%;
}

    .tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
        float: none;
        margin-bottom: 0;
    }

        .tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
            min-width: 74px;
            margin-right: 0;
            margin-bottom: 3px;
        }

    .tabs-left > .nav-tabs {
        float: left;
        border-bottom-left-radius: 5px;
    }

        .tabs-left > .nav-tabs > li > a {
            margin-right: -1px;
        }

    .tabs-right > .nav.nav-tabs {
        float: right;
        border-top-left-radius: 0;
        border-bottom-right-radius: 5px;
    }

        .tabs-right > .nav.nav-tabs > li:first-of-type a {
            border-top-left-radius: 0;
        }

.nav-tabs > li.with-dropdown > a {
    padding: 0;
}

.nav-tabs > li.with-dropdown .dropdown-toggle {
    padding: 10px 15px;
    display: inline-block;
    cursor: pointer;
}

.tab-content {
    padding: 15px 15px 5px;
    background: 0 0;
    color: #666;
    border:1px solid #63bbb2;
}

    .tab-content .tab-pane p {
        color: #666;
    }

.nav.nav-tabs {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid transparent;
    background-color: #63bbb2;
}

    .nav.nav-tabs a, .nav.nav-tabs a:hover {
        color: #fff;
    }

    .nav.nav-tabs > li > a {
        margin-right: 0;
        margin-bottom: 0;
        border-radius: 0;
        border: none;
    }

        .nav.nav-tabs > li > a:hover {
            border: none;
            background-color: #63bbb2;
        }

    .nav.nav-tabs > li.active > a {
        color: #fff;
        background-color: #209e91;
    }

.blur-theme .nav.nav-tabs, .blur-theme .nav.nav-tabs > li > a:hover {
    background-color: rgba(0,0,0,.2);
}

.nav.nav-tabs > li:first-of-type a {
    border-top-left-radius: 5px;
}

.nav.nav-tabs .dropdown-menu > li > a, .nav.nav-tabs .dropdown-menu > li > a:hover {
    color: #7d7d7d;
}

.blur-theme .nav.nav-tabs a, .blur-theme .nav.nav-tabs a:hover {
    color: #666;
}

.blur-theme .nav.nav-tabs > li.active > a {
    color: #666;
    background-color: rgba(0,0,0,.25);
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: none;
}
