﻿.sidebar {
            display: block;
            float: left;
            width: 250px;
            max-height: 800px;
            overflow: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            position: initial;
        }

        .content {
            display: block;
            overflow: hidden;
            width: auto;
        }

        .sidebar-nav {
            background-repeat: repeat-x;
        }

            .sidebar-nav ul {
                padding: 0;
                margin: 0;
                list-style: none;
            }

            .sidebar-nav a,
            .sidebar-nav a:hover,
            .sidebar-nav a:focus,
            .sidebar-nav a:active {
                outline: none;
            }

            .sidebar-nav ul li,
            .sidebar-nav ul a {
                display: block;
            }

            .sidebar-nav ul a {
                padding: 10px 20px;
                border-top: 1px solid rgba(0, 0, 0, 0.3);
                box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
                text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
                -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr=#466788,EndColorStr=#1D4A81)";
            }

                .sidebar-nav ul a:hover {
                    color: #ffffff;
                }

                .sidebar-nav ul a:focus,
                .sidebar-nav ul a:active {
                    background-color: #209e91;
                    text-decoration: none;
                }

            .sidebar-nav ul ul a {
                padding: 10px 30px;
            }

        .sidebar-nav-item {
            padding-left: 5px;
        }

        .sidebar-nav-item-icon {
            padding-right: 5px;
        }

        li {
            list-style: none;
        }

            li a {
                text-decoration: none;
            }

        body, al-sidebar, page-top {
            /*background-image: url('../BlurScripts/BlurImages/blur-bg-blurred.jpg');*/
            background-color: #F7F7F7;
        }

        .panel {
            font-weight: 400;
            opacity: 100;
        }

        .sidebar-nav ul a {
            padding: 10px 20px;
            color: #ffffff;
            border-top: 1px solid rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
            -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=1,StartColorStr=#466788,EndColorStr=#1D4A81)";
        }

        .scrollable-menu {
            height: auto;
            max-height: 600px;
            overflow-x: hidden;
        }

