﻿body {
    background-color: #F7F7F7;
}


.sla_wrap .modal-header {
    display: inline-block;
    padding: 20px 20px 10px 15px;
}

    .sla_wrap .modal-header button {
        padding: 5px;
    }

    .sla_wrap .modal-header span {
        color: #000000
    }


.custom-file-input {
    opacity: 1;
}

.pagination-ys {
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-ys table > tbody > tr > td {
        display: inline;
    }

        .pagination-ys table > tbody > tr > td > a,
        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #366599;
            background-color: #eeeeee;
            border: none;
            margin: 2px;
            border-radius: 5px;
            font-weight: 600;
            margin-top:10px;
        }

        .pagination-ys table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            z-index: 2;
            color: black;
            cursor: default;
            font-size:0.9rem;
        }

        .pagination-ys table > tbody > tr > td:first-child > a,
        .pagination-ys table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td:last-child > a,
        .pagination-ys table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td > a:hover,
        .pagination-ys table > tbody > tr > td > span:hover,
        .pagination-ys table > tbody > tr > td > a:focus,
        .pagination-ys table > tbody > tr > td > span:focus {
            color: #97310e;
            background-color: #eeeeee;
            border-color: #dddddd;
        }

.form-control {
    border-color: var(--border-default);
}

table > tbody > tr > th {
    /*background-color: #1C2B36;*/
    text-align: left;
    color: white;
    font-weight: 600;
    height: 35px;
    vertical-align: central;
    background-color: #366599;
}

.selectpicker {
    /*border-color: white;*/
}

table {
    font: 12px/14px Roboto,sans-serif;
}

.grid-align {
    text-align: left;
}

a:hover {
    cursor: pointer;
}

.modal-header-primary {
    color: #1D1C1C;
    padding: 9px 15px;
}

#word {
    color: #4813CA;
}

#pdf {
    color: #FF0023;
}

#excel {
    color: #2AE214;
}

table {
    font: 12px/14px Roboto,sans-serif;
}

.selectedseat {
    background-color: #ebf442;
}

.longleave {
    background-color: #800080;
}

.block {
    background-color: #000000;
}


.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    z-index: 9999 !important;
    padding-top: 50px !important;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


/* My Code */


span.input-group-text.bg-transparent.text-light {
    border: none;
}

.input-group-prepend {
    position: absolute;
    z-index: 11;
    right: 0;
}

.fa-search {
    font-size: 16px;
    margin: 5px;
}
