<%@ WebHandler Language="VB" Class="Test" %>
Imports System.Collections.Generic
Imports System.Collections.ObjectModel
Imports System.Data
Imports System.Data.SqlClient
Imports System.Web
Imports System.Web.Script.Serialization
Imports System

Public Class Test : Implements IHttpHandler, IRequiresSessionState 
    
    Dim ObjSubsonic As New clsSubSonicCommonFunctions
    Public Sub ProcessRequest(ByVal context As HttpContext) Implements IHttpHandler.ProcessRequest
        Dim request As HttpRequest = context.Request
        Dim response As HttpResponse = context.Response
        Dim _search As String = request("_search")
        Dim numberOfRows As String = request("rows")
        Dim pageIndex As String = request("page")
        Dim s As String = request("sidx")
        Dim sortColumnName As String = s.Replace("AssetUtilization_list_", "")
        
        Dim sortOrderBy As String = request("sord")
      
      
        Dim totalRecords As Integer
        Dim clsTest As Collection(Of clsTest) = GetStoresForUserDefinedRoutes(numberOfRows, pageIndex, sortColumnName, sortOrderBy, totalRecords)
       
       
        Dim output As String = BuildJQGridResults(clsTest, Convert.ToInt32(numberOfRows), Convert.ToInt32(pageIndex), Convert.ToInt32(totalRecords))
        'response.Write(strcallback & "(" & output.Replace("\", "").Replace(""":[""", """:{""").Replace("""]}", """}}") & ")")
        response.Write(output)
       
    End Sub
 
    Private Function GetStoresForUserDefinedRoutes(ByVal numberOfRows As String, ByVal pageIndex As String, ByVal sortColumnName As String, ByVal sortOrderBy As String, ByRef totalRecords As Integer) As Collection(Of clsTest)
        Dim users As New Collection(Of clsTest)()
        Dim ds As New DataSet
        Dim param(4) As SqlParameter
        param(0) = New SqlParameter("@PageIndex", SqlDbType.Int)
        param(0).Value = pageIndex
        param(1) = New SqlParameter("@SortColumnName", SqlDbType.Char)
        param(1).Value = sortColumnName
        param(2) = New SqlParameter("@SortOrderBy", SqlDbType.Char)
        param(2).Value = sortOrderBy
        param(3) = New SqlParameter("@NumberOfRows", SqlDbType.Int)
        param(3).Value = numberOfRows
        param(4) = New SqlParameter("@TotalRecords", SqlDbType.Int)
        param(4).Value = totalRecords
        ds = ObjSubsonic.GetSubSonicDataSet("sp_Get_tbl_Test_V", param)
        If ds.Tables(0).Rows.Count > 0 Then
            For i As Integer = 0 To ds.Tables(0).Rows.Count - 1
                Dim user As New clsTest
                user.ID = ds.Tables(0).Rows(i).Item("ID").ToString
                user.FirstName = ds.Tables(0).Rows(i).Item("FirstName").ToString
                user.LastName = ds.Tables(0).Rows(i).Item("LastName").ToString
                user.UserName = ds.Tables(0).Rows(i).Item("UserName").ToString
              
                
                users.Add(user)
            Next
            totalRecords = CInt(ds.Tables(0).Rows.Count)
        End If
        Return users
    End Function
    
    Public ReadOnly Property IsReusable() As Boolean Implements IHttpHandler.IsReusable
        Get
            Return False
        End Get
    End Property
    
    
    Private Function BuildJQGridResults(ByVal clsTest As Collection(Of clsTest), ByVal numberOfRows As Integer, ByVal pageIndex As Integer, ByVal totalRecords As Integer) As String
        Dim result As New JQGridResults()
        Dim rows As New List(Of JQGridRow)()
        For Each Summary As clsTest In clsTest
            Dim row As New JQGridRow()
            row.cell = New String(2) {}
            row.id = Summary.ID.ToString()
            row.cell(0) = Summary.FirstName.ToString()
            row.cell(1) = Summary.LastName.ToString()
            row.cell(2) = Summary.UserName.ToString()
         
            
            rows.Add(row)
        Next
        result.rows = rows.ToArray()
        result.page = pageIndex
        result.total = totalRecords
        result.records = totalRecords
        Return New JavaScriptSerializer().Serialize(result)
    End Function



End Class