/* Setting the background color for the form */
BODY
{  
	font-family: Verdana, Verdana, Helvetica, sans-serif;
    background:"../Images/violet.jpg";  
}
.clsCroll 
{ 
	FONT-SIZE: 6pt; 
	LEFT: 0px; 
	VISIBILITY: hidden; 
	COLOR: white; 
	FONT-FAMILY: Verdana,Zurich BT; 
	POSITION: absolute; 
	TOP: 0px;
}
/*--------------------------------*/
/* setting for links on page */
A 
{
	font-family: Verdana, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	COLOR: black; 
	TEXT-DECORATION: none;
	/*background-image :url(images/textbg.jpg);*/
}

A:active 
{
	font-family: Verdana, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	COLOR: black; 
	/*background-image :url(images/textbg.jpg);*/
	TEXT-DECORATION: none
}

A:link 
{
	font-family: Verdana, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	COLOR: black; 
	/*background-image :url(images/textbg.jpg);*/
	TEXT-DECORATION: none
}

A:visited 
{
	font-family: Verdana, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	COLOR: black; 
	/*background-image :url(images/textbg.jpg);*/
	TEXT-DECORATION: none
}
a:hover 
{
	font-family: Verdana, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	text-decoration: none;
	/*background-image: url(images/text_bg.gif);*/
}	
/*--------------------------------*/
/* Propeties for Menu Content*/
#divCont 
{ 
	LEFT: 0px; 
	WIDTH: 300px; 
	HEIGHT: 200px;
	CLIP: rect(0px 500px 250px 0px); 
	COLOR: white; 
	font-family: Verdana, Verdana, Helvetica, sans-serif;
	POSITION: absolute; 
	TOP: 210px; 
}
/* Propeties for Menu Up Arrow and Down Arrow*/

#DIVCONtrOL 
{ 
	font-size: 9px;
	COLOR: white; 
	font-family: Verdana, Verdana, Helvetica, sans-serif;
	TOP: 0px;
}

/*----------------------------------------*/
/*Menu Links Properties */
a.clsMenu
	{
	font-family: Verdana,Helvetica;
	font-style : normal ;
	font-weight:bold ;
	font-size :  10px;
	/*background-image :url(images/textbg.jpg);*/
	color :black;
	text-decoration : none;
	}
a.clsMenu:active
	{
	font-family: Verdana,Helvetica;
	font-style : normal ;
	font-weight:bold ;
	/*background-image :url(images/textbg.jpg);*/
	font-size :  10px;
	color :black;
	text-decoration : none;
	}
a.clsMenu:link
	{
	font-family: Verdana,Helvetica;
	font-style : normal ;
	font-weight:bold ;
	font-size :  10px;
	/*background-image :url(images/textbg.jpg);*/
	color :black;
	text-decoration : none;
	}
a.clsMenu:hover
	{
	color :black;
	font-family: Verdana, Helvetica,;
	font-size :  10px;
	font-weight:bold ;
	font-style : normal ;
	/*background-image :url(images/textbg.jpg);*/
	/*background-color :#f2da91;*/
	padding :0px;
	/*border : solid #b59c52 1px; */
	text-decoration : none;
	} 
/*----------------------------------------*/

/*----------------------------------------*/