/* Setting the background color for the form */
BODY
	{
	margin-top: 0px;
	margin-left: 0px;
	margin-right:0px;
	margin-bottom:0px;
	font-size: 11px;
	font-family: verdana, arial, helvetica;
	background-color: White;
	}
/* Horizantal Line*/
HR
	{
	color: #999999;
	width: 100%;
	height:1px;
	}

/* Page Heading */
.clsHead
	{
 	font-family: verdana, arial, helvetica;
	font-size:18px;
	font-weight:bold;
	color:#000000;
	}
/*tables, Datagrid and Datalist 
Border need specify 1px
Purpose: For Input and Report Screens
*/
table.clstable
	{
	border-collapse:collapse;
	border-left:solid 1 #6699CC;
	border-right:solid 1 #6699CC;
	border-top:solid 1 #6699CC;
	border-bottom:solid 1 #6699CC;
	}
/*Input tables, Datagrid and Datalist headers text*/
td.clsHeaderText
	{	
	font-family: verdana, arial, helvetica;
	font-size: 11px;
	background:#F1F1F1;
	width:120px;
	height:25px;
	text-align:left;
	font-weight:bold;
	}
/* Setting for td properties */
td
	{	
	font-family: verdana, arial, helvetica;
	font-size: 11px;
	text-align:left;
	border-bottom:0;
	
	}
/*Fields title heading and for lables*/
.clsLabel
	{
	font-family: verdana, arial, helvetica;
	font-size:11px;
	font-weight:bold;
	}

/*--------------------------------*/
/* Attributes to be applied to the text fields on the form.*/
.clsTextField
	{
	font-weight: normal;
	font-size: 11px;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: left;
	border-color: #6699CC;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-width: 1;
	}
/* Attributes to be applied to the Read text fields on the form.*/
.clsTextFieldRead
	{
	font-weight: normal;
	font-size: 11px;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: left;
	border-color: #6699CC;
	background-color: #EFEFEF;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-width: 1;
	}
/* Attributes to be applied to the ComboBox on the form.*/
.clsComboBox
	{
	font-weight:bold;
	font-size: 11px;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: center;
	border: #6699CC 1px solid;
	background-color:#f1f1f1;
	}
/* Attributes to be applied to the button on the form.*/
.clsButton
	{
	font-weight:bold;
	font-size: 11px;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: center;
	border: #6699CC 1px solid;
	background-color:#f1f1f1;
	}

/* Attributes to be applied to radio button item on the form */
.clsRadioButton
	{
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	background: #ffffff;
	text-align: left;
	}
/* Attributes to be applied to check box item on the form */
.clsCheckBox
	{
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	background: #ffffff;
	}
/* Attributes to be applied to link button on the form */
.clsHypLink
	{
	font-weight:bold;
	font-size: 11px;
	color: #003399;
	font-style: normal;
	text-decoration: underline;
	font-family: Arial,Verdana,Helvetica;
	}
/*Alert Text Properties*/
.clsAlert
	{
	font-family: verdana, arial, helvetica;
	background-color:Blue;
	text-transform:uppercase;	
	font-size:11px;
	}
/*Warn Text Properties*/
.clsWarn
	{
	font-family: verdana, arial, helvetica;
	font-size:11px;
	color:Red;
	font-weight:bold;
	}
/*Note Text Properties*/
.clsNote
	{
	font-family: verdana, arial, helvetica;
	font-size:9px;
	color:Red;
	}
/*Error Text Properties*/
.clsError
	{
	font-family: verdana, arial, helvetica;
	font-size:11px;
	font-weight:bold;
	color:Red;
	}
/*Module Specific*/
/*Requsition Confirmation text*/
.clsConfirm
	{
	font-family: verdana, arial, helvetica;
	font-size:12px;
	color:Black;
	text-align:justify;
	}
/*Reservation Avilable td background*/
td.clsAvailRoom
	{
	cursor: hand;
	background-color: green;
	}
/*Reservation UnAvilable td background*/
td.clsUnAvailRoom
	{
	cursor: hand;
	background-color:Gray;
	}
/*Reservation WithHold td background*/
td.clsWithHold
	{
	cursor: hand;
	background-color:Black;
	}
/*Reservation Reserved td background*/
td.clsWithHold
	{
	cursor: hand;
	background-color:Red;
	}
/*--------------------------------*/
/* setting for links on page */
A
	{
	font-size: 11px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:active
	{
	font-size: 11px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:link
	{
	font-size: 11px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:visited
	{
	font-size: 11px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:hover
	{
	font-size: 11px;
	color:Red;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:unknown
	{
	font-size: 11px;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
/*--------------------------------*/


/*Top Links Ex: Log Off */

a.clsMenu
	{
	font-family: verdana, arial, helvetica;
	font-style : normal ;
	font-size : 9px;
	color :#ffffff;
	text-decoration : none;
	}
a.clsMenu:active
	{
	font-family: verdana, arial, helvetica;
	font-style : normal ;
	font-size : 9px;
	color :#ffffff;
	text-decoration : none;
	} 
a.clsMenu:link
	{
	font-family: Verdana,Helvetica;
	font-style : normal ;
	font-size : 9px;
	color :#ffffff;
	text-decoration : none;
	} 
a.clsMenu:visited
	{
	font-family: Verdana,Helvetica;
	font-style : normal ;
	font-size : 9px;
	color :#ffffff;
	text-decoration : none;
	} 
a.clsMenu:Hover
	{
	color :#EFEFEF;
	font-family: Verdana, Helvetica,;
	font-size : 9px;
	font-style : normal ;
	background-color :#5781D5;
	padding :1px;
	border : solid #ADC9FF 1px; 
	text-decoration : none;
	} 
/*--------------------------------*/


