
/* --------------------------------------*********
Page heading (ICICI)*/
.head
{
    color:#000000;
    font-family: verdana, arial, helvetica;
    font-size:9px;
    FONT-WEIGHT: bold;
    text-align:center;
}
/* Page Heading (a-mantra)*/
.clsHead
{
    color:#000000;
    font-family: verdana, arial, helvetica;
    font-size:9px;
    FONT-WEIGHT: bold;
    text-align:center;
}
/* --------------------------------------*********/
/**/
.clsRptCaption
{
    COLOR: maroon;
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 11px;
    }


/* --------------------------------------*********
Fields title heading and for lables (ICICI)*/
.label
{
    
    BACKGROUND-COLOR: #F1F1F1;
    COLOR:  #000000;
    font-family: verdana, arial, helvetica;
    font-size:9px;
    FONT-WEIGHT: bold;
    
}
/*Fields title heading and for lables (a-mantra)*/
.clsLabel
	{
    BACKGROUND-COLOR: #F1F1F1;
    COLOR:  #000000;
    font-family: verdana, arial, helvetica;
    font-size:9px;
    FONT-WEIGHT: bold;
    }
/* --------------------------------------*********/

/* --------------------------------------*********
Note Text Properties (ICICI)(*)*/
.note
	{
	color:Red;
    font-family: verdana, arial, helvetica;
    font-size:9px;
    }
/*Note Text Properties (amantra)(*)*/
.clsNote
	{
	color:Red;
    font-family: verdana, arial, helvetica;
    font-size:9px;
    }
/* --------------------------------------*********/

/* --------------------------------------*********
Warn Properties (ICICI)*/
.warn
{
	text-align:center;
	color:Red;
    font-family: verdana, arial, helvetica;
    font-size:9px;
}
/*Warn Properties (amantra)*/
.clsWarn
{
	text-align:center;
	color:Red;
    font-family: verdana, arial, helvetica;
    font-size:9px;
}
/* --------------------------------------*********/
/* --------------------------------------*********
Button Properties (ICICI)*/
.button
{
    CURSOR: hand;
	font-weight:bold;
	font-size: 9px;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: center;
	border: #6699CC 1px solid;
	background-color:#f1f1f1;
}
/*Button Properties (a-mantra)*/
.clsButton
	{
    CURSOR: hand;
	font-weight:bold;
	font-size: 9px;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: center;
	border: #6699CC 1px solid;
	background-color:#f1f1f1;
	}
/* --------------------------------------*********/
.clsUC
{
	text-transform:capitalize;
 
}
/* --------------------------------------*********
Link Button Properties (ICICI)*/
.href1
{
    COLOR: maroon;
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 9px;
    FONT-WEIGHT: bold;
}
/*Link Button Properties (amantra)*/
.clsHypLink
{
    color: #003399;
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 9px;
    FONT-WEIGHT: bold;
    text-decoration: underline;
}
/* --------------------------------------*********/
/* --------------------------------------*********
Link Button Properties (a-mantra)*/
BODY
{
    margin-top: 0px;
	margin-left: 0px;
	margin-right:0px;
	margin-bottom:0px;
	font-size: 9px;
	font-family: verdana, arial, helvetica;
	background-image: url(../Images/imgAMTlogobg.jpg);
	
}
BODY.MARK
{
    margin-top: 0px;
	margin-left: 0px;
	margin-right:0px;
	margin-bottom:0px;
	font-size: 9px;
	font-family: verdana, arial, helvetica;
	background-image: url(../Images/imgAMTlogoMark.jpg);
	
}
BODY.less
{
    margin-top: 0px;
	margin-left: 0px;
	margin-right:0px;
	margin-bottom:0px;
	font-size: 9px;
	font-family: verdana, arial, helvetica;
	
	
}
/* --------------------------------------*********/
/*--*/
tr
{
    BACKGROUND-COLOR: transparent;
}
/* --------------------------------------*********
TH Properties (a-mantra)*/
TH
{
    font-family: verdana, arial, helvetica;
	font-size: 9px;
	background:#F1F1F1;
	width:120px;
	height:25px;
	text-align:left;
	font-weight:bold;
}
/* --------------------------------------*********/



/* --------------------------------------*********
table Properties (a-mantra)*/
table
{
    BACKGROUND-COLOR: #ffffff;
    FONT-SIZE: 9px;
    FONT-WEIGHT: bold;
    border-color:#6699CC;  
    border-top-color:#6699CC;
    border-left-color:#6699CC;
    border-right-color:#6699CC;
    border-bottom-color:#6699CC; 
    border-collapse:collapse;
    padding:2,2,2,2;
    background-color:Transparent;
   
}
table.CHART
{
    BACKGROUND-COLOR: #ffffff;
    FONT-SIZE: 9px;
    FONT-WEIGHT: bold;
    border-color:#6699CC;  
    border-top-color:#6699CC;
    border-left-color:#6699CC;
    border-right-color:#6699CC;
    border-bottom-color:#6699CC; 
    padding:0,0,0,0;
    border-collapse:collapse;
}
FONT
{
    COLOR: #000000;
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 9px;
    FONT-WEIGHT: bold;
}

td
{
    COLOR: #000000;
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 9px;
    FONT-WEIGHT:normal;
}
/*To fix td height */
td.Fixed
{
    COLOR: #000000;
    height:55px;
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 9px;
    vertical-align:sub;
    FONT-WEIGHT:normal;
}
HR
{
	COLOR:Gray;
}

/*--------------------------------*/
/* setting for links on page */
A
	{
	font-size: 9px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:active
	{
	font-size: 9px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:link
	{
	font-size: 9px;
	color: #003399;
	font-weight:bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:visited
	{
	font-size: 9px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:hover
	{
	font-size: 9px;
	color:Red;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:unknown
	{
	font-size: 9px;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
/*--------------------------------*/
/* Attributes to be applied to radio button item on the form */

/*-------New Style Sheets-----------------*/
.clsRadioButton
	{
	font-weight: normal;
	font-size: 9px;
	color: #000000;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	background-color:Transparent;
	text-align: left;
	height:9px;
	}
/* Attributes to be applied to check box item on the form */
.clsCheckBox
	{
	font-weight: normal;
	font-size: 9px;
	color: #000000;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	background-color:Transparent;
	height:9px;
	}
/* Attributes to be applied to the ComboBox on the form.*/
.clsComboBox
	{
	font-size: 9px;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: center;
	border: #ffffff 1px solid;
	height:9px;
	}
/* Attributes to be applied to the Read text fields on the form.*/
.clsTextFieldRead
	{
	font-weight: normal;
	font-size: 9px;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: left;
	border-color: #6699CC;
	background-color: #EFEFEF;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-width: 1;
	height:18px;
	}
/* --------------------------------------*********
Fields title heading and for lables with out background*/
.clsLabel2
	{
    COLOR:  #000000;
    font-family: verdana, arial, helvetica;
    font-size:16px;
    FONT-WEIGHT: bold;
	}
/* --------------------------------------*********/
/* Attributes to be applied to the text fields on the form.*/
.clsTextField
	{
	font-weight: normal;
	font-size: 9px;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: left;
	border-color: #6699CC;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-width: 1;
	height:18px;
	}
/*Message*/
.clsMessage
	{
	COLOR:  #003399;
    font-family: verdana, arial, helvetica;
    font-size:9px;
    FONT-WEIGHT: bold;
	}
/*Page Sub headings*/
.clsSubHead
	{
	BACKGROUND-COLOR: #F1F1F1;
    COLOR:  #000000;
    font-family: verdana, arial, helvetica;
    font-size:9px;
    FONT-WEIGHT: bold;
	}
/*Link Buttons*/
.clsLink
	{
	COLOR:  #000000;
    font-family: verdana, arial, helvetica;
    font-size:9px;
    FONT-WEIGHT: bold;
	}