﻿<%@ Page Language="C#" AutoEventWireup="true" %>

<!DOCTYPE html>

<html lang="en" data-ng-app="QuickFMS">
<head id="Head1" runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    <script type="text/javascript" defer>
        function maxLength(s, args) {
            if (args.Value.length >= 500)
                args.IsValid = false;
        }
        function setup(id) {
            $('#' + id).datepicker({
                format: 'dd-M-yyyy',
                autoclose: true,
                todayHighlight: true
            });
        };
    </script>
    <style>
        /*.grid-align {
            text-align: center;
        }

        a:hover {
            cursor: pointer;
        }

        .ag-cell {
            color: black;
        }

        .ag-header-cell-filtered {
            background-color: #4682B4;
        }
*/
        .modal-header-primary {
            color: #1D1C1C;
            padding: 9px 15px;
        }

        #word {
            color: #4813CA;
        }

        #pdf {
            color: #FF0023;
        }

        #excel {
            color: #2AE214;
        }

        /*.ag-header-cell-filtered {
            background-color: #4682B4;
        }

        .ag-header-cell-menu-button {
            opacity: 1 !important;
            transition: opacity 0.5s, border 0.2s;
        }

        .ag-header-cell {
            background-color: #1c2b36;
        }*/
    </style>


    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->
</head>
<body data-ng-controller="BusinessCardCustomizable" class="amantra">
    <div class="animsition">
        <div class="al-content">
            <div class="widgets">
                <%--<div ba-panel ba-panel-title="Customizable Report" ba-panel-class="with-scroll">
                    <div class="panel">
                        <div class="panel-heading" style="height: 41px;">--%>
                <h3 class="panel-title">Customizable report</h3>
            </div>
            <div class="card">
                <%--<div class="panel-body" style="padding-right: 10px;">
                            <div class="clearfix">
                                <div class="box-footer text-right">
                                    <span style="color: red;">*</span>  Mandatory field &nbsp; &nbsp;   <span style="color: red;">**</span>  Select to auto fill the data
                                </div>
                            </div>--%>

                <form id="BC_Customizable" name="frmBusinessCardCustom" data-valid-submit="LoadData(0,BC_Customizable.Request_Type)">
                    <div class="row">
                        <%--  <div class="clearfix row">--%>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group" data-ng-class="{'has-error': frmBusinessCardCustom.$submitted && frmBusinessCardCustom.LCM_NAME.$invalid}">
                                <label class="control-label">Location <span style="color: red;">**</span></label>
                                <div isteven-multi-select data-input-model="Location" data-output-model="BC_Customizable.Location" data-button-label="icon LCM_NAME" data-item-label="icon LCM_NAME"
                                    data-on-item-click="LcmChanged()" data-on-select-all="LcmChangeAll()" data-on-select-none="LcmSelectNone()" data-tick-property="ticked" data-max-labels="1">
                                </div>
                                <input type="text" data-ng-model="BC_Customizable.Location" name="LCM_NAME" style="display: none" required="" />
                                <span class="error" style="color: red;" data-ng-show="frmBusinessCardCustom.$submitted && frmBusinessCardCustom.LCM_NAME.$invalid">Please select location </span>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group" data-ng-class="{'has-error': frmBusinessCardCustom.$submitted && frmBusinessCardCustom.DEP_NAME.$invalid}">
                                <label class="control-label">Department/LOB <span style="color: red;">**</span></label>
                                <div isteven-multi-select data-input-model="Department" data-output-model="BC_Customizable.Department" data-button-label="icon DEP_NAME" data-item-label="icon DEP_NAME"
                                    data-tick-property="ticked" data-max-labels="1">
                                </div>
                                <input type="text" data-ng-model="BC_Customizable.Department" name="DEP_NAME" style="display: none" required="" />
                                <span class="error" style="color: red;" data-ng-show="frmBusinessCardCustom.$submitted && frmBusinessCardCustom.DEP_NAME.$invalid">Please select department</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group" data-ng-class="{'has-error': frmBusinessCardCustom.$submitted && frmBusinessCardCustom.Request_Type.$invalid}">
                                <label class="control-label">Status type</label>
                                <br />
                                <select id="Request_Type" name="Request_Type" required="" data-ng-model="BC_Customizable.Request_Type" class="selectpicker">
                                    <option value="All">--All--</option>
                                    <option value="2004">In Progress</option>
                                    <option value="2005">On Hold</option>
                                    <option value="2006" selected>Closed</option>
                                    <option value="2007">Assigned</option>
                                </select><br />
                                <span class="error" data-ng-show="frmBusinessCardCustom.$submitted && frmBusinessCardCustom.Request_Type.$invalid" style="color: red">Please Select Status</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group" data-ng-class="{'has-error': frmBusinessCardCustom.$submitted && frmBusinessCardCustom.Columns.$invalid}">
                                <label class="control-label">Select columns<span style="color: red;">*</span></label>
                                <div isteven-multi-select data-input-model="Cols" data-output-model="COL" button-label="icon COL" item-label="icon COL" tick-property="ticked" data-on-select-all="" data-on-select-none="" data-max-labels="1">
                                </div>
                                <input type="text" data-ng-model="COL" name="Columns" style="display: none" required="" />
                                <span class="error" data-ng-show="frmBusinessCardCustom.$submitted && frmBusinessCardCustom.Columns.$invalid" style="color: red">Please Select Columns </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <%--    <div class="clearfix">--%>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Quick select</label>
                                <br />
                                <select id="ddlRange" data-ng-model="selVal" data-ng-change="rptDateRanges()" class="selectpicker">
                                    <option value="SELECT">Select range</option>
                                    <option value="TODAY">Today</option>
                                    <option value="YESTERDAY">Yesterday</option>
                                    <option value="7">Last 7 Days</option>
                                    <option value="30">Last 30 Days</option>
                                    <option value="THISMONTH">This Month</option>
                                    <option value="LASTMONTH">Last Month</option>
                                </select>
                            </div>
                        </div>
                          <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group" data-ng-class="{'has-error': frmBusinessCardCustom.$submitted && frmBusinessCardCustom.FromDate.$invalid}">
                                                <label class="control-label">From Date <span style="color: red;">*</span></label>
                                                <div class="input-group date"  id='fromdate'>
                                                    <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="Text1" name="FromDate" ng-model="BC_Customizable.FromDate" required />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar" onclick="setup('fromdate')"></span>
                                                    </span>
                                                </div>
                                                <span class="error" style="color: red;" data-ng-show="frmBusinessCardCustom.$submitted && frmBusinessCardCustom.FromDate.$invalid" style="color: red"></span>
                                            </div>
                                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group" data-ng-class="{'has-error': frmBusinessCardCustom.$submitted && frmBusinessCardCustom.ToDate.$invalid}">
                                                <label class="control-label">To Date <span style="color: red;">*</span></label>
                                                <div class="input-group date"  id='todate'>
                                                    <input type="text" id="Text2" class="form-control" required="" placeholder="mm/dd/yyyy" name="ToDate" ng-model="BC_Customizable.ToDate" />
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar" onclick="setup('todate')"></span>
                                                    </span>
                                                </div>
                                                <span class="error" style="color: red;" data-ng-show="frmBusinessCardCustom.$submitted && frmBusinessCardCustom.ToDate.$invalid" style="color: red"></span>
                                            </div>
                                        </div>
                       <%-- <div class="col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label>From Date<span class="text-danger">*</span></label>
                                <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" Display="none"
                                    ErrorMessage="Please Select From Date" ValidationGroup="Val1" ControlToValidate="txtFdate"></asp:RequiredFieldValidator>
                                <div class="input-group date" id='fromdate'>
                                    <asp:TextBox ID="txtFdate" runat="server" CssClass="form-control" placeholder="mm/dd/yyyy"></asp:TextBox>
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar" onclick="setup('fromdate') "></span>
                                    </div>
                                </div>

                            </div>
                        </div>--%>










                       <%-- <div class="col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label>To Date<span class="text-danger">*</span></label>
                                <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" Display="none"
                                    ErrorMessage="Please Select To Date" ValidationGroup="Val1" ControlToValidate="txtTdate"></asp:RequiredFieldValidator>
                                <div class="input-group date" id='todate'>
                                    <asp:TextBox ID="txtTdate" runat="server" CssClass="form-control" placeholder="mm/dd/yyyy"></asp:TextBox>
                                    <div class="input-group-addon">
                                        <span class="fa fa-calendar" onclick="setup('todate')"></span>
                                    </div>
                                </div>
                            </div>
                        </div>--%>

                        <div class="col-md-3 col-sm-6 col-xs-12" data-ng-show="CompanyVisible==0">
                            <div class="form-group">
                                <label class="control-label">Company</label>
                                <div isteven-multi-select data-input-model="Company" data-output-model="SpaceOccupancy.CNP_NAME" button-label="icon CNP_NAME" data-is-disabled="EnableStatus==0"
                                    item-label="icon CNP_NAME" tick-property="ticked" data-on-select-all="" data-on-select-none="" data-max-labels="1" selection-mode="single">
                                </div>
                                <input type="text" data-ng-model="SpaceOccupancy.CNP_NAME" name="CNP_NAME" style="display: none" required="" />
                                <span class="error" data-ng-show="frmSpaceOccupancy.$submitted && frmSpaceOccupancy.Company.$invalid" style="color: red">Please select company </span>
                            </div>
                        </div>


                    </div>
                    <br />
                    <br />
                    <div class="box-footer text-right" style="padding-left: 30px; padding-right: 30px; padding-top: 26px">
                        <input type="submit" value="Search" class="btn btn-primary custom-button-color" />
                    </div>



                    <div class="row" style="padding-right: 18px">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <%--   <label>View In : </label>
                                        <input id="viewswitch" type="checkbox" checked data-size="small" data-on-text="<span class='fa fa-table'></span>"
                                            data-off-text="<span class='fa fa-bar-chart'></span>" />--%>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" id="table2">
                            <br />
                            <a data-ng-click="GenReport(BC_Customizable,'doc')"><i id="word" data-toggle="tooltip" data-ng-show="DocTypeVisible==0" title="Export to Word" class="fa fa-file-word-o fa-2x pull-right"></i></a>
                            <a data-ng-click="GenReport(BC_Customizable,'xls')"><i id="excel" data-toggle="tooltip" title="Export to Excel" class="fa fa-file-excel-o fa-2x pull-right"></i></a>
                            <a data-ng-click="GenReport(BC_Customizable,'pdf')"><i id="pdf" data-toggle="tooltip" title="Export to Pdf" class="fa fa-file-pdf-o fa-2x pull-right"></i></a>
                        </div>
                    </div>
                    <br />
                    <div id="Tabular">
                        <div class="row" style="padding-bottom: 30px">
                            <div class="col-md-12">
                            <input type="text" class="form-control" id="filtertxt" placeholder="Filter by any..." style="width: 20%;"/>
                            <%--<div class="input-group" style="width: 20%">
                                            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="filtertxt">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary custom-button-color" type="submit">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </div>--%>

                            <div data-ag-grid="gridOptions" class="ag-blue" style="height: 310px;"></div>
                        </div></div>
                    </div>
                </form>
            </div>
        </div>
        <%-- </div>
                    </div>
                </div>
            </div>--%>
        <%--</div>--%>
    </div>
    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>

    <script src="../../../Scripts/jspdf.min.js" defer></script>
    <script src="../../../Scripts/jspdf.plugin.autotable.src.js" defer></script>
    <script src="../../../Scripts/Lodash/lodash.min.js" defer></script>
    <script src="../../../Scripts/DropDownCheckBoxList/isteven-multi-select.js" defer></script>
    <script src="../../../Scripts/moment.min.js" defer></script>
    <script defer>
        var app = angular.module('QuickFMS', ["agGrid", "isteven-multi-select"]);
        var CompanySession = '<%= Session["COMPANYID"]%>';
    </script>
    <%--<script src="../Js/BusinessCardCustomizable.min.js" defer></script>--%>
    <script src="../Js/BusinessCardCustomizable.js" defer></script>
    <script src="../../../SMViews/Utility.min.js" defer></script>
    <script type="text/javascript" defer>
        $(document).ready(function () {
            setDateVals();
        });
        var CompanySession = '<%= Session["COMPANYID"]%>';
        function setDateVals() {

            $('#Text1').datepicker({
                format: 'dd-M-yyyy',
                autoclose: true,
                todayHighlight: true
            });
            $('#Text2').datepicker({
                format: 'dd-M-yyyy',
                autoclose: true,
                todayHighlight: true
            });
            $('#Text1').datepicker('setDate', new Date(moment().subtract(29, 'days').format('DD-MMM-YYYY')));
            $('#Text2').datepicker('setDate', new Date(moment().format('DD-MMM-YYYY')));
            //$('#Text1').datepicker('setDate', new Date(moment().startOf('month').format('MM/DD/YYYY')));
            //$('#Text2').datepicker('setDate', new Date(moment().endOf('month').format('MM/DD/YYYY')));
        }
    </script>
</body>
</html>
