﻿<%@ Page Title="" Language="VB" AutoEventWireup="false" CodeFile="frmItemViewSMReport.aspx.vb" Inherits="FAM_FAM_Webfiles_frmItemViewSMReport" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->
    <script type="text/javascript" defer>
        function setup(id) {
            $('#' + id).datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true
            });
        };
    </script>
    <script src="../../Scripts/wz_tooltip.js" type="text/javascript" language="javascript" defer></script>
</head>
<body>
    <div class="animsition">
        <div class="al-content">
            <div class="widgets">
                <h3 class="panel-title">Consumable Stock Item Requisition Report</h3>
            </div>

            <div class="card">
                <form id="form1" runat="server">
                    <asp:ScriptManager ID="sc1" runat="server"></asp:ScriptManager>
                    <asp:ValidationSummary ID="ValidationSummary1" ValidationGroup="Val1" runat="server" CssClass="alert alert-danger" />
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="row">
                                    <asp:Label ID="lblMsg" runat="server" CssClass="col-md-12 control-label" ForeColor="Red"></asp:Label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Asset Category</label>
                                <asp:DropDownList ID="ddlAssetCategory" runat="server" CssClass="form-control selectpicker with-search" data-live-search="true" ToolTip="Select Asset Category" AutoPostBack="True">
                                </asp:DropDownList>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Asset Subcategory</label>
                                <asp:DropDownList ID="ddlAstSubCat" runat="server" CssClass="form-control selectpicker with-search" data-live-search="true" ToolTip="Select Asset Sub Category" AutoPostBack="True">
                                </asp:DropDownList>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Asset Brand/Make</label>
                                <asp:DropDownList ID="ddlAstBrand" runat="server" CssClass="form-control selectpicker with-search" data-live-search="true"
                                    ToolTip="Select Asset Brand/Make" AutoPostBack="True" OnSelectedIndexChanged="ddlAstBrand_SelectedIndexChanged">
                                </asp:DropDownList>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Asset Model</label>
                                <asp:DropDownList ID="ddlModel" runat="server" CssClass="form-control selectpicker with-search" data-live-search="true" ToolTip="Select Asset Model">
                                </asp:DropDownList>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Location</label>
                                <asp:DropDownList ID="ddlLocation" runat="server" CssClass="form-control selectpicker with-search" data-live-search="true" ToolTip="Select Asset Model">
                                </asp:DropDownList>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Duration</label>
                                <br />
                                <select id="ddlRange" class="form-control selectpicker with-search" onhange="getDate(this)">
                                    <option value="">Select Range</option>
                                    <option value="TODAY">Today</option>
                                    <option value="YESTERDAY">Yesterday</option>
                                    <option value="7">Last 7 Days</option>
                                    <option value="30">Last 30 Days</option>
                                    <option value="THISMONTH">This Month</option>
                                    <option value="LASTMONTH">Last Month</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>From Date</label>
                                <div class='input-group date' id='Div1'>
                                    <asp:TextBox ID="FromDate" runat="server" CssClass="form-control" placeholder="mm/dd/yyyy" MaxLength="10"> </asp:TextBox>
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar" onclick="setup('Div1')"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>To Date</label>
                                <div class='input-group date' id='Div4'>
                                    <asp:TextBox ID="txtToDate" runat="server" CssClass="form-control" placeholder="mm/dd/yyyy" MaxLength="10"> </asp:TextBox>
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar" onclick="setup('Div4')"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Company</label>
                                <asp:DropDownList ID="ddlCompany" runat="server" CssClass="form-control selectpicker with-search" data-live-search="true" ToolTip="Select company">
                                </asp:DropDownList>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <br />
                                <asp:Button ID="btnSubmit" runat="server" Text="Search" CssClass="btn btn-primary custom-button-color" ValidationGroup="Val1" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <rsweb:ReportViewer ID="ReportViewer1" runat="server" Width="100%"></rsweb:ReportViewer>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal4" tabindex='-1'>
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Consumable Stock Request Summary</h4>
                                </div>
                                <div id="modelcontainer">
                                    <iframe id="modalcontentframe4" width="100%" height="500px" style="border: none"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script defer>
                        function showPopWin4(id) {
                            $("#modalcontentframe4").attr("src", "/FAM/FAM_Webfiles/frmConsumableStockRequestSummary.aspx?Prd_id=" + id);
                            $("#myModal4").modal('show');
                            return false;
                        }
                    </script>
                </form>
            </div>
        </div>
    </div>

    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>
</body>
</html>
<script src="../../Scripts/moment.min.js" defer></script>
<script src="../../Utility.js" defer></script>
<script type="text/javascript" defer>
    $(document).ready(function () {
        $("#ddlRange").val('');
        rangeChanged();
    });

    function rangeChanged() {
        var selVal = $("#ddlRange").val();
        switch (selVal) {
            case 'TODAY':
                $("#ucItemViewSMReport1_FromDate").val(moment().format('DD-MMM-YYYY'));
                $("#ucItemViewSMReport1_txtToDate").val(moment().format('DD-MMM-YYYY'));
                break;
            case 'YESTERDAY':
                $("#ucItemViewSMReport1_FromDate").val(moment().subtract(1, 'days').format('DD-MMM-YYYY'));
                $("#ucItemViewSMReport1_txtToDate").val(moment().subtract(1, 'days').format('DD-MMM-YYYY'));
                break;
            case '7':
                $("#ucItemViewSMReport1_FromDate").val(moment().subtract(6, 'days').format('DD-MMM-YYYY'));
                $("#ucItemViewSMReport1_txtToDate").val(moment().format('DD-MMM-YYYY'));
                break;
            case '30':
                $("#ucItemViewSMReport1_FromDate").val(moment().subtract(29, 'days').format('DD-MMM-YYYY'));
                $("#ucItemViewSMReport1_txtToDate").val(moment().format('DD-MMM-YYYY'));
                break;
            case 'THISMONTH':
                $("#ucItemViewSMReport1_FromDate").val(moment().startOf('month').format('DD-MMM-YYYY'));
                $("#ucItemViewSMReport1_txtToDate").val(moment().endOf('month').format('DD-MMM-YYYY'));
                break;
            case 'LASTMONTH':
                $("#ucItemViewSMReport1_FromDate").val(moment().subtract(1, 'month').startOf('month').format('DD-MMM-YYYY'));
                $("#ucItemViewSMReport1_txtToDate").val(moment().subtract(1, 'month').endOf('month').format('DD-MMM-YYYY'));
                break;
            case '':
                $("#ucItemViewSMReport1_FromDate").val('');
                $("#ucItemViewSMReport1_txtToDate").val('');
                break;
        }
    }

    $("#ddlRange").change(function () {
        rangeChanged();
    });
</script>
