<%@ Control Language="VB" AutoEventWireup="false" CodeFile="AstAttributeSelection.ascx.vb" Inherits="Controls_AstAttributeSelection" %>

<%
'all the controls for this page are generated in the code
%>
<asp:Panel ID="pnlAttControls" runat="server">
</asp:Panel>