<%@ Control Language="VB" AutoEventWireup="false" CodeFile="Header.ascx.vb" Inherits="Modules_Header" %>
<table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td width="96" align="left" valign="top">
             <a href='<%=Page.ResolveUrl("~/frmAMTDefault.aspx")%>' title="Axis-Bank">
                <img alt="" src='<%=Page.ResolveUrl("~/images/company_logo.jpg")%>' /></a></td>
          <td align="right" valign="top" >
             <!--  <a href='<%=Page.ResolveUrl("~/frmAMTDefault.aspx")%>' title="Axis-Bank">
                <img alt="" src='<%=Page.ResolveUrl("~/images/company_logo.jpg")%>' /></a>-->
        </td>
    </tr>
    
</table>
