<%@ Control Language="VB" AutoEventWireup="false" CodeFile="top.ascx.vb" Inherits="Controls_top" %>
 <script type="text/javascript" language="JavaScript" src="Scripts/library.js"></script>
    <script type="text/javascript" language="JavaScript" src="Scripts/mapcontrols.js"></script>
     <table height="688" cellspacing="0" cellpadding="0" width="58" border="0" ms_2d_layout="TRUE">
        <tr valign="top">
            <td width="58" height="688">
                <form id="Form1" method="post" runat="server">
                   <table cellspacing="2" cellpadding="2" border="0">
			<tr>
				<td><b>Legend</b></td>
			</tr>
		</table>
		<table cellspacing="1" cellpadding="1" border="0" align="left">
			<tr>
				<td>Occupied</td>
				<td width="50">&nbsp;</td>
				<td bgcolor="#FF0000">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td>Vacant</td>
				<td width="50">&nbsp;</td>
				<td bgcolor="#00FF00">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
		</table>   
                </form>
            </td>
        </tr>
    </table>